Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

.lintstagedrc:

{
    "src/**/*.js": [
        "prettier --write"
    ],
    "gatsby-config.js": [
        "prettier --write"
    ],
    "gatsby-node.js": [
        "prettier --write"
    ],
    "gatsby-browser.js": [
        "prettier --write"
    ],
    "src/**/*.md": [
        "prettier --print-width=72 --write"
    ],
    "docs/**/*.md": [
        "prettier --print-width=72 --write"
    ]
}

Replace cookbook terminology with how-to guide
  src/docs/concepts-listings/how-the-search-works/index.md
  src/docs/concepts-transactions/transaction-process/index.md
  src/docs/concepts-users-and-authentication/social-logins-and-sso/index.md
  src/docs/ftw-introduction/01-how-to-customize-ftw/index.md
  src/docs/howto-design/customize-image-sizes/index.md
  src/docs/howto-events/view-events-with-flex-cli/index.md
  src/docs/howto-listing/extend-listing-data-in-ftw/index.md
  src/docs/howto-payments/customize-pricing/index.md
  src/docs/howto-search/change-search-filters-in-ftw/index.md
  src/docs/howto-search/use-keyword-search-in-topbar/index.md
  src/docs/howto-users-and-authentication/enable-facebook-login/index.md
  src/docs/howto-users-and-authentication/enable-google-login/index.md
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
  src/docs/howto-users-and-authentication/implement-delete-user/index.md
  src/docs/howto-users-and-authentication/setup-oidc-proxy/index.md
  src/docs/references/availability/index.md
  src/docs/references/events/index.md
  src/docs/tutorial-extended-data/add-extended-data/index.md
Due: prettier --print-width=72 --write

Add caveat about Apple Sign-in and OIDC
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --print-width=72 --write

Add caveat about Apple Sign-in and OIDC (#624)
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --print-width=72 --write

Replace cookbook terminology with how-to guide (#623)
  src/docs/concepts-listings/how-the-search-works/index.md
  src/docs/concepts-transactions/transaction-process/index.md
  src/docs/concepts-users-and-authentication/social-logins-and-sso/index.md
  src/docs/ftw-introduction/01-how-to-customize-ftw/index.md
  src/docs/howto-design/customize-image-sizes/index.md
  src/docs/howto-events/view-events-with-flex-cli/index.md
  src/docs/howto-listing/extend-listing-data-in-ftw/index.md
  src/docs/howto-payments/customize-pricing/index.md
  src/docs/howto-search/change-search-filters-in-ftw/index.md
  src/docs/howto-search/use-keyword-search-in-topbar/index.md
  src/docs/howto-users-and-authentication/enable-facebook-login/index.md
  src/docs/howto-users-and-authentication/enable-google-login/index.md
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
  src/docs/howto-users-and-authentication/implement-delete-user/index.md
  src/docs/howto-users-and-authentication/setup-oidc-proxy/index.md
  src/docs/references/availability/index.md
  src/docs/references/events/index.md
  src/docs/tutorial-extended-data/add-extended-data/index.md
Due: prettier --print-width=72 --write

Fix broken links + unnecessary redirects
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --print-width=72 --write

fix redirect from http to https
  src/docs/operator-guides/how-to-use-microcopy-editor/index.md
Due: prettier --print-width=72 --write

Fix a link without final trailing slash
  src/docs/concepts-development/microcopy/index.md
Due: prettier --print-width=72 --write

fix broken link from faq page
  src/config-site-structure.js
Due: prettier --write

Fix broken links + unnecessary redirects (#625)
  src/config-site-structure.js
  src/docs/concepts-development/microcopy/index.md
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
  src/docs/operator-guides/how-to-use-microcopy-editor/index.md
Due: prettier --write, prettier --print-width=72 --write

Add comment
  src/docs/concepts-pricing-and-commissions/discount-codes/index.md
Due: prettier --print-width=72 --write

Add Voucherify integration bullet points
  src/docs/concepts-integrations/integrations/index.md
Due: prettier --print-width=72 --write

Add mentions of design and mobile apps in introduction (#622)
  src/docs/introduction/introducing-flex/index.md
Due: prettier --print-width=72 --write

Add resource specific extended data articles (#621)
  src/docs/concepts-extended-data/extended-data-introduction/index.md
  src/docs/concepts-extended-data/listing-extended-data/index.md
  src/docs/concepts-extended-data/transaction-extended-data/index.md
  src/docs/concepts-extended-data/user-extended-data/index.md
  src/docs/concepts-listings/how-the-search-works/index.md
  src/docs/concepts-listings/listings-overview/index.md
Due: prettier --print-width=72 --write

Expand integration descriptions
  src/docs/concepts-integrations/integrations/index.md
Due: prettier --print-width=72 --write

Improve wording
  src/docs/concepts-integrations/integrations/index.md
Due: prettier --print-width=72 --write

Add links
  src/docs/concepts-integrations/integrations/index.md
Due: prettier --print-width=72 --write

Add missing articles
  src/docs/concepts-integrations/integrations/index.md
Due: prettier --print-width=72 --write

Improve readability
  src/docs/concepts-integrations/integrations/index.md
Due: prettier --print-width=72 --write

Add a concepts article on integrations in Flex (#626)
  src/config-site-structure.js
  src/docs/concepts-integrations/integrations/index.md
  src/ui-texts.json
Due: prettier --write, prettier --print-width=72 --write

Add mention of automatic capture on push payment intent
  src/docs/concepts-payments/payment-methods-overview/index.md
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
  src/docs/references/transaction-process-actions/index.md
Due: prettier --print-width=72 --write

add free templates article
  src/docs/operator-guides/free-templates/index.md
Due: prettier --print-width=72 --write

add free templates article (#628)
  src/docs/operator-guides/free-templates/index.md
Due: prettier --print-width=72 --write

add info and warning banners
  src/components/ArticlePage/MarkdownHtml.js
  src/components/Banner.js
  src/components/Info.js
  src/components/Warning.js
  src/components/index.js
Due: prettier --write

refactor and update docs
  docs/markdown-guide/index.md
  src/components/Banner.js
  src/components/Info.js
  src/components/Warning.js
  src/components/index.js
Due: prettier --write, prettier --print-width=72 --write

Add mention of Auth0 trailing slash
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --print-width=72 --write

add info and warning banners (#629)
  docs/markdown-guide/index.md
  src/components/ArticlePage/MarkdownHtml.js
  src/components/Banner.js
  src/components/Info.js
  src/components/Warning.js
  src/components/index.js
Due: prettier --write, prettier --print-width=72 --write

Use info box for Open ID Connect article
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --print-width=72 --write

Fix wording
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --print-width=72 --write

Add placeholders for new articles
  src/config-site-structure.js
  src/docs/ftw-configuration/configuration-in-ftw-x/index.md
  src/docs/ftw-introduction/introducing-ftw-x/index.md
  src/docs/ftw-legacy/ftw-hourly/availabilityPlan.png
  src/docs/ftw-legacy/ftw-hourly/bookingPanel.png
  src/docs/ftw-legacy/ftw-hourly/index.md
  src/docs/ftw-legacy/ftw-product/dispute-modal.png
  src/docs/ftw-legacy/ftw-product/flex-product-default-process.png
  src/docs/ftw-legacy/ftw-product/index.md
  src/docs/ftw-legacy/ftw-product/listing-page-full-image.png
  src/docs/ftw-legacy/ftw-product/search-page-with-list.png
  src/docs/ftw-legacy/index.md
  src/docs/tutorial-branding/first-edit/index.md
  src/ui-texts.json
Due: prettier --write, prettier --print-width=72 --write

Update configBranding related tutorial articles
  src/docs/ftw-legacy/index.md
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
  src/docs/tutorial-branding/change-image-assets/index.md
  src/docs/tutorial-branding/change-logo/index.md
  src/docs/tutorial-branding/first-edit/index.md
Due: prettier --print-width=72 --write

add space to <info> and style paragraphs in banner
  src/components/Banner.js
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --write, prettier --print-width=72 --write

Add mention of postponing provider onboarding
  src/docs/howto-payments/provider-onboarding-and-identity-verification/index.md
  src/docs/howto-payments/provider-onboarding-and-identity-verification/payment_details_missing.png
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --print-width=72 --write

Improve wording
  src/docs/howto-payments/provider-onboarding-and-identity-verification/index.md
Due: prettier --print-width=72 --write

Add mention of postponing provider onboarding (#631)
  src/docs/howto-payments/provider-onboarding-and-identity-verification/index.md
  src/docs/howto-payments/provider-onboarding-and-identity-verification/payment_details_missing.png
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --print-width=72 --write

Update tutorial part 1 articles
  _redirects
  src/config-site-structure.js
  src/docs/ftw-legacy/legacy-overview/index.md
  src/docs/tutorial-branding/change-default-locations/index.md
  src/docs/tutorial-branding/configuration/index.md
  src/docs/tutorial-branding/customize-amenities-filter/index.md
  src/docs/tutorial-branding/implement-amenities-filter/console-amenities-public-data.png
  src/docs/tutorial-branding/implement-amenities-filter/default-amenities-filter.png
  src/docs/tutorial-branding/implement-amenities-filter/index.md
  src/docs/tutorial-branding/implement-amenities-filter/updated-amenities-filter.png
  src/docs/tutorial-branding/working-with-microcopy/index.md
Due: prettier --write, prettier --print-width=72 --write

Add mention of Auth0 trailing slash (#630)
  src/components/Banner.js
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --write, prettier --print-width=72 --write

Remove extended data tutorial and rename extended data article
  src/config-site-structure.js
  src/docs/tutorial-branding/modify-listing-extended-data/console-amenities-public-data.png
  src/docs/tutorial-branding/modify-listing-extended-data/default-amenities-filter.png
  src/docs/tutorial-branding/modify-listing-extended-data/index.md
  src/docs/tutorial-branding/modify-listing-extended-data/updated-amenities-filter.png
  src/docs/tutorial-extended-data/add-extended-data/editlistingfeaturespanel.png
  src/docs/tutorial-extended-data/add-extended-data/index.md
  src/docs/tutorial-extended-data/filter-with-extended-data/index.md
  src/docs/tutorial-extended-data/show-extended-data/cottage_with_sea_view.png
  src/docs/tutorial-extended-data/show-extended-data/index.md
  src/ui-texts.json
Due: prettier --write, prettier --print-width=72 --write

Update cleaning fee tutorial code examples to Biketribe
  src/docs/tutorial-transaction-process/customize-pricing/index.md
Due: prettier --print-width=72 --write

Add mention of microcopy copied from dev to prod when prod created
  src/docs/operator-guides/how-to-use-microcopy-editor/index.md
Due: prettier --print-width=72 --write

add fix to font colour in lists
  src/components/Banner.js
Due: prettier --write
