Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

.lintstagedrc:

{
    "src/**/*.js": [
        "prettier --write"
    ],
    "gatsby-config.js": [
        "prettier --write"
    ],
    "gatsby-node.js": [
        "prettier --write"
    ],
    "gatsby-browser.js": [
        "prettier --write"
    ],
    "src/**/*.md": [
        "prettier --print-width=72 --write"
    ],
    "docs/**/*.md": [
        "prettier --print-width=72 --write"
    ]
}

Add missing links
  src/docs/concepts-api-sdk/authentication-api/index.md
  src/docs/concepts-development/console-overview/index.md
  src/docs/ftw-configuration/hosted-and-local-configurations/index.md
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --print-width=72 --write

Point link to tutorial instead of operator guide
  src/docs/concepts-development/console-overview/index.md
Due: prettier --print-width=72 --write

Adjustments to tutorial introduction
  src/docs/tutorial-rental/How to go Live/index.md
  src/docs/tutorial-rental/Introduction to Rental tutorial/index.md
  src/ui-texts.json
Due: prettier --print-width=72 --write

Fix link
  src/docs/tutorial/introduction/index.md
Due: prettier --print-width=72 --write

updating
  src/docs/tutorial-rental/basic-configuration-marketplace-branding/index.md
  src/docs/tutorial-rental/static-content-changing-the-marketplace-default-texts/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/tutorial-rental/basic-configuration-marketplace-branding/index.md
Due: prettier --print-width=72 --write

Fix broken links
  src/docs/ftw-configuration/how-to-set-up-currency-in-ftw/index.md
  src/docs/howto-payments/provider-onboarding-and-identity-verification/index.md
  src/docs/operator-guides-listings/what-are-listing-types/index.md
  src/docs/tutorial-branding/configuration/index.md
  static/tutorial-assets/favicon-16x16.png
  static/tutorial-assets/favicon-32x32.png
  static/tutorial-assets/favicon.png
Due: prettier --print-width=72 --write

updatingpd
  src/docs/tutorial-rental/Explore-the-marketplace-sign-up-as-a-new-user/index.md
  src/docs/tutorial-rental/explore-the-marketplace-create-your-first-listing/index.md
Due: prettier --print-width=72 --write

Fix broken links (#701)
  src/docs/ftw-configuration/how-to-set-up-currency-in-ftw/index.md
  src/docs/howto-payments/provider-onboarding-and-identity-verification/index.md
  src/docs/operator-guides-listings/what-are-listing-types/index.md
  src/docs/tutorial-branding/configuration/index.md
  static/tutorial-assets/favicon-16x16.png
  static/tutorial-assets/favicon-32x32.png
  static/tutorial-assets/favicon.png
Due: prettier --print-width=72 --write

updating
  src/docs/tutorial-rental/Explore-the-marketplace-sign-up-as-a-new-user/index.md
  src/docs/tutorial-rental/explore-the-marketplace-create-your-first-transaction/index.md
  src/docs/tutorial-rental/listing-settings-customizing-listing-search/index.md
Due: prettier --print-width=72 --write

final updates
  src/docs/tutorial-rental/listing-settings-customizing-listing-search/index.md
  src/docs/tutorial-rental/listing-settings-setting-the-right-listing-type/index.md
  src/docs/tutorial-rental/static-content-changing-the-marketplace-default-texts/index.md
Due: prettier --print-width=72 --write

More adjustments to tutorial introduction
  src/docs/tutorial-rental/Introduction to Rental tutorial/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/tutorial-rental/explore-the-marketplace-create-your-first-listing/index.md
Due: prettier --print-width=72 --write

change url from tutorial-rental to the new-sharetribe
  src/config-site-structure.js
  src/docs/tutorial-rental/Basic-configuration-configure-commission-and-minimum-listing-price/index.md
  src/docs/tutorial-rental/Explore-the-marketplace-sign-up-as-a-new-user/index.md
  src/docs/tutorial-rental/How to go Live/index.md
  src/docs/tutorial-rental/Introduction to Rental tutorial/index.md
  src/docs/tutorial-rental/basic-configuration-layout/index.md
  src/docs/tutorial-rental/basic-configuration-marketplace-branding/index.md
  src/docs/tutorial-rental/explore-the-marketplace-create-your-first-listing/index.md
  src/docs/tutorial-rental/explore-the-marketplace-create-your-first-transaction/index.md
  src/docs/tutorial-rental/index.md
  src/docs/tutorial-rental/listing-settings-creating-listing-fields/index.md
  src/docs/tutorial-rental/listing-settings-customizing-listing-search/index.md
  src/docs/tutorial-rental/listing-settings-setting-the-right-listing-type/index.md
  src/docs/tutorial-rental/lsiting-settings-setting-the-right-listing-type/index.md
  src/docs/tutorial-rental/static-content-changing-the-marketplace-default-texts/index.md
  src/docs/tutorial-rental/static-content-editing-the-footer/index.md
  src/docs/tutorial-rental/static-content-modify-the-landing-page/index.md
  src/docs/tutorial-rental/steps-after-tutorial/index.md
  src/pages/the-new-sharetribe.js
  src/ui-texts.json
Due: prettier --write, prettier --print-width=72 --write

fix error messages
  src/components/Sidebar/CategoryList.js
  src/docs/the-new-sharetribe/lsiting-settings-setting-the-right-listing-type/index.md
Due: prettier --write, prettier --print-width=72 --write

hide logo and link to new sharetribe
  src/components/Topbar/Logo.js
  src/components/Topbar/Topbar.js
Due: prettier --write

category updates for new-sharetribe-guides
  src/config-site-structure.js
  src/docs/the-new-sharetribe/Basic-configuration-configure-commission-and-minimum-listing-price/index.md
  src/docs/the-new-sharetribe/Explore-the-marketplace-sign-up-as-a-new-user/index.md
  src/docs/the-new-sharetribe/How to go Live/index.md
  src/docs/the-new-sharetribe/Introduction to Rental tutorial/index.md
  src/docs/the-new-sharetribe/basic-configuration-layout/index.md
  src/docs/the-new-sharetribe/basic-configuration-marketplace-branding/index.md
  src/docs/the-new-sharetribe/explore-the-marketplace-create-your-first-listing/index.md
  src/docs/the-new-sharetribe/explore-the-marketplace-create-your-first-transaction/index.md
  src/docs/the-new-sharetribe/index.md
  src/docs/the-new-sharetribe/listing-settings-creating-listing-fields/index.md
  src/docs/the-new-sharetribe/listing-settings-customizing-listing-search/index.md
  src/docs/the-new-sharetribe/listing-settings-setting-the-right-listing-type/index.md
  src/docs/the-new-sharetribe/lsiting-settings-setting-the-right-listing-type/index.md
  src/docs/the-new-sharetribe/static-content-changing-the-marketplace-default-texts/index.md
  src/docs/the-new-sharetribe/static-content-editing-the-footer/index.md
  src/docs/the-new-sharetribe/static-content-modify-the-landing-page/index.md
  src/docs/the-new-sharetribe/steps-after-tutorial/index.md
  src/pages/the-new-sharetribe.js
  src/ui-texts.json
Due: prettier --write, prettier --print-width=72 --write

Update config-site-structure.js
  src/config-site-structure.js
Due: prettier --write

array
  src/config-site-structure.js
Due: prettier --write

re-uploading stripe article
  src/docs/the-new-sharetribe/How to setup Stripe /index.md
  src/docs/the-new-sharetribe/How to setup Stripe /stripe-1.png
  src/docs/the-new-sharetribe/How to setup Stripe /stripe-10.png
  src/docs/the-new-sharetribe/How to setup Stripe /stripe-11.png
  src/docs/the-new-sharetribe/How to setup Stripe /stripe-12.png
  src/docs/the-new-sharetribe/How to setup Stripe /stripe-13.png
  src/docs/the-new-sharetribe/How to setup Stripe /stripe-14.png
  src/docs/the-new-sharetribe/How to setup Stripe /stripe-15.png
  src/docs/the-new-sharetribe/How to setup Stripe /stripe-2.png
  src/docs/the-new-sharetribe/How to setup Stripe /stripe-3.png
  src/docs/the-new-sharetribe/How to setup Stripe /stripe-4.png
  src/docs/the-new-sharetribe/How to setup Stripe /stripe-5.png
  src/docs/the-new-sharetribe/How to setup Stripe /stripe-6.png
  src/docs/the-new-sharetribe/How to setup Stripe /stripe-7.png
  src/docs/the-new-sharetribe/How to setup Stripe /stripe-8.png
  src/docs/the-new-sharetribe/How to setup Stripe /stripe-9.png
Due: prettier --print-width=72 --write

Update ui-texts.json
  src/ui-texts.json
Due: none

updated go live article with dns values
  src/config-site-structure.js
  src/docs/the-new-sharetribe/How to go Live/go-live-1.png
  src/docs/the-new-sharetribe/How to go Live/go-live-2.png
  src/docs/the-new-sharetribe/How to go Live/go-live-3.png
  src/docs/the-new-sharetribe/How to go Live/go-live-4.png
  src/docs/the-new-sharetribe/How to go Live/go-live-5.png
  src/docs/the-new-sharetribe/How to go Live/index.md
Due: prettier --write, prettier --print-width=72 --write

Update index.md
  src/docs/the-new-sharetribe/How to go Live/index.md
Due: prettier --print-width=72 --write

Fix a few images and a couple of typos
  src/docs/operator-guides-listings/default-availability-management-options/index.md
  src/docs/operator-guides-transactions/default-transaction-process-options/index.md
Due: prettier --print-width=72 --write

'Login as user' operator guide
  src/docs/operator-guides-concepts/logging-in-as-user/01-manage-users-login-as-user.png
  src/docs/operator-guides-concepts/logging-in-as-user/02-logged-in-as-user.png
  src/docs/operator-guides-concepts/logging-in-as-user/index.md
Due: prettier --print-width=72 --write

enable categories on tns index page
  src/components/OperatorGuidesPage/OperatorGuidesPage.js
  src/pages/the-new-sharetribe.js
Due: prettier --write

add dynamic footer
  src/components/ArticlePage/ArticlePage.js
  src/components/ArticlePage/Footer.js
Due: prettier --write

enable alternative search
  src/components/ArticlePage/Footer.js
  src/components/Topbar/Search.js
  src/util/utils.js
Due: prettier --write

Lots of edits to tutorial articles
  src/docs/the-new-sharetribe/Introduction to Rental tutorial/index.md
  src/docs/the-new-sharetribe/basic-configuration-layout/index.md
  src/docs/the-new-sharetribe/basic-configuration-marketplace-branding/index.md
  src/docs/the-new-sharetribe/listing-settings-creating-listing-fields/index.md
  src/docs/the-new-sharetribe/listing-settings-setting-the-right-listing-type/index.md
  src/docs/the-new-sharetribe/lsiting-settings-setting-the-right-listing-type/index.md
  src/docs/the-new-sharetribe/static-content-modify-the-landing-page/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/tutorial-rental/Basic-configuration-configure-commission-and-minimum-listing-price/index.md
Due: prettier --print-width=72 --write
