Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

combined template and environment renaming operator guide changes (#681)
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/index.md
  src/docs/operator-guides-static-content/how-to-edit-pages/index.md
  src/docs/operator-guides-static-content/how-to-enable-pages/index.md
  src/docs/operator-guides-static-content/how-to-use-microcopy-editor/index.md
  src/docs/operator-guides-static-content/introducing-pages/index.md
  src/docs/operator-guides-useful-information/concepts/concepts.md
  src/docs/operator-guides-useful-information/feature-knowledge-base/index.md
  src/docs/operator-guides-useful-information/features/index.md
  src/docs/operator-guides-useful-information/what-is-the-difference-between-flex-and-go-source-available/index.md
Due: prettier --print-width=72 --write

updating instructions on how to use environments
  src/docs/operator-guides-static-content/how-to-enable-pages/index.md
Due: prettier --print-width=72 --write

merging changes from master to new console
  src/docs/operator-guides-static-content/how-to-edit-pages/index.md
  src/docs/operator-guides-static-content/how-to-enable-pages/index.md
Due: prettier --print-width=72 --write

updates to Template introduction
  src/docs/introduction/introducing-template/index.md
  src/docs/operator-guides-static-content/how-to-footer-works/index.md
Due: prettier --print-width=72 --write

updating pilot day categories
  src/config-site-structure.js
Due: prettier --write

Update config-site-structure.js
  src/config-site-structure.js
Due: prettier --write

updating pilot day categories
  src/config-site-structure.js
  src/docs/pilot-day-guides/pilot-day-pages/operator-guides-pages/edit-seo-and-social-tags/index.md
  src/docs/pilot-day-guides/pilot-day-pages/operator-guides-pages/how-to-create-an-faq-page/index.md
  src/docs/pilot-day-guides/pilot-day-pages/operator-guides-pages/how-to-edit-pages/index.md
  src/docs/pilot-day-guides/pilot-day-pages/operator-guides-pages/how-to-enable-pages/index.md
  src/docs/pilot-day-guides/pilot-day-pages/operator-guides-pages/how-to-format-your-text-in-pages/index.md
  src/docs/pilot-day-guides/pilot-day-pages/operator-guides-pages/introducing-pages/index.md
  src/docs/pilot-day-guides/pilot-day-pages/operator-guides-pages/section-templates/index.md
  src/pages/pilot-day-guides.js
  src/ui-texts.json
Due: prettier --write, prettier --print-width=72 --write

part 2
  src/docs/operator-guides-listings/listing-fields/index.md
  src/docs/operator-guides-listings/listing-fields/select_multiple-field-listing_form.png
  src/docs/operator-guides-listings/listing-fields/select_multiple-field-listing_page.png
  src/docs/operator-guides-listings/listing-fields/select_one-field-listing_form.png
  src/docs/operator-guides-listings/listing-fields/select_one-field-listing_page.png
  src/docs/operator-guides-listings/listing-search-settings/index.md
  src/docs/operator-guides-listings/location-search/index.md
  src/docs/operator-guides-listings/understanding-filters/index.md
  src/docs/operator-guides-listings/what-are-listing-types/index.md
  src/docs/operator-guides-static-content/edit-seo-and-social-tags/index.md
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-0-1-full-page.jpg
Due: prettier --print-width=72 --write

part 3
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-1-faq-section.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-10-faq-block-7.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-11-faq-block-8.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-12-faq-block-9.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-13-review-section.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-14-review-block-1.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-15-review-block-2.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-16-review-block-3.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-17-review-block-4.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-2-faq-block-1.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-3-faq-block-2.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-4-faq-block-3.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-5-faq-section-2.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-6-faq-block-4.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-7-faq-block-5.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-8-faq-block-6.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-5-9-faq-section-3.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-6-1-errors-1.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-6-2-errors-2.jpg
  src/docs/operator-guides-static-content/how-to-create-an-faq-page/faq-7-1-set-page-live.jpg
Due: none

part 6
  src/docs/pilot-day-guides/operator-guides-static-content/edit-seo-and-social-tags/index.md
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-0-1-full-page.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-3-1-page-id.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-3-2-edit-content.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-4-1-hero-image.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-4-2-hero-section.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-1-faq-section.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-10-faq-block-7.jpg
Due: prettier --print-width=72 --write

part 8
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-11-faq-block-8.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-12-faq-block-9.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-13-review-section.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-14-review-block-1.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-15-review-block-2.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-16-review-block-3.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-17-review-block-4.jpg
Due: none

part 9
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-2-faq-block-1.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-3-faq-block-2.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-4-faq-block-3.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-5-faq-section-2.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-6-faq-block-4.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-7-faq-block-5.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-8-faq-block-6.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-5-9-faq-section-3.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-6-1-errors-1.jpg
Due: none

part 10
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-6-2-errors-2.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-7-1-set-page-live.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/faq-7-2-full-page.jpg
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-create-an-faq-page/index.md
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-edit-pages/add-new-block.png
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-edit-pages/content-model-landing-page.png
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-edit-pages/copy-to-production.png
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-edit-pages/edit-sections.gif
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-edit-pages/index.md
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-edit-pages/landing-page-sections.png
Due: prettier --print-width=72 --write

part 11
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-edit-pages/title-and-description.png
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-enable-pages/index.md
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-footer-works/index.md
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-format-your-text-in-pages/Sharetribe-logo.png
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-format-your-text-in-pages/headers.png
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-format-your-text-in-pages/index.md
Due: prettier --print-width=72 --write

part 12
  src/docs/pilot-day-guides/operator-guides-static-content/how-to-use-microcopy-editor/changeTexts.webm
Due: none

part 18
  src/docs/pilot-day-guides/operator-guides-static-content/section-templates/columns.png
  src/docs/pilot-day-guides/operator-guides-static-content/section-templates/features.png
  src/docs/pilot-day-guides/operator-guides-static-content/section-templates/index.md
  src/docs/pilot-day-guides/operator-guides-transactions/how-to-set-your-marketplace-commission/index.md
  src/docs/pilot-day-guides/operator-guides-transactions/minimum-transaction-size/index.md
  src/docs/pilot-day-guides/operator-guides-transactions/understanding-transaction-settings/index.md
  src/docs/pilot-day-guides/operator-guides-transactions/why-is-commission-important/index.md
  src/docs/pilot-day-guides/operator-guides-useful-information/can-i-trust-that-flex-scales-to-my-needs/index.md
  src/docs/pilot-day-guides/operator-guides-useful-information/concepts/concepts.md
  src/docs/pilot-day-guides/operator-guides-useful-information/feature-knowledge-base/index.md
  src/docs/pilot-day-guides/operator-guides-useful-information/features/index.md
  src/docs/pilot-day-guides/operator-guides-useful-information/free-templates/index.md
Due: prettier --print-width=72 --write

pilot day tutorial intros
  src/config-site-structure.js
  src/docs/pilot-day-guides/pilot-day-guides-tutorials/Introduction to Rental tutorial/index.md
  src/pages/pilot-day-guides.js
  src/ui-texts.json
Due: prettier --write, prettier --print-width=72 --write

Update ui-texts.json
  src/ui-texts.json
Due: none

Add favorite listings tutorial
  src/config-site-structure.js
  src/docs/tutorial-listings/favorite-saunas/index.md
  src/docs/tutorial-listings/favorite-saunas/saunatime-default-profile-menu.png
  src/docs/tutorial-listings/favorite-saunas/saunatime-favorites-button-key.png
  src/docs/tutorial-listings/favorite-saunas/saunatime-favorites-button-value.png
  src/docs/tutorial-listings/favorite-saunas/saunatime-favorites-console.png
  src/docs/tutorial-listings/favorite-saunas/saunatime-favorites-page.png
  src/docs/tutorial-listings/favorite-saunas/saunatime-favorites-profile-menu.png
  src/docs/tutorial-listings/favorite-saunas/saunatime-favorites-update-profile-network.png
  src/docs/tutorial-listings/favorite-saunas/saunatime-usernav-favorites.png
  static/tutorial-assets/FavoriteListingsPage.duck.js
  static/tutorial-assets/FavoriteListingsPage.js
  static/tutorial-assets/FavoriteListingsPage.module.css
Due: prettier --write, prettier --print-width=72 --write

Add configuration information to listing tutorials
  src/docs/tutorial-listings/favorite-saunas/index.md
  src/docs/tutorial-listings/new-wizard-tab/index.md
Due: prettier --print-width=72 --write

more links to articles
  src/docs/operator-guides-concepts/biketribe-configuration-checklist/index.md
  src/docs/operator-guides-concepts/how-to-build-launch-operate/index.md
Due: prettier --print-width=72 --write

updates to intro
  src/docs/tutorial-branding/change-default-locations/auckland-in-default-locations.png
  src/docs/tutorial-branding/change-default-locations/default-search-locations.png
  src/docs/tutorial-branding/change-default-locations/find-bounds-for-auckland.png
  src/docs/tutorial-branding/change-default-locations/index.md
  src/docs/tutorial-branding/configuration/index.md
  src/docs/tutorial-branding/first-edit/identifycss.png
  src/docs/tutorial-branding/first-edit/index.md
  src/docs/tutorial-branding/first-edit/inspect-element.png
  src/docs/tutorial-branding/working-with-microcopy/index.md
  src/docs/tutorial-branding/working-with-microcopy/updated_topbar_microcopy.png
Due: prettier --print-width=72 --write

Update tutorial on adding a new transaction process
  src/docs/tutorial-transaction-process/create-transaction-process/cottage-days-booking-process.png
  src/docs/tutorial-transaction-process/create-transaction-process/decline-preauthorized-by-operator.png
  src/docs/tutorial-transaction-process/create-transaction-process/index.md
  src/docs/tutorial-transaction-process/create-transaction-process/new-process-microcopy-keys.png
  src/docs/tutorial-transaction-process/create-transaction-process/new-process-microcopy-strings.png
  src/docs/tutorial-transaction-process/create-transaction-process/saunatime-instant-booking-dropdown.png
  src/docs/tutorial-transaction-process/create-transaction-process/saunatime-instant-booking-process.png
  src/docs/tutorial-transaction-process/create-transaction-process/updated-process.png
Due: prettier --print-width=72 --write

Unify summary sections in tutorial
  src/docs/tutorial-listings/favorite-saunas/index.md
  src/docs/tutorial-listings/new-wizard-tab/index.md
  src/docs/tutorial-transaction-process/customize-pricing/index.md
  src/docs/tutorial-transaction-process/use-protected-data-in-emails/index.md
Due: prettier --print-width=72 --write

Update email template adding tutorial
  src/docs/tutorial-transaction-process/add-email-notification/index.md
  static/tutorial-assets/booking-reminder-customer-html.txt
  static/tutorial-assets/booking-reminder-customer-subject.txt
Due: prettier --print-width=72 --write

Update cleaning fee tutorial
  src/docs/tutorial-transaction-process/customize-pricing/checkoutPageBreakdown.png
  src/docs/tutorial-transaction-process/customize-pricing/cleaningFeeBookingBreakdown.png
  src/docs/tutorial-transaction-process/customize-pricing/cleaningFeeCheckbox.png
  src/docs/tutorial-transaction-process/customize-pricing/consoleBookingBreakdown.png
  src/docs/tutorial-transaction-process/customize-pricing/editlistingpricepanel.png
  src/docs/tutorial-transaction-process/customize-pricing/index.md
Due: prettier --print-width=72 --write

Update protected data reveal tutorial
  src/docs/tutorial-transaction-process/use-protected-data-in-emails/index.md
  src/docs/tutorial-transaction-process/use-protected-data-in-emails/phone-number-in-protected-data.png
  src/docs/tutorial-transaction-process/use-protected-data-in-emails/updated-email-notification.png
Due: prettier --print-width=72 --write

Update index.md
  src/docs/pilot-day-guides/pilot-day-guides-tutorials/Introduction to Rental tutorial/index.md
Due: prettier --print-width=72 --write

moving intro article over to tutorial-rental
  src/docs/tutorial-rental/Introduction to Rental tutorial/index.md
Due: prettier --print-width=72 --write

Path conditions:
  prettier --write: (((any of: src/**/*.js) or (any of: gatsby-config.js)) or (any of: gatsby-node.js)) or (any of: gatsby-browser.js)
  prettier --print-width=72 --write: (any of: src/**/*.md) or (any of: docs/**/*.md)
