Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

.lintstagedrc:

{
    "src/**/*.js": [
        "prettier --write"
    ],
    "gatsby-config.js": [
        "prettier --write"
    ],
    "gatsby-node.js": [
        "prettier --write"
    ],
    "gatsby-browser.js": [
        "prettier --write"
    ],
    "src/**/*.md": [
        "prettier --print-width=72 --write"
    ],
    "docs/**/*.md": [
        "prettier --print-width=72 --write"
    ]
}

Update screenshots and process names
  src/docs/concepts-development/microcopy/index.md
  src/docs/howto-payments/removing-stripe/index.md
  src/docs/tutorial-branding/modify-listing-extended-data/console-amenities-public-data.png
  src/docs/tutorial-branding/modify-listing-extended-data/console-listing-attributes-public-data.png
  src/docs/tutorial-branding/modify-listing-extended-data/default-amenities-filter.png
  src/docs/tutorial-branding/modify-listing-extended-data/default-category-filter.png
  src/docs/tutorial-branding/modify-listing-extended-data/index.md
  src/docs/tutorial-branding/modify-listing-extended-data/updated-amenities-filter.png
Due: prettier --print-width=72 --write

Moving FAQ article to operator guides folder
  src/docs/operator-guides/how-to-create-an-faq-page/0-1-full-page.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/3-1-page-id.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/3-2-edit-content.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/4-1-hero-image.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/4-2-hero-section.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-1-faq-section.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-10-faq-block-7.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-11-faq-block-8.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-12-faq-block-9.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-13-review-section.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-14-review-block-1.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-15-review-block-2.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-16-review-block-3.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-17-review-block-4.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-2-faq-block-1.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-3-faq-block-2.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-4-faq-block-3.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-5-faq-section-2.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-6-faq-block-4.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-7-faq-block-5.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-8-faq-block-6.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/5-9-faq-section 3.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/6-1-errors-1.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/6-2-errors-2.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/7-1-set-page-live.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/7-2-full-page.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/index.md
Due: prettier --print-width=72 --write

Changes to how to edit pages article.
  src/docs/operator-guides/how-to-edit-pages/content-model-landing-page.png
  src/docs/operator-guides/how-to-edit-pages/copy-to-production.jpg
  src/docs/operator-guides/how-to-edit-pages/index.md
  src/docs/operator-guides/introducing-pages/index.md
Due: prettier --print-width=72 --write

more editing
  src/docs/operator-guides/how-to-edit-pages/copy-to-production.jpg
  src/docs/operator-guides/how-to-edit-pages/index.md
  src/docs/operator-guides/introducing-pages/index.md
  src/docs/operator-guides/section-templates/index.md
Due: prettier --print-width=72 --write

fixing copy to production images and review of SEO article
  src/docs/operator-guides/edit-seo-and-social-tags/index.md
  src/docs/operator-guides/how-to-edit-pages/copy-to-production.jpg
Due: prettier --print-width=72 --write

update concepts article with links
  src/docs/operator-guides/concepts/index.md
Due: prettier --print-width=72 --write

one more change to how to edit pages
  src/docs/operator-guides/how-to-edit-pages/index.md
Due: prettier --print-width=72 --write

updates to FAQ article
  src/docs/operator-guides/how-to-create-an-faq-page/index.md
Due: prettier --print-width=72 --write

capitalization changes in section templates
  src/docs/operator-guides/how-to-enable-pages/index.md
  src/docs/operator-guides/section-templates/index.md
Due: prettier --print-width=72 --write

fixing faq pictures
  src/docs/operator-guides/how-to-create-an-faq-page/faq-0-1-full-page.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-3-1-page-id.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-3-2-edit-content.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-4-1-hero-image.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-4-2-hero-section.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-1-faq-section.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-10-faq-block-7.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-11-faq-block-8.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-12-faq-block-9.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-13-review-section.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-14-review-block-1.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-15-review-block-2.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-16-review-block-3.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-17-review-block-4.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-2-faq-block-1.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-3-faq-block-2.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-4-faq-block-3.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-5-faq-section-2.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-6-faq-block-4.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-7-faq-block-5.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-8-faq-block-6.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-5-9-faq-section 3.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-6-1-errors-1.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-6-2-errors-2.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-7-1-set-page-live.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/faq-7-2-full-page.jpg
  src/docs/operator-guides/how-to-create-an-faq-page/index.md
Due: prettier --print-width=72 --write

fixing links
  src/docs/operator-guides/how-to-edit-pages/index.md
Due: prettier --print-width=72 --write

remove path prefix from prod and prev
  gatsby-config.js
Due: prettier --write

test with other path prefix
  gatsby-config.js
Due: prettier --write

Add small fixes to new articles
  src/config-site-structure.js
  src/docs/ftw-configuration/configuration-in-ftw-x/index.md
  src/docs/ftw-introduction/introducing-ftw-x/index.md
Due: prettier --write, prettier --print-width=72 --write

add information to readme
  docs/overview.md
  src/components/ArticleIndexPage/ArticleIndex.js
Due: prettier --write, prettier --print-width=72 --write

add information to readme (#657)
  docs/overview.md
  src/components/ArticleIndexPage/ArticleIndex.js
Due: prettier --write, prettier --print-width=72 --write

Changes to the seo metadata tags article
  src/docs/operator-guides/edit-seo-and-social-tags/index.md
Due: prettier --print-width=72 --write

Update the texts in the edit pages articles
  src/docs/operator-guides/how-to-edit-pages/index.md
Due: prettier --print-width=72 --write

Remove obsolete introducing articles
  src/docs/introduction/introducing-saunatime/both_reviews.png
  src/docs/introduction/introducing-saunatime/index.md
  src/docs/introduction/introducing-saunatime/reviewer_2.png
  src/docs/introduction/introducing-saunatime/saunatime_booking.png
  src/docs/introduction/introducing-saunatime/saunatime_messaging.png
  src/docs/introduction/introducing-saunatime/saunatime_searchpage.png
  src/docs/introduction/introducing-sneakertime/images-carousel.png
  src/docs/introduction/introducing-sneakertime/index.md
  src/docs/introduction/introducing-sneakertime/local-marketplace.png
  src/docs/introduction/introducing-sneakertime/search-filters.png
  src/docs/introduction/introducing-template/index.md
  src/docs/introduction/introducing-yogatime/index.md
Due: prettier --print-width=72 --write

Update screenshots
  src/docs/tutorial-branding/change-image-assets/biketribe-favicon.png
  src/docs/tutorial-branding/change-image-assets/biketribe-twitter-sharing-600x314.jpg
  src/docs/tutorial-branding/change-image-assets/cottagedays-background-image.png
  src/docs/tutorial-branding/change-image-assets/cottagedays-favicon.png
  src/docs/tutorial-branding/change-image-assets/index.md
  src/docs/tutorial-branding/change-logo/updated-logo.png
Due: prettier --print-width=72 --write

Changes to enable and introducing article
  src/docs/operator-guides/how-to-enable-pages/index.md
  src/docs/operator-guides/introducing-pages/index.md
Due: prettier --print-width=72 --write

changes to templates and markdown articles
  src/docs/operator-guides/how-to-format-your-text-in-pages/index.md
  src/docs/operator-guides/section-templates/index.md
Due: prettier --print-width=72 --write

fix details in doc
  src/docs/operator-guides/how-to-enable-pages/index.md
Due: prettier --print-width=72 --write

Change the seo page
  src/docs/operator-guides/edit-seo-and-social-tags/index.md
Due: prettier --print-width=72 --write

More text changes
  src/docs/operator-guides/concepts/index.md
  src/docs/operator-guides/how-to-create-an-faq-page/index.md
Due: prettier --print-width=72 --write

trying to fix page layout
  src/docs/operator-guides/introducing-pages/index.md
Due: prettier --print-width=72 --write

Adding a new screenshot for copying to production
  src/docs/operator-guides/how-to-edit-pages/copy-to-production.jpg
  src/docs/operator-guides/how-to-edit-pages/copy-to-production.png
Due: none

Changes to pages
  src/docs/operator-guides/how-to-edit-pages/index.md
  src/docs/operator-guides/how-to-enable-pages/index.md
Due: prettier --print-width=72 --write

add link to SEO in edit article
  src/docs/operator-guides/how-to-edit-pages/index.md
Due: prettier --print-width=72 --write

replace an image
  src/docs/operator-guides/how-to-edit-pages/copy-to-production.png
Due: none

fix dates
  src/docs/operator-guides/concepts/index.md
  src/docs/operator-guides/edit-seo-and-social-tags/index.md
  src/docs/operator-guides/how-to-create-an-faq-page/index.md
  src/docs/operator-guides/how-to-enable-pages/index.md
  src/docs/operator-guides/introducing-pages/index.md
Due: prettier --print-width=72 --write

change wording in intro article
  src/docs/operator-guides/introducing-pages/index.md
Due: prettier --print-width=72 --write

add unpublished flag
  src/docs/operator-guides/edit-seo-and-social-tags/index.md
  src/docs/operator-guides/how-to-create-an-faq-page/index.md
  src/docs/operator-guides/how-to-edit-pages/index.md
  src/docs/operator-guides/how-to-enable-pages/index.md
  src/docs/operator-guides/how-to-format-your-text-in-pages/index.md
  src/docs/operator-guides/introducing-pages/index.md
  src/docs/operator-guides/section-templates/index.md
Due: prettier --print-width=72 --write

fix mistake with rebase
  src/docs/operator-guides/how-to-create-an-faq-page/index.md
Due: prettier --print-width=72 --write

Add first draft of content management article
  src/docs/concepts-development/content-management/index.md
  src/docs/references/assets/index.md
Due: prettier --print-width=72 --write

Start adding content modeling glossary
  src/docs/concepts-development/content-management/content_modeling.png
  src/docs/concepts-development/content-management/index.md
Due: prettier --print-width=72 --write

Expand article library guide
  src/docs/howto-content/article-blog/button-ui.png
  src/docs/howto-content/article-blog/create-page-modal.png
  src/docs/howto-content/article-blog/index.md
Due: prettier --print-width=72 --write

Link to page asset schema reference in FTW Pages article
  src/docs/ftw-content/page-builder/index.md
Due: prettier --print-width=72 --write

Revert "Remove obsolete static page FTW article"
  src/config-site-structure.js
  src/docs/ftw-content/how-to-add-static-pages-in-ftw/index.md
Due: prettier --write, prettier --print-width=72 --write
