Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

.lintstagedrc:

{
    "src/**/*.js": [
        "prettier --write"
    ],
    "gatsby-config.js": [
        "prettier --write"
    ],
    "gatsby-node.js": [
        "prettier --write"
    ],
    "gatsby-browser.js": [
        "prettier --write"
    ],
    "src/**/*.md": [
        "prettier --print-width=72 --write"
    ],
    "docs/**/*.md": [
        "prettier --print-width=72 --write"
    ]
}

Fix param ordering in time slot buffer guide
  src/docs/howto-listing/bookings-with-buffer/index.md
Due: prettier --print-width=72 --write

Fix env variable name (#687)
  src/docs/tutorial-branding/deploy-to-render/index.md
Due: prettier --print-width=72 --write

Fix param ordering in time slot buffer guide (#688)
  src/docs/howto-listing/bookings-with-buffer/index.md
Due: prettier --print-width=72 --write

fix broken links
  src/config-site-structure.js
  src/docs/concepts-development/content-management/index.md
  src/docs/concepts-extended-data/extended-data-introduction/index.md
  src/docs/concepts-listings/how-the-search-works/index.md
  src/docs/concepts-payments/off-session-payments/index.md
  src/docs/ftw-introduction/ftw-customization-checklist/index.md
  src/docs/ftw-search/how-to-set-up-mapbox-for-ftw/index.md
  src/docs/ftw-search/how-to-use-google-maps-in-ftw/index.md
  src/docs/ftw-search/map-configuration/index.md
  src/docs/introduction/introducing-template/index.md
Due: prettier --write, prettier --print-width=72 --write

minor text adjustments to all articles and changing some names
  src/docs/operator-guides-branding/how-to-add-good-looking-logos-and-images/index.md
  src/docs/operator-guides-branding/marketplace-images-definitions-and-explanations/index.md
  src/docs/operator-guides-layout/listing-page-image-layouts/index.md
  src/docs/operator-guides-layout/search-page-layout-options/index.md
  src/docs/operator-guides-listings/keyword-search/index.md
  src/docs/operator-guides-listings/listing-fields/index.md
  src/docs/operator-guides-listings/listing-search-settings/index.md
  src/docs/operator-guides-listings/location-search/index.md
  src/docs/operator-guides-listings/understanding-filters/index.md
  src/docs/operator-guides-listings/understanding-listing-filters/index.md
  src/docs/operator-guides-listings/understanding-transaction-settings/index.md
  src/docs/operator-guides-listings/what-are-listing-types/index.md
  src/docs/operator-guides-transactions/how-to-set-your-marketplace-commission/index.md
  src/docs/operator-guides-transactions/minimum-transaction-size/index.md
  src/docs/operator-guides-transactions/why-commission-is-important/index.md
Due: prettier --print-width=72 --write

changing the name of one article folder
  src/docs/operator-guides-branding/introduction-to-marketplace-images/background-image.png
  src/docs/operator-guides-branding/introduction-to-marketplace-images/favicon.png
  src/docs/operator-guides-branding/introduction-to-marketplace-images/index.md
  src/docs/operator-guides-branding/introduction-to-marketplace-images/logo.png
Due: prettier --print-width=72 --write

fix some redirects
  src/docs/concepts-development/console-overview/index.md
  src/docs/ftw-testing-error-handling/how-to-set-up-sentry/index.md
  src/docs/howto-users-and-authentication/implement-delete-user/index.md
  src/docs/introduction/introducing-flex/index.md
  src/docs/introduction/introducing-template/index.md
  src/docs/operator-guides-concepts/concepts/concepts.md
  src/docs/operator-guides-concepts/features/index.md
  src/docs/operator-guides-concepts/how-to-use-microcopy-editor/index.md
  src/docs/operator-guides-pages/how-to-create-an-faq-page/index.md
  src/docs/references/availability/index.md
  src/docs/tutorial-branding/modify-landing-page/index.md
Due: prettier --print-width=72 --write

Fix broken links 2 (#689)
  src/config-site-structure.js
  src/docs/concepts-development/console-overview/index.md
  src/docs/concepts-development/content-management/index.md
  src/docs/concepts-extended-data/extended-data-introduction/index.md
  src/docs/concepts-listings/how-the-search-works/index.md
  src/docs/concepts-payments/off-session-payments/index.md
  src/docs/ftw-introduction/ftw-customization-checklist/index.md
  src/docs/ftw-search/how-to-set-up-mapbox-for-ftw/index.md
  src/docs/ftw-search/how-to-use-google-maps-in-ftw/index.md
  src/docs/ftw-search/map-configuration/index.md
  src/docs/ftw-testing-error-handling/how-to-set-up-sentry/index.md
  src/docs/howto-users-and-authentication/implement-delete-user/index.md
  src/docs/introduction/introducing-flex/index.md
  src/docs/introduction/introducing-template/index.md
  src/docs/operator-guides-concepts/concepts/concepts.md
  src/docs/operator-guides-concepts/features/index.md
  src/docs/operator-guides-concepts/how-to-use-microcopy-editor/index.md
  src/docs/operator-guides-pages/how-to-create-an-faq-page/index.md
  src/docs/references/availability/index.md
  src/docs/tutorial-branding/modify-landing-page/index.md
Due: prettier --write, prettier --print-width=72 --write

update introduction article
  src/docs/tutorial/introduction/index.md
Due: prettier --print-width=72 --write

Add customise styles article
  src/docs/tutorial-branding/first-edit/identifycss.png
  src/docs/tutorial-branding/first-edit/index.md
  src/docs/tutorial-branding/first-edit/inspect-element.png
  src/docs/tutorial-branding/first-edit/marketplace-color-changed.png
  src/docs/tutorial/introduction/index.md
Due: prettier --print-width=72 --write

Create index.md
  src/docs/operator-guides-concepts/can-i-trust-that-flex-scales-to-my-needs/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/operator-guides-concepts/can-i-trust-that-flex-scales-to-my-needs/index.md
Due: prettier --print-width=72 --write

Remove mention of listing from protected data reference
  src/docs/references/extended-data/index.md
Due: prettier --print-width=72 --write

finish modify landing page
  src/docs/ftw-content/page-builder/index.md
  src/docs/tutorial-branding/modify-landing-page/index.md
  src/docs/tutorial-branding/modify-landing-page/landing-page-block-content.png
  src/docs/tutorial-branding/modify-landing-page/landing-page-full-update.png
  src/docs/tutorial-branding/modify-landing-page/landing-page-image-update.png
  src/docs/tutorial-branding/modify-landing-page/remove-overlay.png
Due: prettier --print-width=72 --write

add pilot day structure
  gatsby-config.js
  gatsby-node.js
  src/components/OperatorGuidesPage/OperatorGuidesArticleIndex.js
  src/components/Sidebar/CategoryList.js
  src/config-site-structure.js
  src/docs/pilot-day-guides/introduction/index.md
  src/pages/pilot-day-guides.js
Due: prettier --write, prettier --print-width=72 --write

enable sorting
  src/components/OperatorGuidesPage/OperatorGuidesArticleIndex.js
  src/components/OperatorGuidesPage/OperatorGuidesPage.js
  src/config-site-structure.js
  src/pages/operator-guides.js
  src/ui-texts.json
Due: prettier --write

add hide sidebar flag
  src/components/Sidebar/CategoryList.js
  src/config-site-structure.js
Due: prettier --write

new category "useful-information"
  src/config-site-structure.js
  src/docs/operator-guides-static-content/how-to-use-microcopy-editor/index.md
  src/docs/operator-guides-useful-information/concepts/concepts.md
  src/docs/operator-guides-useful-information/feature-knowledge-base/index.md
  src/docs/operator-guides-useful-information/features/index.md
  src/docs/operator-guides-useful-information/free-templates/index.md
  src/docs/operator-guides-useful-information/what-is-the-difference-between-flex-and-go-source-available/index.md
  src/pages/operator-guides.js
  src/ui-texts.json
Due: prettier --write, prettier --print-width=72 --write

Remove mention of listing from protected data reference (#693)
  src/docs/references/extended-data/index.md
Due: prettier --print-width=72 --write

Fix bugs in delete account guide
  src/docs/howto-users-and-authentication/implement-delete-user/cookbook-assets/DeleteAccountPage.js
  src/docs/howto-users-and-authentication/implement-delete-user/index.md
Due: prettier --write, prettier --print-width=72 --write

change default-block to camelCase
  src/docs/howto-content/options-prop/index.md
Due: prettier --print-width=72 --write

Fix bugs in delete account guide (#694)
  src/docs/howto-users-and-authentication/implement-delete-user/cookbook-assets/DeleteAccountPage.js
  src/docs/howto-users-and-authentication/implement-delete-user/index.md
Due: prettier --write, prettier --print-width=72 --write

change default-block to camelCase (#695)
  src/docs/howto-content/options-prop/index.md
Due: prettier --print-width=72 --write

update config site structure and add tutorial assets to correct dir
  src/config-site-structure.js
  src/docs/tutorial-branding/change-branding/index.md
  src/docs/tutorial-branding/change-images/biketribe-background-image.png
  src/docs/tutorial-branding/change-images/biketribe-favicon.png
  src/docs/tutorial-branding/change-images/biketribe-twitter-sharing-600x314.jpg
  src/docs/tutorial-branding/change-images/cottagedays-background-image.png
  src/docs/tutorial-branding/change-images/cottagedays-favicon.png
  src/docs/tutorial-branding/change-images/index.md
  src/docs/tutorial-branding/change-images/saunatime-favicon.png
  src/docs/tutorial-branding/change-images/saunatimeTwitter-600x314.jpg
  src/docs/tutorial-branding/change-logo/index.md
  src/docs/tutorial-branding/change-logo/updated-logo.png
  src/docs/tutorial-branding/change-logo/web-inspector-hovering-on-logo.png
  src/docs/tutorial-branding/modify-landing-page/index.md
  static/tutorial-assets/saunatime-hero.png
  static/tutorial-assets/saunatime-logo.png
  static/tutorial-assets/saunatime-social.jpg
Due: prettier --write, prettier --print-width=72 --write

add summary and further reading
  src/config-site-structure.js
  src/docs/tutorial-branding/change-branding/index.md
  src/docs/tutorial-branding/modify-landing-page/index.md
Due: prettier --write, prettier --print-width=72 --write

Test_commit_yifan
  src/docs/operator-guides-listings/listing-fields/2023-05-28 22.57.11.jpg
  src/docs/operator-guides-listings/listing-fields/index.md
Due: prettier --print-width=72 --write

concepts articles
  src/docs/operator-guides-concepts/biketribe-configuration-checklist/index.md
  src/docs/operator-guides-concepts/hiring-developer-to-build-your-flex-marketplace/index.md
  src/docs/operator-guides-concepts/how-to-build-launch-operate/index.md
  src/docs/operator-guides-concepts/how-to-build-launch-operate/whimsical-environment_workflow.png
  src/docs/operator-guides-concepts/how-to-prepare-requirements-for-developer/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/operator-guides-concepts/how-to-build-launch-operate/index.md
Due: prettier --print-width=72 --write

Add listing wizard tutorial article
  src/config-site-structure.js
  src/docs/design-toolkit/02-what-are-user-journeys/index.md
  src/docs/design-toolkit/your-user-journey-a-guide/index.md
  src/docs/operator-guides-pages/how-to-enable-pages/index.md
  src/docs/tutorial-branding/deploy-to-render/index.md
  src/docs/tutorial-listings/new-wizard-tab/index.md
  src/docs/tutorial-listings/new-wizard-tab/saunatime-listing-details.png
  src/docs/tutorial-listings/new-wizard-tab/saunatime-rules-console.png
  src/docs/tutorial-listings/new-wizard-tab/saunatime-rules-listing-page.png
  src/docs/tutorial-listings/new-wizard-tab/saunatime-rules-panel.png
  src/docs/tutorial-listings/new-wizard-tab/saunatime-wizard-microcopy-key.png
  src/ui-texts.json
  static/tutorial-assets/EditListingRulesForm.example.js
  static/tutorial-assets/EditListingRulesForm.js
  static/tutorial-assets/EditListingRulesForm.module.css
  static/tutorial-assets/EditListingRulesForm.test.js
  static/tutorial-assets/EditListingRulesPanel.js
  static/tutorial-assets/EditListingRulesPanel.module.css
Due: prettier --write, prettier --print-width=72 --write

update microcopy iamges
  src/docs/tutorial-branding/change-branding/index.md
  src/docs/tutorial-branding/working-with-microcopy/index.md
  src/docs/tutorial-branding/working-with-microcopy/microcopy_editor_updates.png
  src/docs/tutorial-branding/working-with-microcopy/react_devtools_microcopy.png
  src/ui-texts.json
Due: prettier --print-width=72 --write

Create index.md
  src/docs/operator-guides-static-content/how-to-footer-works/index.md
Due: prettier --print-width=72 --write

Merge pull request #690 from sharetribe/scaling-doc
  src/docs/operator-guides-concepts/can-i-trust-that-flex-scales-to-my-needs/index.md
Due: prettier --print-width=72 --write

merging "can i trust that Flex scales to my needs"
  src/docs/operator-guides-useful-information/can-i-trust-that-flex-scales-to-my-needs/index.md
Due: prettier --print-width=72 --write
