Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

remove some links
  src/docs/concepts-development/console-overview/index.md
  src/docs/ftw-content/page-builder/index.md
  src/docs/ftw-introduction/ftw-customization-checklist/index.md
Due: prettier --print-width=72 --write

remove some links (#758)
  src/docs/concepts-development/console-overview/index.md
  src/docs/ftw-content/page-builder/index.md
  src/docs/ftw-introduction/ftw-customization-checklist/index.md
Due: prettier --print-width=72 --write

add information on plausible
  src/docs/ftw-analytics/how-to-set-up-analytics-for-ftw/index.md
Due: prettier --print-width=72 --write

add plausible analytics to list of env vars
  src/docs/ftw-configuration/ftw-env/index.md
Due: prettier --print-width=72 --write

add date changed
  src/docs/ftw-configuration/ftw-env/index.md
Due: prettier --print-width=72 --write

fix autoscroll bug (#757)
  src/components/Sidebar/Sidebar.js
Due: prettier --write

Add info on plausible analytics (#759)
  src/docs/ftw-analytics/how-to-set-up-analytics-for-ftw/index.md
  src/docs/ftw-configuration/ftw-env/index.md
Due: prettier --print-width=72 --write

test redirect
  vercel.json
Due: none

fix broken links
  src/docs/operator-guides-listings/how-listing-types-work/index.md
  src/docs/tutorial-branding/copy-assets/index.md
  src/docs/tutorial-branding/first-edit/index.md
  src/docs/tutorial/introduction/index.md
  vercel.json
Due: prettier --print-width=72 --write

test redirect (#762)
  src/docs/operator-guides-listings/how-listing-types-work/index.md
  src/docs/tutorial-branding/copy-assets/index.md
  src/docs/tutorial-branding/first-edit/index.md
  src/docs/tutorial/introduction/index.md
  vercel.json
Due: prettier --print-width=72 --write

changes to account for logo and app icon
  src/docs/operator-guides-branding/how-to-add-good-looking-logos-and-images/index.md
  src/docs/operator-guides-branding/introduction-to-marketplace-images/index.md
Due: prettier --print-width=72 --write

Continue replacing and redirecting ftw and Flex Docs
  README.md
  docs/README.md
  docs/algolia.md
  docs/categories.md
  docs/coding-conventions.md
  docs/overview.md
  docs/writing-articles.md
  src/docs/ftw-configuration/ftw-env/index.md
  src/docs/ftw-security/how-to-sanitize-user-generated-content-in-ftw/index.md
  src/docs/ftw-styling/how-to-change-ftw-icons/index.md
  src/docs/ftw-testing-error-handling/how-to-use-ci-with-ftw/index.md
  src/docs/howto-content/article-blog/index.md
  src/docs/howto-events/like-feature/index.md
  src/docs/howto-search/change-search-filters-in-ftw/index.md
  src/docs/howto-search/manage-search-schemas-with-flex-cli/index.md
  src/docs/howto-transaction-process/change-transaction-process-in-ftw/index.md
  src/docs/operator-guides-static-content/how-to-enable-pages/index.md
  src/docs/operator-guides-static-content/introducing-pages/index.md
  src/docs/tutorial-transaction-process/create-transaction-process/index.md
  vercel.json
Due: prettier --print-width=72 --write

update broken links
  src/docs/introduction/introducing-template/index.md
  src/docs/operator-guides-concepts/how-to-build-launch-operate/index.md
  src/docs/operator-guides-concepts/how-to-prepare-requirements-for-developer/index.md
  src/docs/operator-guides-useful-information/key-terms-and-definitions/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/operator-guides-static-content/how-to-format-your-text-in-pages/index.md
Due: prettier --print-width=72 --write

Add tier information
  src/docs/howto-payments/removing-stripe/index.md
  src/docs/references/extended-data/index.md
Due: prettier --print-width=72 --write

Start addressing todos
  src/docs/concepts-development/console-overview/index.md
  src/docs/concepts-development/microcopy/index.md
  src/docs/concepts-development/microcopy/marketplace-text-editor.png
  src/docs/concepts-development/microcopy/microcopy_start.png
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/concepts-transactions/transaction-process/index.md
  src/docs/ftw-content/change-ui-texts/index.md
  src/docs/howto-listing/extend-listing-data-in-ftw/index.md
  src/docs/howto-messaging/edit-email-templates-with-flex-cli/index.md
  src/docs/howto-users-and-authentication/implement-delete-user/index.md
  src/docs/introduction/introducing-template/index.md
  src/docs/references/email-templates/index.md
  src/docs/tutorial-listings/new-wizard-tab/index.md
  src/docs/tutorial-transaction-process/use-protected-data-in-emails/index.md
Due: prettier --print-width=72 --write

Reword microcopy in operator guides and tutorials
  src/docs/operator-guides-concepts/sharetribe-configuration-checklist/index.md
  src/docs/operator-guides-listings/how-listing-types-work/index.md
  src/docs/operator-guides-listings/how-to-add-and-edit-listing-fields/index.md
  src/docs/operator-guides-listings/keyword-search/index.md
  src/docs/operator-guides-listings/listing-fields/index.md
  src/docs/operator-guides-listings/location-search/index.md
  src/docs/operator-guides-static-content/how-to-use-microcopy-editor/index.md
  src/docs/operator-guides-useful-information/features/index.md
  src/docs/operator-guides-useful-information/key-terms-and-definitions/index.md
  src/docs/tutorial-listings/favorite-bikes/index.md
  src/docs/tutorial-listings/new-wizard-tab/index.md
  src/docs/tutorial-transaction-process/customize-pricing/index.md
  vercel.json
Due: prettier --print-width=72 --write

Start adding sitemap documentation
  src/docs/concepts-development/sitemap/index.md
  src/docs/ftw-analytics/template-sitemap/index.md
Due: prettier --print-width=72 --write

Fix wording and add PR link
  src/docs/concepts-development/sitemap/index.md
  src/docs/ftw-analytics/template-sitemap/index.md
Due: prettier --print-width=72 --write

Expand documentation and fix comments
  src/docs/concepts-development/sitemap/index.md
  src/docs/ftw-analytics/template-sitemap/index.md
Due: prettier --print-width=72 --write

adding email texts articles in operator-guides
  src/docs/operator-guides-static-content/how-to-use-email-texts/email-name.png
  src/docs/operator-guides-static-content/how-to-use-email-texts/email-part.png
  src/docs/operator-guides-static-content/how-to-use-email-texts/index.md
  src/docs/operator-guides-static-content/how-to-use-email-texts/key-value.png
  src/docs/operator-guides-static-content/how-to-use-email-texts/value.png
  src/docs/operator-guides-static-content/what-are-email-texts/index.md
  src/docs/operator-guides-static-content/what-are-email-texts/key-value.png
Due: prettier --print-width=72 --write

Add multilanguage email template instructions
  src/docs/concepts-development/microcopy/index.md
Due: prettier --print-width=72 --write

Add API ref links and guide on over 10k listings
  src/docs/concepts-development/sitemap/index.md
Due: prettier --print-width=72 --write

Add images
  src/docs/operator-guides-static-content/how-to-use-microcopy-editor/index.md
  src/docs/operator-guides-static-content/how-to-use-microcopy-editor/marketplace-text-examples.png
  src/docs/operator-guides-static-content/how-to-use-microcopy-editor/marketplace-texts-content.png
  src/docs/operator-guides-static-content/how-to-use-microcopy-editor/marketplace-texts-element.png
  src/docs/operator-guides-static-content/how-to-use-microcopy-editor/marketplace-texts-key.png
  src/docs/operator-guides-static-content/how-to-use-microcopy-editor/marketplace-texts-search.png
Due: prettier --print-width=72 --write

Fix update date
  src/docs/operator-guides-static-content/how-to-use-microcopy-editor/index.md
Due: prettier --print-width=72 --write

Start adding sitemap documentation (#766)
  src/docs/concepts-development/sitemap/index.md
  src/docs/ftw-analytics/template-sitemap/index.md
Due: prettier --print-width=72 --write

Align URLs and content after merge
  src/config-site-structure.js
  src/docs/concepts-development/microcopy/index.md
  src/docs/ftw-analytics/template-sitemap/index.md
  src/docs/ftw-content/change-ftw-language/index.md
  src/docs/ftw-content/change-ui-texts/index.md
  src/docs/ftw-content/how-to-change-ftw-bundled-ui-microcopy/index.md
  src/docs/howto-transaction-process/change-transaction-process-in-ftw/index.md
  vercel.json
Due: prettier --write, prettier --print-width=72 --write

add plan banner styling
  src/components/Plan.js
Due: prettier --write

update link to slack
  src/components/ArticlePage/Footer.js
Due: prettier --write

Replace flex-support email with hello email
  src/components/ArticlePage/Footer.js
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/concepts-transactions/reviews/index.md
  src/docs/concepts-users-and-authentication/users-and-authentication-in-flex/index.md
  src/docs/design-toolkit/01-design-files/index.md
  src/docs/howto-messaging/set-up-outgoing-email-settings/index.md
  src/docs/howto-migrations/migrating-from-outside-sharetribe/index.md
  src/docs/introduction/development-skills/index.md
  src/docs/introduction/how-to-launch/index.md
  src/docs/introduction/introducing-template/index.md
  src/docs/introduction/is-flex-right-for-you/index.md
  src/docs/operator-guides-useful-information/features/index.md
  src/docs/operator-guides-useful-information/key-terms-and-definitions/index.md
Due: prettier --write, prettier --print-width=72 --write

Remove Flex references and add TODOs
  src/docs/concepts-development/console-overview/index.md
  src/docs/concepts-development/flex-environments/index.md
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/concepts-transactions/change-transaction-process/index.md
  src/docs/design-toolkit/your-user-journey-a-guide/index.md
  src/docs/ftw-introduction/01-how-to-customize-ftw/index.md
  src/docs/ftw-introduction/ftw-customization-checklist/index.md
  src/docs/howto-events/set-up-and-use-zapier/index.md
  src/docs/howto-events/view-events-with-flex-cli/index.md
  src/docs/howto-messaging/edit-email-templates-with-flex-cli/index.md
  src/docs/howto-migrations/migrating-from-outside-sharetribe/index.md
  src/docs/howto-payments/how-to-integrate-3rd-party-payment-gateway/index.md
  src/docs/howto-search/manage-search-schemas-with-flex-cli/index.md
  src/docs/howto-transaction-process/change-transaction-process-in-ftw/index.md
  src/docs/howto-transaction-process/edit-transaction-process-with-flex-cli/index.md
  src/docs/introduction/getting-started-with-flex-cli/index.md
  src/docs/introduction/getting-started-with-integration-api/index.md
  src/docs/introduction/is-flex-right-for-you/index.md
  src/docs/tutorial-listings/favorite-bikes/index.md
  src/docs/tutorial-listings/new-wizard-tab/index.md
  src/docs/tutorial-transaction-process/add-email-notification/index.md
  src/docs/tutorial-transaction-process/create-transaction-process/index.md
  src/docs/tutorial-transaction-process/customize-pricing/index.md
  src/docs/tutorial-transaction-process/use-protected-data-in-emails/index.md
Due: prettier --print-width=72 --write

Fix TODOS
  src/config-site-structure.js
  src/docs/concepts-development/content-management/content-model-landing-page.png
  src/docs/concepts-development/content-management/index.md
  src/docs/concepts-development/content-management/pages-article-section.png
  src/docs/concepts-development/content-management/pages-columns-section.png
  src/docs/concepts-development/content-management/view-page.png
  src/docs/concepts-development/flex-environments/env-change.png
  src/docs/concepts-development/flex-environments/index.md
  src/docs/concepts-messages/messages/index.md
  src/docs/concepts-payments/solving-payout-problems/console-tx-csv.png
  src/docs/concepts-payments/solving-payout-problems/index.md
  src/docs/concepts-transactions/change-transaction-process/index.md
  src/docs/ftw-content/change-ftw-language/index.md
  src/docs/ftw-introduction/01-how-to-customize-ftw/index.md
  src/docs/ftw-legacy/legacy-overview/index.md
  src/docs/ftw-styling/how-to-change-ftw-icons/index.md
  src/docs/howto-events/set-up-and-use-zapier/index.md
  src/docs/introduction/getting-started-with-ftw-daily/index.md
  src/docs/introduction/how-to-launch/index.md
  src/docs/introduction/how-to-launch/set-up-live.png
  src/docs/introduction/how-to-launch/set-up-production.png
  src/docs/introduction/introducing-flex/index.md
  src/docs/introduction/is-flex-right-for-you/index.md
  vercel.json
Due: prettier --write, prettier --print-width=72 --write

Path conditions:
  prettier --write: (((any of: src/**/*.js) or (any of: gatsby-config.js)) or (any of: gatsby-node.js)) or (any of: gatsby-browser.js)
  prettier --print-width=72 --write: (any of: src/**/*.md) or (any of: docs/**/*.md)
