Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

Fix a broken link
  src/docs/howto-payments/how-to-integrate-3rd-party-payment-gateway/index.md
Due: prettier --print-width=72 --write

update to node v22
  package.json
Due: none

Fix a broken link
  src/docs/ftw-testing-error-handling/how-to-test-ftw/index.md
Due: prettier --print-width=72 --write

Add instructions to update transaction process action docstring
  docs/how-to-update-reference-docstring.md
Due: prettier --print-width=72 --write

Update references to customers and providers in existing docs
  src/docs/concepts-availability/inventory-management/index.md
  src/docs/concepts-availability/manage-seats/index.md
  src/docs/concepts-extended-data/extended-data-introduction/index.md
  src/docs/concepts-extended-data/user-extended-data/index.md
  src/docs/concepts-listings/listings-overview/index.md
  src/docs/concepts-listings/requiring-approval/index.md
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/concepts-messages/messages/index.md
  src/docs/concepts-payments/how-payment-intents-work/index.md
  src/docs/concepts-payments/how-sca-works/index.md
  src/docs/concepts-payments/payment-methods-overview/index.md
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/index.md
  src/docs/concepts-payments/using-stored-payment-cards/index.md
  src/docs/concepts-pricing-and-commissions/pricing/index.md
  src/docs/concepts-transactions/change-transaction-process/index.md
  src/docs/concepts-transactions/transaction-process/index.md
  src/docs/concepts-users-and-authentication/users-and-authentication-in-flex/index.md
  src/docs/ftw-availability/availability-management/index.md
  src/docs/ftw-configuration/how-to-set-up-currency-in-ftw/index.md
  src/docs/howto-listing/bookings-with-buffer/index.md
  src/docs/howto-listing/extend-listing-data-in-ftw/index.md
  src/docs/howto-listing/seats/index.md
  src/docs/howto-payments/customize-pricing/index.md
  src/docs/howto-payments/enable-payment-intents-in-ftw/index.md
  src/docs/howto-payments/how-saving-payment-card-works-in-ftw/index.md
  src/docs/howto-payments/how-to-integrate-3rd-party-payment-gateway/index.md
  src/docs/howto-payments/removing-stripe/index.md
  src/docs/howto-search/manage-search-schemas-with-flex-cli/index.md
  src/docs/howto-transaction-process/change-transaction-process-in-ftw/index.md
  src/docs/introduction/introducing-flex/index.md
  src/docs/introduction/introducing-template/index.md
  src/docs/references/availability/index.md
  src/docs/references/stock/index.md
Due: prettier --print-width=72 --write

Update transaction process action reference
  src/docs/references/transaction-process-actions/index.md
Due: prettier --print-width=72 --write

Update code snippets
  src/docs/howto-transaction-process/change-transaction-process-in-ftw/index.md
  src/docs/tutorial-transaction-process/create-transaction-process/index.md
  src/docs/tutorial-transaction-process/customize-pricing/index.md
Due: prettier --print-width=72 --write

Change Microcopy to Marketplace text
  src/docs/howto-transaction-process/change-transaction-process-in-ftw/index.md
Due: prettier --print-width=72 --write

Add first version of negotiation process article
  src/docs/concepts-transactions/default-negotiation-process/index.md
Due: prettier --print-width=72 --write

Fixed broken anchor link to listing availability management
  src/docs/ftw-availability/availability-management/index.md
Due: prettier --print-width=72 --write

Fixed broken anchor link to listing availability management (#894)
  src/docs/ftw-availability/availability-management/index.md
Due: prettier --print-width=72 --write

Add screenshots to the negotiation article
  src/docs/concepts-messages/messages/index.md
  src/docs/concepts-payments/how-payment-intents-work/index.md
  src/docs/concepts-transactions/default-negotiation-process/change-request-loop-full.png
  src/docs/concepts-transactions/default-negotiation-process/change-request-loop-highlight-customer-paths.png
  src/docs/concepts-transactions/default-negotiation-process/change-request-loop-highlight-operator-transitions.png
  src/docs/concepts-transactions/default-negotiation-process/change-request-loop-highlight-provider-path.png
  src/docs/concepts-transactions/default-negotiation-process/change-request-loop-highlight-states.png
  src/docs/concepts-transactions/default-negotiation-process/customer-provider-offers-transitions-highlight-customer-path-from-customer-offer.png
  src/docs/concepts-transactions/default-negotiation-process/customer-provider-offers-transitions-highlight-customer-path.png
  src/docs/concepts-transactions/default-negotiation-process/customer-provider-offers-transitions-highlight-provider-paths-from-customer-offer.png
  src/docs/concepts-transactions/default-negotiation-process/customer-provider-offers-transitions-highlight-states.png
  src/docs/concepts-transactions/default-negotiation-process/index.md
  src/docs/concepts-transactions/default-negotiation-process/make-offer-details.png
  src/docs/concepts-transactions/default-negotiation-process/negotiation-full-process-highlight-phases.png
  src/docs/concepts-transactions/default-negotiation-process/price-negotiation-loop-full.png
  src/docs/concepts-transactions/default-negotiation-process/request-quote-details.png
  src/docs/concepts-transactions/default-negotiation-process/review-transitions.png
  src/docs/concepts-transactions/default-negotiation-process/update-offer-transitions-highlight-customer-path.png
  src/docs/concepts-transactions/default-negotiation-process/update-offer-transitions-highlight-provider-path.png
  src/docs/concepts-transactions/default-negotiation-process/update-offer-transitions-highlight-states.png
  src/docs/concepts-users-and-authentication/users-and-authentication-in-flex/index.md
  src/docs/howto-payments/how-to-integrate-3rd-party-payment-gateway/index.md
Due: prettier --print-width=72 --write

Clarify wordings based on PR comments
  src/docs/concepts-payments/payment-methods-overview/index.md
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/concepts-transactions/change-transaction-process/index.md
  src/docs/introduction/introducing-template/index.md
Due: prettier --print-width=72 --write

Add last-entered-state time expression to reference
  src/docs/references/transaction-process-time-expressions/index.md
Due: prettier --print-width=72 --write

Update wordings to match design document
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/index.md
  src/docs/concepts-pricing-and-commissions/pricing/index.md
  src/docs/concepts-transactions/change-transaction-process/index.md
  src/docs/concepts-transactions/default-negotiation-process/index.md
  src/docs/concepts-transactions/transaction-process/index.md
  src/docs/concepts-users-and-authentication/users-and-authentication-in-flex/index.md
Due: prettier --print-width=72 --write

add noindex on all pages
  src/components/BaseLayout.js
Due: prettier --write

add noindex on all pages (#895)
  src/components/BaseLayout.js
Due: prettier --write

Update README.md
  README.md
Due: none

Path conditions:
  prettier --write: (((any of: src/**/*.js) or (any of: gatsby-config.js)) or (any of: gatsby-node.js)) or (any of: gatsby-browser.js)
  prettier --print-width=72 --write: (any of: src/**/*.md) or (any of: docs/**/*.md)
