Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

update environment var article
  src/docs/ftw-hosting/how-to-deploy-ftw-to-production/index.md
Due: prettier --print-width=72 --write

update updated value
  src/docs/ftw-hosting/how-to-deploy-ftw-to-production/index.md
Due: prettier --print-width=72 --write

only add link to dev blog if at top level menu
  src/components/Sidebar/CategoryList.js
Due: prettier --write

Clarify that Apple private relay is not supported by default (#836)
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --print-width=72 --write

Update docs to reflect new access control features
  src/docs/concepts-users-and-authentication/user-permissions/access_control_blank.png
  src/docs/concepts-users-and-authentication/user-permissions/access_control_pending_user.png
  src/docs/concepts-users-and-authentication/user-permissions/access_control_pending_users.png
  src/docs/concepts-users-and-authentication/user-permissions/access_control_private_marketplace.png
  src/docs/concepts-users-and-authentication/user-permissions/access_control_publishing_permission.png
  src/docs/concepts-users-and-authentication/user-permissions/access_control_user_approval.png
  src/docs/concepts-users-and-authentication/user-permissions/current_user_permissions_attribute.png
  src/docs/concepts-users-and-authentication/user-permissions/edit-user-permissions.png
  src/docs/concepts-users-and-authentication/user-permissions/edit_user_permissions.png
  src/docs/concepts-users-and-authentication/user-permissions/index.md
  src/docs/concepts-users-and-authentication/user-permissions/publish-listings-permissions-toggle.png
  src/docs/concepts-users-and-authentication/user-permissions/user-publish-listings-checkbox.png
  src/docs/concepts-users-and-authentication/user-permissions/user_publish_listings_checkbox.png
  src/docs/concepts-users-and-authentication/user-permissions/users-view-permissions.png
  src/docs/concepts-users-and-authentication/user-permissions/users_view_permissions.png
  src/docs/concepts-users-and-authentication/users-and-authentication-in-flex/index.md
Due: prettier --print-width=72 --write

Update listing approval toggle screenshot
  src/docs/concepts-listings/requiring-approval/listing-approval-toggle.png
Due: none

only add link to dev blog if at top level menu (#838)
  src/components/Sidebar/CategoryList.js
Due: prettier --write

Apply suggestions from code review
  src/docs/concepts-users-and-authentication/user-permissions/index.md
  src/docs/concepts-users-and-authentication/users-and-authentication-in-flex/index.md
Due: prettier --print-width=72 --write

Improve wording and add mention of events
  src/docs/concepts-users-and-authentication/user-permissions/index.md
  src/docs/concepts-users-and-authentication/users-and-authentication-in-flex/index.md
Due: prettier --print-width=72 --write

Add access-control.json asset mention
  src/docs/concepts-users-and-authentication/user-permissions/access-control-asset.png
  src/docs/concepts-users-and-authentication/user-permissions/index.md
Due: prettier --print-width=72 --write

update user access control article
  src/docs/concepts-users-and-authentication/user-permissions/access_control_blank.png
  src/docs/concepts-users-and-authentication/user-permissions/access_control_private_marketplace.png
  src/docs/concepts-users-and-authentication/user-permissions/access_control_publishing_permission.png
  src/docs/concepts-users-and-authentication/user-permissions/access_control_user_approval.png
  src/docs/concepts-users-and-authentication/user-permissions/index.md
  src/docs/concepts-users-and-authentication/user-permissions/users_restrict_transaction_rights.png
Due: prettier --print-width=72 --write

update article content based on comments
  src/docs/concepts-users-and-authentication/user-permissions/index.md
Due: prettier --print-width=72 --write

update article
  src/docs/concepts-users-and-authentication/user-permissions/index.md
Due: prettier --print-width=72 --write

Remove the set-up-and-use-zapier article and corresponding links
  src/docs/concepts-integrations/integrations/index.md
  src/docs/concepts-listings/requiring-approval/index.md
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/concepts-messages/messages/index.md
  src/docs/howto-events/like-feature/index.md
  src/docs/howto-events/set-up-and-use-zapier/index.md
  vercel.json
Due: prettier --print-width=72 --write

Redirect the removed article to the Help Center collection
  vercel.json
Due: none

Updates to align with the recent Sharetribe Zapier integration updates
  src/docs/concepts-integrations/integrations/index.md
Due: prettier --print-width=72 --write

Run formatting cleanup
  src/components/ArticlePage/MarkdownHtml.js
  src/docs/concepts-integrations/integrations/index.md
  src/docs/concepts-listings/requiring-approval/index.md
  src/docs/concepts-messages/messages/index.md
  src/docs/design-toolkit/02-what-are-user-journeys/index.md
  src/docs/design-toolkit/your-user-journey-a-guide/index.md
  src/docs/howto-events/like-feature/index.md
Due: prettier --write, prettier --print-width=72 --write

Run formatting cleanup (#846)
  src/components/ArticlePage/MarkdownHtml.js
  src/docs/concepts-integrations/integrations/index.md
  src/docs/concepts-listings/requiring-approval/index.md
  src/docs/concepts-messages/messages/index.md
  src/docs/design-toolkit/02-what-are-user-journeys/index.md
  src/docs/design-toolkit/your-user-journey-a-guide/index.md
  src/docs/howto-events/like-feature/index.md
Due: prettier --write, prettier --print-width=72 --write

Add viewing rights access control documentation
  src/docs/concepts-users-and-authentication/user-permissions/access-control-asset.png
  src/docs/concepts-users-and-authentication/user-permissions/access_control_pending_user.png
  src/docs/concepts-users-and-authentication/user-permissions/access_control_pending_users.png
  src/docs/concepts-users-and-authentication/user-permissions/access_control_private_marketplace.png
  src/docs/concepts-users-and-authentication/user-permissions/access_control_publishing_permission.png
  src/docs/concepts-users-and-authentication/user-permissions/access_control_user_approval.png
  src/docs/concepts-users-and-authentication/user-permissions/current_user_effectivePermissionSet.png
  src/docs/concepts-users-and-authentication/user-permissions/current_user_effectivePermissionSet_allow.png
  src/docs/concepts-users-and-authentication/user-permissions/current_user_permissions_attribute.png
  src/docs/concepts-users-and-authentication/user-permissions/edit_user_permissions.png
  src/docs/concepts-users-and-authentication/user-permissions/index.md
  src/docs/concepts-users-and-authentication/user-permissions/user_publish_listings_checkbox.png
  src/docs/concepts-users-and-authentication/user-permissions/users_restrict_transaction_rights.png
  src/docs/concepts-users-and-authentication/user-permissions/users_view_permissions.png
Due: prettier --print-width=72 --write

add asset documentation
  src/docs/references/email-templates/index.md
Due: prettier --print-width=72 --write

Update page schema reference
  src/docs/references/page-schema/index.md
  src/docs/references/page-schema/page-asset-schema.json
Due: prettier --print-width=72 --write

add asset documentation (#848)
  src/docs/references/email-templates/index.md
Due: prettier --print-width=72 --write

update banner copy text
  src/components/VersionBanner/VersionBanner.js
Due: prettier --write

Update publishing rights to posting
  src/docs/concepts-users-and-authentication/user-permissions/index.md
Due: prettier --print-width=72 --write

Fix typo
  src/docs/concepts-users-and-authentication/user-permissions/index.md
Due: prettier --print-width=72 --write

Update listings overview article
  src/docs/concepts-listings/listings-overview/index.md
Due: prettier --print-width=72 --write

Remove and redirect article about payout problems
  src/docs/concepts-payments/solving-payout-problems/console-tx-csv.png
  src/docs/concepts-payments/solving-payout-problems/index.md
  src/docs/concepts-payments/solving-payout-problems/payment-process.png
  src/docs/concepts-payments/solving-payout-problems/stripe-amount-too-small-response.png
  src/docs/concepts-payments/solving-payout-problems/stripe-insufficient-balance-response.png
  src/docs/concepts-payments/solving-payout-problems/stripe-logs-filter.png
  src/docs/concepts-payments/solving-payout-problems/stripe-logs.png
  vercel.json
Due: prettier --print-width=72 --write

update seats document
  src/docs/howto-listing/seats/index.md
Due: prettier --print-width=72 --write

update environment var article (#837)
  src/docs/ftw-hosting/how-to-deploy-ftw-to-production/index.md
Due: prettier --print-width=72 --write

Update payout related references
  src/docs/references/transaction-process-actions/index.md
Due: prettier --print-width=72 --write

Update payout related references (#814)
  src/docs/references/transaction-process-actions/index.md
Due: prettier --print-width=72 --write

Clarify the concept of protected metadata
  src/docs/concepts-extended-data/extended-data-introduction/index.md
Due: prettier --print-width=72 --write

Clarify the concept of protected metadata (#855)
  src/docs/concepts-extended-data/extended-data-introduction/index.md
Due: prettier --print-width=72 --write

Update Stripe Connect Onboarding article
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/connectOnboarding-updated.png
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/index.md
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/stripeDashboard-updated.png
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/stripePayoutForm.png
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/verificationFailed.png
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/verificationNeeded.png
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/verificationSuccess.png
  src/docs/howto-payments/provider-onboarding-and-identity-verification/stripePayoutForm.png
  vercel.json
Due: prettier --print-width=72 --write

Make Stripe Customer description client agnostic
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/index.md
Due: prettier --print-width=72 --write

De-Flex the article footer
  src/components/ArticlePage/Footer.js
Due: prettier --write

Rewrite Stripe Connect description to more client agnostic
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/index.md
Due: prettier --print-width=72 --write

De-flex carousels and code example comment
  src/components/CarouselSneakertimeCreationJourney/CarouselSneakertimeCreation.js
  src/components/CarouselYogatimeCreationJourney/CarouselYogatimeCreation.js
  static/tutorial-assets/github.js
Due: prettier --write

Fix formatting
  src/components/ArticlePage/Footer.js
  src/docs/concepts-users-and-authentication/user-permissions/index.md
Due: prettier --write, prettier --print-width=72 --write

update currency doc
  src/docs/ftw-configuration/how-to-set-up-currency-in-ftw/index.md
Due: prettier --print-width=72 --write

Path conditions:
  prettier --write: (((any of: src/**/*.js) or (any of: gatsby-config.js)) or (any of: gatsby-node.js)) or (any of: gatsby-browser.js)
  prettier --print-width=72 --write: (any of: src/**/*.md) or (any of: docs/**/*.md)
