Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

.lintstagedrc:

{
    "src/**/*.js": [
        "prettier --write"
    ],
    "gatsby-config.js": [
        "prettier --write"
    ],
    "gatsby-node.js": [
        "prettier --write"
    ],
    "gatsby-browser.js": [
        "prettier --write"
    ],
    "src/**/*.md": [
        "prettier --print-width=72 --write"
    ],
    "docs/**/*.md": [
        "prettier --print-width=72 --write"
    ]
}

refactor code
  src/components/VersionBanner/VersionBanner.js
Due: prettier --write

refactoring
  src/components/VersionBanner/VersionBanner.js
Due: prettier --write

enable rewrite from /legacy
  vercel.json
Due: none

Update default listing attribute name
  src/docs/howto-search/change-search-filters-in-ftw/index.md
  src/docs/howto-search/manage-search-schemas-with-flex-cli/index.md
Due: prettier --print-width=72 --write

Add mention of restricting Google Maps API keys
  src/docs/ftw-search/how-to-use-google-maps-in-ftw/index.md
Due: prettier --print-width=72 --write

create new console articles branch
  src/docs/operator-guides-branding/how-to-add-good-looking-logos-and-images/index.md
Due: prettier --print-width=72 --write

marketplace images definitions and explanations
  src/docs/operator-guides-branding/marketplace-images-definitions-and-explantions/index.md
Due: prettier --print-width=72 --write

adding layout articles folder and the base for one article
  src/docs/operator-guides-layout/listing-page-image-layouts/index.md
Due: prettier --print-width=72 --write

changes to display categories for operator guides
  src/config-site-structure.js
  src/pages/operator-guides.js
  src/ui-texts.json
Due: prettier --write

Defining a sorting array
  src/config-site-structure.js
Due: prettier --write

updating transaction layout and branding articles
  src/docs/operator-guides-branding/how-to-add-good-looking-logos-and-images/background-image.png
  src/docs/operator-guides-branding/how-to-add-good-looking-logos-and-images/favicon.png
  src/docs/operator-guides-branding/how-to-add-good-looking-logos-and-images/index.md
  src/docs/operator-guides-branding/marketplace-images-definitions-and-explanations/index.md
  src/docs/operator-guides-layout/listing-thumbnail-aspect-ratio/index.md
  src/docs/operator-guides-layout/search-page-layout-options/index.md
  src/docs/operator-guides-transaction/how-to-set-your-marketplace-commission/index.md
  src/docs/operator-guides-transaction/minimum-transaction-size/index.md
  src/docs/operator-guides-transaction/why-commission-is-important/index.md
Due: prettier --print-width=72 --write

updating transactions and layout articles
  src/docs/operator-guides-layout/listing-page-image-layouts/index.md
  src/docs/operator-guides-layout/listing-thumbnail-aspect-ratio/index.md
  src/docs/operator-guides-layout/search-page-layout-options/index.md
  src/docs/operator-guides-transactions/how-to-set-your-marketplace-commission/index.md
  src/docs/operator-guides-transactions/minimum-transaction-size/index.md
  src/docs/operator-guides-transactions/why-commission-is-important/index.md
Due: prettier --print-width=72 --write

fixing marketplace image aritcle and deleting duplicate
  src/docs/operator-guides-branding/marketplace-images-definitions-and-explanations/index.md
  src/docs/operator-guides-branding/marketplace-images-definitions-and-explantions/index.md
Due: prettier --print-width=72 --write

updating article images
  src/docs/operator-guides-branding/how-to-add-good-looking-logos-and-images/index.md
  src/docs/operator-guides-branding/marketplace-images-definitions-and-explanations/background-image.png
  src/docs/operator-guides-branding/marketplace-images-definitions-and-explanations/favicon.png
  src/docs/operator-guides-branding/marketplace-images-definitions-and-explanations/index.md
  src/docs/operator-guides-branding/marketplace-images-definitions-and-explanations/logo.png
  src/docs/operator-guides-layout/listing-page-image-layouts/fullscreen-image.png
  src/docs/operator-guides-layout/listing-page-image-layouts/image-carousel-with-thumbnail.png
  src/docs/operator-guides-layout/listing-page-image-layouts/index.md
  src/docs/operator-guides-layout/listing-page-image-layouts/screenwide-cover-photo.png
  src/docs/operator-guides-layout/search-page-layout-options/index.md
  src/docs/operator-guides-layout/search-page-layout-options/map-view.png
Due: prettier --print-width=72 --write

add links to design files and screenshot
  src/docs/design-toolkit/01-design-files/FTW-in-Sketch.png
  src/docs/design-toolkit/01-design-files/index.md
  src/docs/design-toolkit/01-design-files/template-sketch.png
Due: prettier --print-width=72 --write

adding operator guides listing articles
  src/docs/operator-guides-listings/how-search-works/index.md
  src/docs/operator-guides-listings/how-to-add-and-edit-listing-fields/index.md
  src/docs/operator-guides-listings/keyword-search/index.md
  src/docs/operator-guides-listings/listing-fields/index.md
  src/docs/operator-guides-listings/listing-search-settings/index.md
  src/docs/operator-guides-listings/location-search/index.md
  src/docs/operator-guides-listings/understanding-listing-filters/index.md
  src/docs/operator-guides-listings/understanding-transaction-settings/index.md
  src/docs/operator-guides-listings/what-are-listing-types/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/operator-guides-pages/how-to-enable-pages/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/operator-guides-pages/how-to-edit-pages/index.md
Due: prettier --print-width=72 --write

add redirects and links to legacy
  src/docs/concepts-payments/how-payment-intents-work/index.md
  src/docs/concepts-payments/how-sca-works/index.md
  src/docs/ftw-content/page-builder/index.md
  src/docs/ftw-introduction/01-how-to-customize-ftw/index.md
  src/docs/ftw-legacy/legacy-overview/index.md
  src/docs/howto-payments/enable-payment-intents-in-ftw/index.md
  src/docs/introduction/getting-started-with-ftw-daily/index.md
  src/docs/introduction/introducing-template/index.md
  vercel.json
Due: prettier --print-width=72 --write

fix bug with banner not initialising
  src/components/VersionBanner/VersionBanner.js
Due: prettier --write

combined template and environment renaming operator guide changes (#681)
  src/docs/operator-guides-concepts/concepts/concepts.md
  src/docs/operator-guides-concepts/feature-knowledge-base/index.md
  src/docs/operator-guides-concepts/features/index.md
  src/docs/operator-guides-concepts/hiring-developer-to-build-your-flex-marketplace/index.md
  src/docs/operator-guides-concepts/how-to-use-microcopy-editor/index.md
  src/docs/operator-guides-concepts/what-is-the-difference-between-flex-and-go-source-available/index.md
  src/docs/operator-guides-pages/how-to-create-an-faq-page/index.md
  src/docs/operator-guides-pages/how-to-edit-pages/index.md
  src/docs/operator-guides-pages/how-to-enable-pages/index.md
  src/docs/operator-guides-pages/introducing-pages/index.md
Due: prettier --print-width=72 --write

Legacy docs banner (#682)
  src/components/MainLayout.js
  src/components/VersionBanner/VersionBanner.js
  src/components/Warning.js
  src/components/WarningIcon.js
  src/components/index.js
  vercel.json
Due: prettier --write

fix broken links
  src/components/VersionBanner/VersionBanner.js
Due: prettier --write

rewrite to correct v of legacy docs
  vercel.json
Due: none

updating instructions on how to use environments
  src/docs/operator-guides-pages/how-to-enable-pages/index.md
Due: prettier --print-width=72 --write

add link to design files and fix mention of wireframes
  src/docs/design-toolkit/01-design-files/index.md
  src/docs/introduction/introducing-template/index.md
Due: prettier --print-width=72 --write

fix occurances of ftw
  src/docs/ftw-content/page-builder/index.md
  src/docs/howto-events/like-feature/index.md
  src/docs/howto-search/manage-search-schemas-with-flex-cli/index.md
  src/docs/introduction/development-skills/index.md
  src/docs/references/stock/index.md
  src/docs/tutorial-branding/change-images/index.md
  src/docs/tutorial-branding/change-logo/index.md
  src/docs/tutorial-branding/working-with-microcopy/index.md
Due: prettier --print-width=72 --write

add link to design files and fix mention of wireframes (#684)
  src/docs/design-toolkit/01-design-files/index.md
  src/docs/ftw-content/page-builder/index.md
  src/docs/howto-events/like-feature/index.md
  src/docs/howto-search/manage-search-schemas-with-flex-cli/index.md
  src/docs/introduction/development-skills/index.md
  src/docs/introduction/introducing-template/index.md
  src/docs/references/stock/index.md
  src/docs/tutorial-branding/change-images/index.md
  src/docs/tutorial-branding/change-logo/index.md
  src/docs/tutorial-branding/working-with-microcopy/index.md
Due: prettier --print-width=72 --write

Update linkedin.js
  static/tutorial-assets/linkedin.js
Due: none

Update linkedin.js (#685)
  static/tutorial-assets/linkedin.js
Due: none

rewrite design file article
  src/docs/design-toolkit/01-design-files/index.md
Due: prettier --print-width=72 --write

add link to sketch
  src/docs/design-toolkit/01-design-files/index.md
Due: prettier --print-width=72 --write

add information on when to donwload inter font
  src/docs/design-toolkit/01-design-files/index.md
Due: prettier --print-width=72 --write

rewrite design file article (#686)
  src/docs/design-toolkit/01-design-files/index.md
Due: prettier --print-width=72 --write

Fix env variable name
  src/docs/tutorial-branding/deploy-to-render/index.md
Due: prettier --print-width=72 --write

update link on front page
  src/components/LandingPage/LandingPage.js
Due: prettier --write
