Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

.lintstagedrc:

{
    "src/**/*.js": [
        "prettier --write"
    ],
    "gatsby-config.js": [
        "prettier --write"
    ],
    "gatsby-node.js": [
        "prettier --write"
    ],
    "gatsby-browser.js": [
        "prettier --write"
    ],
    "src/**/*.md": [
        "prettier --print-width=72 --write"
    ],
    "docs/**/*.md": [
        "prettier --print-width=72 --write"
    ]
}

dont prefix docs in vercel deploy previews
  gatsby-config.js
Due: prettier --write

remove docs prefic from all sources of redirects
  vercel.json
Due: none

remove middleware
  middleware.js
Due: none

Netlify to vercel migration (#634)
  .gitignore
  gatsby-config.js
  netlify-postbuild.sh
  vercel.json
Due: prettier --write

Change casing for schema-for -> Schema for
  src/docs/howto-search/manage-search-schemas-with-flex-cli/index.md
Due: prettier --print-width=72 --write

change enquiry/enquire to inquiry/inquire
  src/docs/concepts-messages/messages/index.md
  src/docs/howto-events/like-feature/index.md
  src/docs/howto-payments/enable-payment-intents-in-ftw/index.md
  src/docs/howto-payments/how-saving-payment-card-works-in-ftw/index.md
  src/docs/howto-payments/removing-stripe/index.md
  src/docs/howto-transaction-process/change-transaction-process-in-ftw/index.md
  src/docs/howto-transaction-process/edit-transaction-process-with-flex-cli/index.md
  src/docs/howto-transaction-process/enable-time-based-bookings/index.md
  src/docs/howto-users-and-authentication/implement-delete-user/cookbook-assets/delete-account.js
  src/docs/howto-users-and-authentication/implement-delete-user/index.md
Due: prettier --write, prettier --print-width=72 --write

update carousel images
  src/components/CarouselTransactionProcessComponents/transaction-states-v2.png
  src/docs/concepts-transactions/transaction-process/complete-transaction-process.png
  src/docs/concepts-transactions/transaction-process/tx-process-instabook-customer-cancel.png
  static/tutorial-assets/SimpleCheckoutPage.js
Due: none

adding two articles for pages
  src/docs/operator-guides/how-to-edit-pages/index.md
  src/docs/operator-guides/how-to-format-your-text-in-pages/index.md
Due: prettier --print-width=72 --write

changing published status
  src/docs/operator-guides/how-to-edit-pages/index.md
  src/docs/operator-guides/how-to-format-your-text-in-pages/index.md
Due: prettier --print-width=72 --write

fix the condition on how GA is rendered
  gatsby-config.js
Due: prettier --write

fix the condition on how GA is rendered (#654)
  gatsby-config.js
Due: prettier --write

finish the markdown article and update the edit pages article
  src/docs/operator-guides/how-to-edit-pages/index.md
  src/docs/operator-guides/how-to-edit-pages/landing-page-sections.png
  src/docs/operator-guides/how-to-format-your-text-in-pages/Sharetribe-logo.png
  src/docs/operator-guides/how-to-format-your-text-in-pages/headers.png
  src/docs/operator-guides/how-to-format-your-text-in-pages/index.md
Due: prettier --print-width=72 --write

section-template-article
  src/docs/operator-guides/section-templates/articles.png
  src/docs/operator-guides/section-templates/carousel.png
  src/docs/operator-guides/section-templates/columns.png
  src/docs/operator-guides/section-templates/features.png
  src/docs/operator-guides/section-templates/index.md
Due: prettier --print-width=72 --write

concepts-update-new-term
  src/docs/operator-guides/concepts/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/operator-guides/concepts/index.md
Due: prettier --print-width=72 --write

Remove references to deprecated pricing articles
  src/docs/concepts-pricing-and-commissions/commissions-and-monetizing-your-platform/index.md
  src/docs/concepts-pricing-and-commissions/pricing/index.md
  src/docs/concepts-transactions/privileged-transitions/index.md
  src/docs/howto-payments/customize-pricing/index.md
Due: prettier --print-width=72 --write

Remove references to deprecated pricing articles (#655)
  src/docs/concepts-pricing-and-commissions/commissions-and-monetizing-your-platform/index.md
  src/docs/concepts-pricing-and-commissions/pricing/index.md
  src/docs/concepts-transactions/privileged-transitions/index.md
  src/docs/howto-payments/customize-pricing/index.md
Due: prettier --print-width=72 --write

testing
  src/docs/concepts-pricing-and-commissions/commissions-and-monetizing-your-platform/index.md
  src/docs/concepts-pricing-and-commissions/pricing/index.md
  src/docs/concepts-transactions/privileged-transitions/index.md
  src/docs/howto-payments/customize-pricing/index.md
Due: prettier --print-width=72 --write

remove postbuild script
  netlify-postbuild.sh
Due: none

testing
  gatsby-config.js
Due: prettier --write

continue testing
  gatsby-config.js
Due: prettier --write

add new build command
  gatsby-config.js
Due: prettier --write

FAQ tutorial (TODO: Links)
  docs/faq-tutorial/0-1-full-page.jpg
  docs/faq-tutorial/3-1-page-id.jpg
  docs/faq-tutorial/3-2-edit-content.jpg
  docs/faq-tutorial/4-1-hero-image.jpg
  docs/faq-tutorial/4-2-hero-section.jpg
  docs/faq-tutorial/5-1-faq-section.jpg
  docs/faq-tutorial/5-10-faq-block-7.jpg
  docs/faq-tutorial/5-11-faq-block-8.jpg
  docs/faq-tutorial/5-12-faq-block-9.jpg
  docs/faq-tutorial/5-13-review-section.jpg
  docs/faq-tutorial/5-14-review-block-1.jpg
  docs/faq-tutorial/5-15-review-block-2.jpg
  docs/faq-tutorial/5-16-review-block-3.jpg
  docs/faq-tutorial/5-17-review-block-4.jpg
  docs/faq-tutorial/5-2-faq-block-1.jpg
  docs/faq-tutorial/5-3-faq-block-2.jpg
  docs/faq-tutorial/5-4-faq-block-3.jpg
  docs/faq-tutorial/5-5-faq-section-2.jpg
  docs/faq-tutorial/5-6-faq-block-4.jpg
  docs/faq-tutorial/5-7-faq-block-5.jpg
  docs/faq-tutorial/5-8-faq-block-6.jpg
  docs/faq-tutorial/5-9-faq-section 3.jpg
  docs/faq-tutorial/6-1-errors-1.jpg
  docs/faq-tutorial/6-2-errors-2.jpg
  docs/faq-tutorial/7-1-set-page-live.jpg
  docs/faq-tutorial/7-2-full-page.jpg
  docs/how-to-create-a-faq-page.md
Due: prettier --print-width=72 --write

Filename typo fix
  docs/how-to-create-an-faq-page.md
Due: prettier --print-width=72 --write

adds seo tags and enabling pages articles as well as a carousel for the edit pages base article
  src/components/ArticlePage/MarkdownHtml.js
  src/components/CarouselSectionsWithoutBlocks/CarouselSectionsWithoutBlocks.js
  src/components/CarouselSectionsWithoutBlocks/Info-style.png
  src/components/CarouselSectionsWithoutBlocks/hero-style.png
  src/components/CarouselSectionsWithoutBlocks/index.js
  src/components/CarouselSectionsWithoutBlocks/link-style.png
  src/components/index.js
  src/docs/operator-guides/edit-seo-and-social-tags/index.md
  src/docs/operator-guides/how-to-edit-pages/add-new-block.png
  src/docs/operator-guides/how-to-edit-pages/edit-sections.gif
  src/docs/operator-guides/how-to-edit-pages/index.md
  src/docs/operator-guides/how-to-edit-pages/title-and-description.png
  src/docs/operator-guides/how-to-enable-pages/index.md
  src/docs/operator-guides/how-to-format-your-text-in-pages/index.md
Due: prettier --write, prettier --print-width=72 --write

introducing-pages-article
  src/docs/operator-guides/introducing-pages/carousel-example.png
  src/docs/operator-guides/introducing-pages/index.md
  src/docs/operator-guides/introducing-pages/pages-homescreen.png
Due: prettier --print-width=72 --write

Update index.md
  src/docs/operator-guides/introducing-pages/index.md
Due: prettier --print-width=72 --write

Update src/docs/operator-guides/concepts/index.md
  src/docs/operator-guides/concepts/index.md
Due: prettier --print-width=72 --write

Delete Info-style.png
  src/components/CarouselSectionsWithoutBlocks/Info-style.png
Due: none

Update link-style.png
  src/components/CarouselSectionsWithoutBlocks/link-style.png
Due: none

Create info-style.png
  src/components/CarouselSectionsWithoutBlocks/info-style.png
Due: none

fix typos and change date to future potential date
  src/docs/operator-guides/edit-seo-and-social-tags/index.md
  src/docs/operator-guides/how-to-edit-pages/index.md
  src/docs/operator-guides/how-to-format-your-text-in-pages/index.md
Due: prettier --print-width=72 --write

Update article on removing Stripe
  src/docs/howto-payments/removing-stripe/index.md
Due: prettier --print-width=72 --write

Update todos
  src/docs/concepts-development/microcopy/index.md
  src/docs/design-toolkit/user-journey-saunatime/index.md
  src/docs/design-toolkit/user-journey-sneakertime/index.md
  src/docs/design-toolkit/user-journey-yogatime/index.md
  src/docs/howto-payments/provider-onboarding-and-identity-verification/index.md
  src/docs/howto-search/change-search-filters-in-ftw/index.md
  src/docs/howto-transaction-process/enable-time-based-bookings/index.md
Due: prettier --print-width=72 --write

Update time slots article to combined template
  src/docs/howto-listing/time-slots/30_minute_booking.png
  src/docs/howto-listing/time-slots/different_first_slot_booking.png
  src/docs/howto-listing/time-slots/index.md
Due: prettier --print-width=72 --write

Fix explanation on buffer timeslot article
  src/docs/howto-listing/bookings-with-buffer/index.md
Due: prettier --print-width=72 --write

Update delete button how-to screenshots
  src/docs/howto-users-and-authentication/implement-delete-user/delete-account-conflict.png
  src/docs/howto-users-and-authentication/implement-delete-user/delete-account-form-blank.png
  src/docs/howto-users-and-authentication/implement-delete-user/delete-account-form-check-password.png
  src/docs/howto-users-and-authentication/implement-delete-user/delete-account-form-filled.png
  src/docs/howto-users-and-authentication/implement-delete-user/deleted-user-transaction.png
  src/docs/howto-users-and-authentication/implement-delete-user/index.md
Due: prettier --print-width=72 --write

Update tx process carousel screenshots
  src/components/CarouselTxnProcessUX/transaction-page-request.png
  src/components/CarouselTxnProcessUX/transaction-page-requested.png
  src/components/CarouselTxnProcessUX/txn-preauthorized-notification.png
Due: none

Start modifying booking time buffer how-to article
  src/docs/howto-listing/bookings-with-buffer/index.md
  src/docs/howto-listing/bookings-with-buffer/quarter_hour_starts.png
Due: prettier --print-width=72 --write

Update microcopy article screenshots
  src/docs/concepts-development/microcopy/index.md
  src/docs/concepts-development/microcopy/microcopy_UI_parameter.png
  src/docs/concepts-development/microcopy/microcopy_UI_plural.png
  src/docs/concepts-development/microcopy/microcopy_UI_select.png
  src/docs/concepts-development/microcopy/microcopy_UI_simple.png
  src/docs/concepts-development/microcopy/microcopy_console.png
Due: prettier --print-width=72 --write
