Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

delete duplicate article
  src/docs/operator-guides-useful-information/concepts/concepts.md
Due: prettier --print-width=72 --write

updating dns instructions
  src/docs/the-new-sharetribe/going-live/index.md
Due: prettier --print-width=72 --write

add plausible script and rewrites
  gatsby-browser.js
  gatsby-ssr.js
  src/pages/404.js
  vercel.json
Due: prettier --write

fix plausible script data-api and src
  gatsby-ssr.js
Due: none

Add mention of other build UIS to tutorial intro
  src/docs/the-new-sharetribe/tutorial-introduction/index.md
Due: prettier --print-width=72 --write

test alternative data-domain
  gatsby-ssr.js
Due: none

conditionally render data domain based on environment variables
  gatsby-ssr.js
Due: none

Enable plausible analytics (#709)
  gatsby-browser.js
  gatsby-ssr.js
  src/pages/404.js
  vercel.json
Due: prettier --write

Remove unnecessary heading
  src/docs/operator-guides-concepts/logging-in-as-user/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/operator-guides-listings/requiring-approval-for-new-listings/index.md
Due: prettier --print-width=72 --write

Update folder name and index.md
  src/docs/operator-guides-concepts/how-to-download-csv-exports/01-export-users-link.png
  src/docs/operator-guides-concepts/how-to-download-csv-exports/02-export-users-sheet.png
  src/docs/operator-guides-concepts/how-to-download-csv-exports/03-user-descriptions.png
  src/docs/operator-guides-concepts/how-to-download-csv-exports/04-export-listings-sheet.png
  src/docs/operator-guides-concepts/how-to-download-csv-exports/05-listing-descriptions.png
  src/docs/operator-guides-concepts/how-to-download-csv-exports/06-export-transactions-sheet.png
  src/docs/operator-guides-concepts/how-to-download-csv-exports/07-transaction-descriptions.png
  src/docs/operator-guides-concepts/how-to-download-csv-exports/08-export-reviews-sheet.png
  src/docs/operator-guides-concepts/how-to-download-csv-exports/09-review-descriptions.png
  src/docs/operator-guides-concepts/how-to-download-csv-exports/csv-column-descriptions.numbers
  src/docs/operator-guides-concepts/how-to-download-csv-exports/index.md
Due: prettier --print-width=72 --write

Fix timeslot article bugs
  src/docs/howto-listing/bookings-with-buffer/index.md
  src/docs/howto-listing/time-slots/index.md
Due: prettier --print-width=72 --write

Add formatting to new articles
  src/docs/operator-guides-concepts/how-to-download-csv-exports/index.md
  src/docs/operator-guides-listings/requiring-approval-for-new-listings/index.md
  src/docs/the-new-sharetribe/going-live/index.md
Due: prettier --print-width=72 --write

Update Introducing Template video
  src/docs/introduction/introducing-template/index.md
Due: prettier --print-width=72 --write

Specify which filters are automatically used on search page
  src/docs/ftw-configuration/configuration-in-ftw-x/index.md
Due: prettier --print-width=72 --write

Fix small issues with the docs (#711)
  src/docs/ftw-configuration/configuration-in-ftw-x/index.md
  src/docs/howto-listing/bookings-with-buffer/index.md
  src/docs/howto-listing/time-slots/index.md
  src/docs/introduction/introducing-template/index.md
  src/docs/operator-guides-concepts/how-to-download-csv-exports/index.md
  src/docs/operator-guides-listings/requiring-approval-for-new-listings/index.md
  src/docs/the-new-sharetribe/going-live/index.md
Due: prettier --print-width=72 --write

TNS listings
  src/config-site-structure.js
  src/docs/the-new-sharetribe-listings/default-availability-management-options/01-seller-recurring-schedule-daily.png
  src/docs/the-new-sharetribe-listings/default-availability-management-options/02-seller-recurring-schedule-done-daily.png
  src/docs/the-new-sharetribe-listings/default-availability-management-options/03-seller-add-exception-daily.png
  src/docs/the-new-sharetribe-listings/default-availability-management-options/04-seller-exception-done-daily.png
  src/docs/the-new-sharetribe-listings/default-availability-management-options/05-seller-recurring-schedule-hourly.png
  src/docs/the-new-sharetribe-listings/default-availability-management-options/06-seller-recurring-schedule-done-hourly.png
  src/docs/the-new-sharetribe-listings/default-availability-management-options/07-seller-add-exception-hourly.png
  src/docs/the-new-sharetribe-listings/default-availability-management-options/08-seller-exception-done-hourly.png
  src/docs/the-new-sharetribe-listings/default-availability-management-options/09-buyer-listing-view-daily.png
  src/docs/the-new-sharetribe-listings/default-availability-management-options/10-buyer-calendar-view-daily.png
  src/docs/the-new-sharetribe-listings/default-availability-management-options/11-buyer-listing-view-hourly.png
  src/docs/the-new-sharetribe-listings/default-availability-management-options/12-buyer-calendar-view-hourly.png
  src/docs/the-new-sharetribe-listings/default-availability-management-options/13-buyer-time-view-hourly.png
  src/docs/the-new-sharetribe-listings/default-availability-management-options/index.md
  src/docs/the-new-sharetribe-listings/default-inventory-management-options/index.md
  src/docs/the-new-sharetribe-listings/default-inventory-management-options/inventory-01-buyer-singlestock.jpg
  src/docs/the-new-sharetribe-listings/default-inventory-management-options/inventory-02-setstock.jpg
  src/docs/the-new-sharetribe-listings/default-inventory-management-options/inventory-03-seller-addstock.jpg
  src/docs/the-new-sharetribe-listings/default-inventory-management-options/inventory-04-buyer-multistock.jpg
  src/docs/the-new-sharetribe-listings/how-search-works/index.md
  src/docs/the-new-sharetribe-listings/how-to-add-and-edit-listing-fields/index.md
  src/docs/the-new-sharetribe-listings/keyword-search/index.md
  src/docs/the-new-sharetribe-listings/listing-fields/index.md
  src/docs/the-new-sharetribe-listings/listing-fields/select_multiple-field-listing_form.png
  src/docs/the-new-sharetribe-listings/listing-fields/select_multiple-field-listing_page.png
  src/docs/the-new-sharetribe-listings/listing-fields/select_one-field-listing_form.png
  src/docs/the-new-sharetribe-listings/listing-fields/select_one-field-listing_page.png
  src/docs/the-new-sharetribe-listings/listing-search-settings/index.md
  src/docs/the-new-sharetribe-listings/location-search/index.md
  src/docs/the-new-sharetribe-listings/understanding-filters/index.md
  src/docs/the-new-sharetribe-listings/what-are-listing-types/index.md
  src/pages/the-new-sharetribe.js
  src/ui-texts.json
Due: prettier --write, prettier --print-width=72 --write

saving changes
  src/config-site-structure.js
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/01-buyer-browsing.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/02-buyer-listingview.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/03-buyer-checkout.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/04-buyer-checkout-success.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/05-seller-notification.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/06-seller-inbox.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/07-seller-transactionthread.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/08-seller-accepted.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/09-buyer-accepted.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/10-transaction-process-operator-actions.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/11-operator-actions-accept.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/12-operator-actions-accept-confirm.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/13-operator-actions-complete.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/14-operator-actions-complete-confirm.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/15-operator-actions-operator-actions-done.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/16-buyer-selecting-delivery.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/17-buyer-shipping-checkout.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/18-buyer-pickup-checkout.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/19-buyer-booking-success.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/20-seller-inbox.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/21-seller-transactionthread.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/22-seller-delivered.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/23-buyer-receiving.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/24-buyer-received.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/25-transaction-process-operator-actions.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/26-operator-actions-cancel.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/27-operator-actions-cancel-confirm.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/28-operator-actions-cancel-done.png
  src/docs/the-new-sharetribe-transactions/default-transaction-process-options/index.md
  src/docs/the-new-sharetribe-transactions/how-to-set-your-marketplace-commission/index.md
  src/docs/the-new-sharetribe-transactions/minimum-transaction-size/index.md
  src/docs/the-new-sharetribe-transactions/understanding-transaction-settings/index.md
  src/docs/the-new-sharetribe-transactions/why-is-commission-important/index.md
  src/pages/the-new-sharetribe.js
  src/ui-texts.json
Due: prettier --write, prettier --print-width=72 --write

Update the-new-sharetribe.js
  src/pages/the-new-sharetribe.js
Due: prettier --write

Update index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-transactions/default-transaction-process-options/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/default-inventory-management-options/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/default-availability-management-options/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/how-search-works/index.md
Due: prettier --print-width=72 --write

adding login as user article
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/login-as-a-user/01-manage-users-login-as-user.png
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/login-as-a-user/02-logged-in-as-user.png
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/login-as-a-user/index.md
Due: prettier --print-width=72 --write

Update ui-texts.json
  src/ui-texts.json
Due: none

Update index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/login-as-a-user/index.md
Due: prettier --print-width=72 --write

Update localisation instruction
  src/docs/ftw-content/change-ftw-language/index.md
Due: prettier --print-width=72 --write

Update localisation instruction (#713)
  src/docs/ftw-content/change-ftw-language/index.md
Due: prettier --print-width=72 --write

Update tables
  src/docs/operator-guides-concepts/how-to-download-csv-exports/03-user-descriptions.png
  src/docs/operator-guides-concepts/how-to-download-csv-exports/05-listing-descriptions.png
  src/docs/operator-guides-concepts/how-to-download-csv-exports/07-transaction-descriptions.png
  src/docs/operator-guides-concepts/how-to-download-csv-exports/09-review-descriptions.png
  src/docs/operator-guides-concepts/how-to-download-csv-exports/csv-column-descriptions.numbers
Due: none

Update
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/how-to-download-csv-exports/index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/logging-in-as-user/index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/default-availability-management-options/index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/default-inventory-management-options/index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/requiring-approval-for-new-listings/01-Console-approve-new-listings.png
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/requiring-approval-for-new-listings/02-listing-pending-approval-console.png
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/requiring-approval-for-new-listings/03-approve-listing-console.png
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/requiring-approval-for-new-listings/04-post-new-listing-as-seller.png
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/requiring-approval-for-new-listings/05-publish-listing.png
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/requiring-approval-for-new-listings/06-listing-pending-approval-seller.png
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/requiring-approval-for-new-listings/index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-transactions/default-transaction-process-options/index.md
Due: prettier --print-width=72 --write

Update categories
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/how-to-download-csv-exports/index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/logging-in-as-user/index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/default-availability-management-options/index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/default-inventory-management-options/index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/requiring-approval-for-new-listings/index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-transactions/default-transaction-process-options/index.md
Due: prettier --print-width=72 --write

6 articles for TNS
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/how-to-download-csv-exports/01-export-users-link.png
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/how-to-download-csv-exports/02-export-users-sheet.png
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/how-to-download-csv-exports/03-user-descriptions.png
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/how-to-download-csv-exports/04-export-listings-sheet.png
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/how-to-download-csv-exports/05-listing-descriptions.png
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/how-to-download-csv-exports/06-export-transactions-sheet.png
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/how-to-download-csv-exports/07-transaction-descriptions.png
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/how-to-download-csv-exports/08-export-reviews-sheet.png
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/how-to-download-csv-exports/09-review-descriptions.png
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/how-to-download-csv-exports/csv-column-descriptions.numbers
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/how-to-download-csv-exports/index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/logging-in-as-user/01-manage-users-login-as-user.png
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/logging-in-as-user/02-logged-in-as-user.png
  src/docs/the-new-sharetribe/the-new-sharetribe-concepts/logging-in-as-user/index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/default-availability-management-options/index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/default-inventory-management-options/index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/requiring-approval-for-new-listings/01-Console-approve-new-listings.png
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/requiring-approval-for-new-listings/02-listing-pending-approval-console.png
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/requiring-approval-for-new-listings/03-approve-listing-console.png
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/requiring-approval-for-new-listings/04-post-new-listing-as-seller.png
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/requiring-approval-for-new-listings/05-publish-listing.png
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/requiring-approval-for-new-listings/06-listing-pending-approval-seller.png
  src/docs/the-new-sharetribe/the-new-sharetribe-listings/requiring-approval-for-new-listings/index.md
  src/docs/the-new-sharetribe/the-new-sharetribe-transactions/default-transaction-process-options/index.md
Due: prettier --print-width=72 --write

add the transparent PNG to the landing page tutorial instructions and changing the order of the going live instructions
  src/docs/the-new-sharetribe/going-live/index.md
  src/docs/the-new-sharetribe/tutorial-landing-pag/index.md
  static/tutorial-assets/tns/transparent-image.png
Due: prettier --print-width=72 --write

Update index.md
  src/docs/the-new-sharetribe/going-live/index.md
Due: prettier --print-width=72 --write

changing folder name
  src/docs/operator-guides-useful-information/concepts/concepts.md
  src/docs/operator-guides-useful-information/key-terms-and-definitions/index.md
Due: prettier --print-width=72 --write

updating folder name
  src/docs/operator-guides-useful-information/key-terms-and-definitions/index.md
Due: prettier --print-width=72 --write

Path conditions:
  prettier --write: (((any of: src/**/*.js) or (any of: gatsby-config.js)) or (any of: gatsby-node.js)) or (any of: gatsby-browser.js)
  prettier --print-width=72 --write: (any of: src/**/*.md) or (any of: docs/**/*.md)
