Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

.lintstagedrc:

{
    "src/**/*.js": [
        "prettier --write"
    ],
    "gatsby-config.js": [
        "prettier --write"
    ],
    "gatsby-node.js": [
        "prettier --write"
    ],
    "gatsby-browser.js": [
        "prettier --write"
    ],
    "src/**/*.md": [
        "prettier --print-width=72 --write"
    ],
    "docs/**/*.md": [
        "prettier --print-width=72 --write"
    ]
}

update .lintstagedrc config
  .lintstagedrc
Due: none

Pre commit prettify (#599)
  .husky/pre-commit
  .lintstagedrc
  package.json
  yarn.lock
Due: none

Add instructions to request 3rd party migration
  src/docs/howto-migrations/migrating-from-outside-sharetribe/index.md
Due: prettier --print-width=72 --write

Add instructions to request 3rd party migration (#601)
  src/docs/howto-migrations/migrating-from-outside-sharetribe/index.md
Due: prettier --print-width=72 --write

Remove-redirect
  src/docs/operator-guides/how-to-use-microcopy-editor/index.md
Due: prettier --print-width=72 --write

Remove-redirect (#602)
  src/docs/operator-guides/how-to-use-microcopy-editor/index.md
Due: prettier --print-width=72 --write

add mention of supported flex cli version
  src/docs/howto-search/manage-search-schemas-with-flex-cli/index.md
Due: prettier --print-width=72 --write

add mention of supported flex cli version (#603)
  src/docs/howto-search/manage-search-schemas-with-flex-cli/index.md
Due: prettier --print-width=72 --write

Add article on reviews
  src/config-site-structure.js
  src/docs/concepts-transactions/reviews/index.md
Due: prettier --write, prettier --print-width=72 --write

Improve readability and add link to Console Reviews
  src/docs/concepts-transactions/reviews/index.md
Due: prettier --print-width=72 --write

Fix wording
  src/docs/concepts-transactions/reviews/index.md
Due: prettier --print-width=72 --write

Elaborate on Zapier extended data handling
  src/docs/howto-events/set-up-and-use-zapier/index.md
Due: prettier --print-width=72 --write

Format non-formatted articles
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/concepts-messages/messages/index.md
  src/docs/tutorial-branding/deploy-to-heroku/index.md
Due: prettier --print-width=72 --write

Add Flex Console URL
  src/docs/howto-events/set-up-and-use-zapier/index.md
Due: prettier --print-width=72 --write

Open external links in new tab
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --write

Elaborate on Zapier's extended data handling (#605)
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/concepts-messages/messages/index.md
  src/docs/howto-events/set-up-and-use-zapier/index.md
  src/docs/tutorial-branding/deploy-to-heroku/index.md
Due: prettier --print-width=72 --write

Change all absolute docs links to relative links
  src/docs/concepts-availability/inventory-management/index.md
  src/docs/concepts-availability/manage-seats/index.md
  src/docs/concepts-development/console-overview/index.md
  src/docs/concepts-development/flex-environments/index.md
  src/docs/concepts-extended-data/extended-data-introduction/index.md
  src/docs/concepts-listings/listings-overview/index.md
  src/docs/concepts-management/manage-listings/index.md
  src/docs/concepts-management/manage-overview/index.md
  src/docs/concepts-management/manage-reviews/index.md
  src/docs/concepts-management/manage-transactions/index.md
  src/docs/concepts-management/manage-users/index.md
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/concepts-messages/messages/index.md
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/concepts-pricing-and-commissions/commissions-and-monetizing-your-platform/index.md
  src/docs/concepts-pricing-and-commissions/pricing/index.md
  src/docs/concepts-transactions/change-transaction-process/index.md
  src/docs/concepts-transactions/transaction-process/index.md
  src/docs/concepts-users-and-authentication/users-and-authentication-in-flex/index.md
  src/docs/design-toolkit/user-journey-saunatime/index.md
  src/docs/design-toolkit/user-journey-sneakertime/index.md
  src/docs/design-toolkit/user-journey-yogatime/index.md
  src/docs/design-toolkit/your-user-journey-a-guide/index.md
  src/docs/ftw-introduction/ftw-customization-checklist/index.md
  src/docs/howto-migrations/go-to-flex-migration/index.md
  src/docs/howto-migrations/migrating-from-outside-sharetribe/index.md
  src/docs/howto-search/manage-search-schemas-with-flex-cli/index.md
  src/docs/introduction/how-to-launch/index.md
  src/docs/introduction/introducing-sneakertime/index.md
  src/docs/introduction/introducing-yogatime/index.md
  src/docs/operator-guides/hiring-developer-to-build-your-flex-marketplace/index.md
  src/docs/tutorial-branding/customize-amenities-filter/index.md
  src/docs/tutorial-branding/deploy-to-heroku/index.md
  src/docs/tutorial-transaction-process/create-transaction-process/index.md
  src/docs/tutorial-transaction-process/customize-pricing/index.md
  src/docs/tutorial-transaction-process/use-protected-data-in-emails/index.md
Due: prettier --print-width=72 --write

Add article on reviews (#604)
  src/config-site-structure.js
  src/docs/concepts-transactions/reviews/index.md
Due: prettier --write, prettier --print-width=72 --write

Open external links in new tab (#606)
  gatsby-config.js
  package.json
  src/docs/concepts-availability/inventory-management/index.md
  src/docs/concepts-availability/manage-seats/index.md
  src/docs/concepts-development/console-overview/index.md
  src/docs/concepts-development/flex-environments/index.md
  src/docs/concepts-extended-data/extended-data-introduction/index.md
  src/docs/concepts-listings/listings-overview/index.md
  src/docs/concepts-management/manage-listings/index.md
  src/docs/concepts-management/manage-overview/index.md
  src/docs/concepts-management/manage-reviews/index.md
  src/docs/concepts-management/manage-transactions/index.md
  src/docs/concepts-management/manage-users/index.md
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/concepts-messages/messages/index.md
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/concepts-pricing-and-commissions/commissions-and-monetizing-your-platform/index.md
  src/docs/concepts-pricing-and-commissions/pricing/index.md
  src/docs/concepts-transactions/change-transaction-process/index.md
  src/docs/concepts-transactions/transaction-process/index.md
  src/docs/concepts-users-and-authentication/users-and-authentication-in-flex/index.md
  src/docs/design-toolkit/user-journey-saunatime/index.md
  src/docs/design-toolkit/user-journey-sneakertime/index.md
  src/docs/design-toolkit/user-journey-yogatime/index.md
  src/docs/design-toolkit/your-user-journey-a-guide/index.md
  src/docs/ftw-introduction/ftw-customization-checklist/index.md
  src/docs/howto-migrations/go-to-flex-migration/index.md
  src/docs/howto-migrations/migrating-from-outside-sharetribe/index.md
  src/docs/howto-search/manage-search-schemas-with-flex-cli/index.md
  src/docs/introduction/how-to-launch/index.md
  src/docs/introduction/introducing-sneakertime/index.md
  src/docs/introduction/introducing-yogatime/index.md
  src/docs/operator-guides/hiring-developer-to-build-your-flex-marketplace/index.md
  src/docs/tutorial-branding/customize-amenities-filter/index.md
  src/docs/tutorial-transaction-process/create-transaction-process/index.md
  src/docs/tutorial-transaction-process/customize-pricing/index.md
  src/docs/tutorial-transaction-process/use-protected-data-in-emails/index.md
  yarn.lock
Due: prettier --write, prettier --print-width=72 --write

Add link to creating new tx process to edit article
  src/docs/concepts-transactions/reviews/index.md
  src/docs/howto-transaction-process/edit-transaction-process-with-flex-cli/index.md
Due: prettier --print-width=72 --write

Add link to creating new tx process to edit article (#607)
  src/docs/concepts-transactions/reviews/index.md
  src/docs/howto-transaction-process/edit-transaction-process-with-flex-cli/index.md
Due: prettier --print-width=72 --write

Add mention of default blocked availability
  src/docs/concepts-availability/manage-seats/index.md
Due: prettier --print-width=72 --write

Add mention of default blocked availability (#608)
  src/docs/concepts-availability/manage-seats/index.md
Due: prettier --print-width=72 --write

Start adding discount code article
  src/docs/concepts-pricing-and-commissions/discount-codes/index.md
Due: prettier --print-width=72 --write

Add paragraph of third party voucher tools
  src/docs/concepts-pricing-and-commissions/discount-codes/index.md
Due: prettier --print-width=72 --write

add footer component
  src/components/ArticlePage/ArticlePage.js
  src/components/ArticlePage/Footer.js
  src/ui-texts.json
Due: prettier --write

Update src/components/ArticlePage/Footer.js
  src/components/ArticlePage/Footer.js
Due: prettier --write

add mention of chat widget
  src/components/ArticlePage/Footer.js
Due: prettier --write

add contact us footer component (#610)
  src/components/ArticlePage/ArticlePage.js
  src/components/ArticlePage/Footer.js
  src/ui-texts.json
Due: prettier --write

Start adding time slot how-to article
  src/docs/howto-listing/time-slots/index.md
Due: prettier --print-width=72 --write

Reorder article instructions and test
  src/docs/howto-listing/time-slots/index.md
Due: prettier --print-width=72 --write

Write out instructions and add images
  src/docs/howto-listing/time-slots/30_minute_booking.png
  src/docs/howto-listing/time-slots/45_minute_booking.png
  src/docs/howto-listing/time-slots/different_first_slot_booking.png
  src/docs/howto-listing/time-slots/index.md
Due: prettier --print-width=72 --write

Add first version of buffered timeslots article
  src/docs/howto-listing/bookings-with-buffer/index.md
  src/docs/howto-listing/bookings-with-buffer/quarter_hour_starts.png
  src/docs/howto-listing/time-slots/index.md
Due: prettier --print-width=72 --write

Fix formatting and add subheadings
  src/docs/howto-listing/bookings-with-buffer/index.md
Due: prettier --print-width=72 --write

Add mention of PayPal not being migrated
  src/docs/howto-migrations/go-to-flex-migration/index.md
Due: prettier --print-width=72 --write

Order listing how-tos
  src/config-site-structure.js
  src/docs/howto-listing/bookings-with-buffer/index.md
Due: prettier --write, prettier --print-width=72 --write

Add mention of no PayPal info migrated from Go
  src/docs/howto-migrations/go-to-flex-migration/index.md
Due: prettier --print-width=72 --write

Remove orphan word
  src/docs/howto-migrations/go-to-flex-migration/index.md
Due: prettier --print-width=72 --write

Add mention of no PayPal info migrated from Go (#613)
  src/docs/howto-migrations/go-to-flex-migration/index.md
Due: prettier --print-width=72 --write

Clarify function usage and improve code based on road-testing
  src/docs/howto-listing/bookings-with-buffer/index.md
  src/docs/howto-listing/time-slots/index.md
Due: prettier --print-width=72 --write
