Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

.lintstagedrc:

{
    "src/**/*.js": [
        "prettier --write"
    ],
    "gatsby-config.js": [
        "prettier --write"
    ],
    "gatsby-node.js": [
        "prettier --write"
    ],
    "gatsby-browser.js": [
        "prettier --write"
    ],
    "src/**/*.md": [
        "prettier --print-width=72 --write"
    ],
    "docs/**/*.md": [
        "prettier --print-width=72 --write"
    ]
}

Fix wordings
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/index.md
Due: prettier --print-width=72 --write

De-flex carousel and code example (#858)
  src/components/ArticlePage/Footer.js
  src/components/CarouselSneakertimeCreationJourney/CarouselSneakertimeCreation.js
  src/components/CarouselYogatimeCreationJourney/CarouselYogatimeCreation.js
  src/docs/concepts-users-and-authentication/user-permissions/index.md
  static/tutorial-assets/github.js
Due: prettier --write, prettier --print-width=72 --write

Remove images and update article date
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/connectOnboarding-updated.png
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/index.md
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/stripeDashboard-updated.png
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/stripePayoutForm.png
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/verificationFailed.png
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/verificationNeeded.png
  src/docs/concepts-payments/provider-onboarding-and-identity-verification/verificationSuccess.png
Due: prettier --print-width=72 --write

Add CLI install instructions for Yarn Modern
  src/docs/introduction/getting-started-with-flex-cli/index.md
Due: prettier --print-width=72 --write

Add CLI install instructions for Yarn Modern (#859)
  src/docs/introduction/getting-started-with-flex-cli/index.md
Due: prettier --print-width=72 --write

Update Page asset schema doc to reflex maxitems increase to 24
  src/docs/references/page-schema/page-asset-schema.json
Due: none

remove incorrect example
  src/docs/references/availability/index.md
Due: prettier --print-width=72 --write

update banner text
  src/components/VersionBanner/VersionBanner.js
Due: prettier --write

mention that email templates can be disabled
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/references/email-templates/index.md
Due: prettier --print-width=72 --write

Update redirects
  vercel.json
Due: none

More updates
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/howto-messaging/edit-email-templates-with-flex-cli/index.md
  src/docs/references/email-templates/index.md
Due: prettier --print-width=72 --write

Add mention of default seat handling in how-to guide
  src/docs/howto-listing/seats/index.md
Due: prettier --print-width=72 --write

Add mentions of the Asset Delivery API
  src/docs/concepts-development/console-overview/index.md
  src/docs/ftw-configuration/hosted-and-local-configurations/index.md
  src/docs/introduction/getting-started-with-ftw-daily/index.md
  src/docs/introduction/introducing-flex/index.md
  src/docs/tutorial-branding/copy-assets/index.md
Due: prettier --print-width=72 --write

List available default asset files
  src/docs/references/assets/index.md
Due: prettier --print-width=72 --write

No code assets improvements (#863)
  src/docs/concepts-development/console-overview/index.md
  src/docs/ftw-configuration/hosted-and-local-configurations/index.md
  src/docs/introduction/getting-started-with-ftw-daily/index.md
  src/docs/introduction/introducing-flex/index.md
  src/docs/references/assets/index.md
  src/docs/tutorial-branding/copy-assets/index.md
Due: prettier --print-width=72 --write

Document built-in email template context variables in reference
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/references/email-templates/index.md
Due: prettier --print-width=72 --write

update docs
  src/docs/concepts-payments/payments-overview/index.md
Due: prettier --print-width=72 --write

Fix redirects
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/introduction/introducing-template/index.md
Due: prettier --print-width=72 --write

Update Template release version number and link
  src/docs/howto-listing/seats/index.md
Due: prettier --print-width=72 --write

update character code format
  src/docs/ftw-search/map-configuration/index.md
Due: prettier --print-width=72 --write

Update a link on the CLI page
  src/docs/introduction/getting-started-with-flex-cli/index.md
Due: prettier --print-width=72 --write

Update no-code instructions to setup Google Maps
  src/docs/ftw-search/how-to-use-google-maps-in-ftw/index.md
Due: prettier --print-width=72 --write

Better copy
  src/docs/ftw-search/how-to-use-google-maps-in-ftw/index.md
Due: prettier --print-width=72 --write

update pricing tutorial after seats update
  src/docs/tutorial-transaction-process/customize-pricing/index.md
Due: prettier --print-width=72 --write

update pricing tutorial after seats update (#868)
  src/docs/tutorial-transaction-process/customize-pricing/index.md
Due: prettier --print-width=72 --write

Align assets headings with Console
  src/docs/references/assets/index.md
Due: prettier --print-width=72 --write

Fix formatting across docs
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/howto-listing/seats/index.md
  src/docs/introduction/getting-started-with-flex-cli/index.md
  src/docs/references/email-templates/index.md
Due: prettier --print-width=72 --write

Update assets structure and fix formatting (#869)
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/howto-listing/seats/index.md
  src/docs/introduction/getting-started-with-flex-cli/index.md
  src/docs/references/assets/index.md
  src/docs/references/email-templates/index.md
Due: prettier --print-width=72 --write

remove noopener from dev blog link rel attribute
  src/components/Sidebar/CategoryList.js
Due: prettier --write

add instructions for adding facebook pixel
  src/docs/ftw-analytics/how-to-set-up-analytics-for-ftw/index.md
Due: prettier --print-width=72 --write

add link to pr with nonce
  src/docs/ftw-analytics/how-to-set-up-analytics-for-ftw/index.md
Due: prettier --print-width=72 --write

Update OIDC proxy article
  src/docs/howto-users-and-authentication/setup-oidc-proxy/index.md
Due: prettier --print-width=72 --write

add availability management article
  src/config-site-structure.js
  src/docs/ftw-availability/availability-management/april-availability.png
  src/docs/ftw-availability/availability-management/dates-query.png
  src/docs/ftw-availability/availability-management/index.md
  src/docs/ftw-availability/availability-management/time-range.png
  src/docs/ftw-search/how-to-use-google-maps-in-ftw/index.md
  src/docs/references/availability/index.md
  src/pages/template.js
  src/ui-texts.json
Due: prettier --write, prettier --print-width=72 --write

Update OIDC proxy article (#872)
  src/docs/howto-users-and-authentication/setup-oidc-proxy/index.md
Due: prettier --print-width=72 --write

add availability management docs
  src/docs/ftw-availability/availability-management/index.md
  src/docs/references/availability/example1.png
  src/docs/references/availability/example2.png
  src/docs/references/availability/example3.png
  src/docs/references/availability/example4.png
  src/docs/references/availability/index.md
Due: prettier --print-width=72 --write

remove mentions of proptypes and defaultprops
  src/docs/ftw-content/hosted-microcopy/index.md
  src/docs/ftw-content/how-to-change-ftw-bundled-ui-microcopy/index.md
  src/docs/howto-content/options-prop/index.md
  src/docs/howto-events/like-feature/index.md
  src/docs/howto-listing/extend-listing-data-in-ftw/index.md
  src/docs/howto-payments/removing-stripe/CheckoutPageWithoutPayment.js
  src/docs/howto-payments/removing-stripe/SimpleOrderForm.js
  src/docs/howto-users-and-authentication/implement-delete-user/cookbook-assets/DeleteAccountForm.js
  src/docs/howto-users-and-authentication/implement-delete-user/cookbook-assets/DeleteAccountPage.js
  src/docs/howto-users-and-authentication/implement-delete-user/index.md
  src/docs/tutorial-listings/favorite-bikes/index.md
  static/tutorial-assets/EditListingExtraFeaturesForm.js
  static/tutorial-assets/EditListingExtraFeaturesPanel.js
  static/tutorial-assets/FavoriteListingsPage.js
  static/tutorial-assets/SimpleCheckoutPage.js
Due: prettier --write, prettier --print-width=72 --write

add availability management docs
  src/docs/ftw-availability/availability-management/april-availability.png
  src/docs/ftw-availability/availability-management/index.md
  src/docs/references/availability/example1.png
  src/docs/references/availability/example2.png
  src/docs/references/availability/example3.png
  src/docs/references/availability/example4.png
  src/docs/references/availability/index.md
Due: prettier --print-width=72 --write

remove mentions of proptypes and defaultprops (#874)
  src/docs/ftw-content/hosted-microcopy/index.md
  src/docs/ftw-content/how-to-change-ftw-bundled-ui-microcopy/index.md
  src/docs/howto-content/options-prop/index.md
  src/docs/howto-events/like-feature/index.md
  src/docs/howto-listing/extend-listing-data-in-ftw/index.md
  src/docs/howto-payments/removing-stripe/CheckoutPageWithoutPayment.js
  src/docs/howto-payments/removing-stripe/SimpleOrderForm.js
  src/docs/howto-users-and-authentication/implement-delete-user/cookbook-assets/DeleteAccountForm.js
  src/docs/howto-users-and-authentication/implement-delete-user/cookbook-assets/DeleteAccountPage.js
  src/docs/howto-users-and-authentication/implement-delete-user/index.md
  src/docs/tutorial-listings/favorite-bikes/index.md
  static/tutorial-assets/EditListingExtraFeaturesForm.js
  static/tutorial-assets/EditListingExtraFeaturesPanel.js
  static/tutorial-assets/FavoriteListingsPage.js
  static/tutorial-assets/SimpleCheckoutPage.js
Due: prettier --write, prettier --print-width=72 --write

Update time intervals article to template v8.0.0
  src/docs/howto-listing/time-slots/index.md
Due: prettier --print-width=72 --write
