Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

.lintstagedrc:

{
    "src/**/*.js": [
        "prettier --write"
    ],
    "gatsby-config.js": [
        "prettier --write"
    ],
    "gatsby-node.js": [
        "prettier --write"
    ],
    "gatsby-browser.js": [
        "prettier --write"
    ],
    "src/**/*.md": [
        "prettier --print-width=72 --write"
    ],
    "docs/**/*.md": [
        "prettier --print-width=72 --write"
    ]
}

Mention listing creation rate limit in Integration API
  src/docs/concepts-api-sdk/rate-limiting/index.md
Due: prettier --print-width=72 --write

Add rate limit article clarifications
  src/docs/concepts-api-sdk/rate-limiting/index.md
Due: prettier --print-width=72 --write

Fix todos
  src/docs/howto-payments/how-to-integrate-3rd-party-payment-gateway/index.md
  src/docs/howto-search/change-search-filters-in-ftw/index.md
  src/docs/tutorial-branding/first-edit/index.md
  src/docs/tutorial-branding/implement-amenities-filter/index.md
Due: prettier --print-width=72 --write

update swt introduction article
  src/config-site-structure.js
  src/docs/ftw-introduction/introducing-ftw-x/index.md
Due: prettier --write, prettier --print-width=72 --write

update updated last value
  src/docs/ftw-analytics/how-to-set-up-analytics-for-ftw/index.md
  src/docs/ftw-configuration/configuration-in-ftw-x/index.md
  src/docs/ftw-configuration/ftw-env/index.md
  src/docs/ftw-configuration/how-to-set-up-currency-in-ftw/index.md
  src/docs/ftw-content/change-ftw-language/index.md
  src/docs/ftw-content/change-ui-texts/index.md
  src/docs/ftw-content/hosted-microcopy/index.md
  src/docs/ftw-content/how-to-add-static-pages-in-ftw/index.md
  src/docs/ftw-content/how-to-change-ftw-bundled-ui-microcopy/index.md
  src/docs/ftw-hosting/how-to-deploy-ftw-to-heroku/index.md
  src/docs/ftw-hosting/how-to-deploy-ftw-to-production/index.md
  src/docs/ftw-introduction/01-how-to-customize-ftw/index.md
  src/docs/ftw-introduction/ftw-customization-checklist/index.md
  src/docs/ftw-introduction/introducing-ftw-x/index.md
  src/docs/ftw-legacy/legacy-overview/index.md
  src/docs/ftw-routing/how-code-splitting-works-in-ftw/index.md
  src/docs/ftw-routing/how-routing-works-in-ftw/index.md
  src/docs/ftw-search/how-to-set-up-mapbox-for-ftw/index.md
  src/docs/ftw-security/how-to-sanitize-user-generated-content-in-ftw/index.md
  src/docs/ftw-security/how-to-set-up-csp-for-ftw/index.md
  src/docs/ftw-styling/how-to-change-ftw-icons/index.md
  src/docs/ftw-styling/how-to-customize-ftw-styles/index.md
  src/docs/ftw-styling/how-to-improve-performance/index.md
  src/docs/ftw-testing-error-handling/how-to-set-up-sentry/index.md
  src/docs/ftw-testing-error-handling/how-to-test-ftw/index.md
  src/docs/ftw-testing-error-handling/how-to-use-ci-with-ftw/index.md
Due: prettier --print-width=72 --write

update legacy templates article
  src/docs/ftw-legacy/legacy-overview/index.md
Due: prettier --print-width=72 --write

modify static page article to add non dynamic static page
  src/docs/ftw-content/how-to-add-static-pages-in-ftw/index.md
Due: prettier --print-width=72 --write

finish config article
  src/docs/ftw-configuration/configuration-in-ftw-x/aspect-ratio.png
  src/docs/ftw-configuration/configuration-in-ftw-x/description.png
  src/docs/ftw-configuration/configuration-in-ftw-x/filtercomponent.png
  src/docs/ftw-configuration/configuration-in-ftw-x/index.md
  src/docs/ftw-configuration/configuration-in-ftw-x/inputfield.png
  src/docs/ftw-introduction/introducing-ftw-x/index.md
Due: prettier --print-width=72 --write

remove padding from last paragraph element in banenr
  src/components/Banner.js
Due: prettier --write

remove padding from last paragraph element in banenr (#650)
  src/components/Banner.js
Due: prettier --write

Change extrainfo to info in Stripe non-included countries segment (#637)
  src/docs/howto-payments/set-up-and-use-stripe/index.md
Due: prettier --print-width=72 --write

Review todos and update search schema article
  src/docs/ftw-content/change-ui-texts/index.md
  src/docs/howto-listing/extend-listing-data-in-ftw/index.md
  src/docs/howto-payments/how-to-integrate-3rd-party-payment-gateway/index.md
  src/docs/howto-search/change-search-filters-in-ftw/index.md
  src/docs/howto-search/manage-search-schemas-with-flex-cli/index.md
  src/docs/tutorial-branding/change-logo/index.md
  src/docs/tutorial-branding/configuration/index.md
Due: prettier --print-width=72 --write

Remove obsolete todo
  src/docs/howto-transaction-process/enable-time-based-bookings/index.md
Due: prettier --print-width=72 --write

Add up-to-date todo
  src/docs/howto-transaction-process/enable-time-based-bookings/index.md
Due: prettier --print-width=72 --write

Change 'important' to warning block
  src/docs/references/transaction-process-actions/index.md
Due: prettier --print-width=72 --write

Clarify long sentence
  src/docs/references/transaction-process-actions/index.md
Due: prettier --print-width=72 --write

Add mention of automatic capture on push payment intent (#627)
  src/docs/concepts-payments/payment-methods-overview/index.md
  src/docs/references/transaction-process-actions/index.md
Due: prettier --print-width=72 --write

test with postbuild leaving 404 in public dir
  netlify-postbuild.sh
  vercel.json
Due: none

prepend https to url
  gatsby-config.js
Due: prettier --write

test new config
  gatsby-config.js
Due: prettier --write

add redirects
  vercel.json
Due: none

keep netlify configuration to run netlify and vercel in paralel
  gatsby-config.js
Due: prettier --write

remove path prefix from production deployment
  gatsby-config.js
Due: prettier --write

test routes to enable custom 404 page
  vercel.json
Due: none

add docs redirect
  vercel.json
Due: none

test catch-all 404
  vercel.json
Due: none

test redirects
  vercel.json
Due: none

fix redirect format
  vercel.json
Due: none

change gitignore
  .gitignore
Due: none

fix variable name
  gatsby-config.js
Due: prettier --write

add docs prefix in build
  gatsby-config.js
Due: prettier --write

remove docs catchall redirect
  vercel.json
Due: none

fix logic with getPathPrefix
  gatsby-config.js
Due: prettier --write

add middleware to trigger deploy preview
  middleware.js
Due: none

restore to original config which is in netlify
  netlify-postbuild.sh
  vercel.json
Due: none

once again remove docs redirect
  vercel.json
Due: none

debugging pathPrefix on deploy preview
  gatsby-config.js
Due: prettier --write

remove docs prefix from redirects
  vercel.json
Due: none

test with different redirect logic
  vercel.json
Due: none
