Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

add generic thumbnail
  src/components/Video.js
Due: prettier --write

Update video thumbnails and pages video (#667)
  src/components/Video.js
  src/docs/operator-guides/introducing-pages/index.md
Due: prettier --write, prettier --print-width=72 --write

Fix workdir and user in FTW dockerfile (#666)
  src/docs/ftw-hosting/run-ftw-in-docker-container/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/operator-guides/section-templates/index.md
Due: prettier --print-width=72 --write

update instructions
  src/docs/ftw-content/page-builder/index.md
Due: prettier --print-width=72 --write

update instructions (#669)
  src/docs/ftw-content/page-builder/index.md
Due: prettier --print-width=72 --write

fix link missing slash
  src/docs/ftw-content/page-builder/index.md
Due: prettier --print-width=72 --write

Add versions to Pages package install
  src/docs/ftw-content/page-builder/index.md
Due: prettier --print-width=72 --write

add server side instructions
  src/docs/ftw-content/page-builder/index.md
Due: prettier --print-width=72 --write

fix wording
  src/docs/ftw-content/page-builder/index.md
Due: prettier --print-width=72 --write

Add versions to Pages package install (#670)
  src/docs/ftw-content/page-builder/index.md
Due: prettier --print-width=72 --write

update features article date
  src/docs/operator-guides/features/index.md
Due: prettier --print-width=72 --write

Fix broken links
  src/docs/ftw-introduction/ftw-customization-checklist/index.md
  src/docs/howto-content/options-prop/index.md
  src/docs/operator-guides/how-to-enable-pages/index.md
  src/docs/operator-guides/how-to-format-your-text-in-pages/index.md
  vercel.json
Due: prettier --print-width=72 --write

Fix broken links (#672)
  src/docs/ftw-introduction/ftw-customization-checklist/index.md
  src/docs/howto-content/options-prop/index.md
  src/docs/operator-guides/how-to-enable-pages/index.md
  src/docs/operator-guides/how-to-format-your-text-in-pages/index.md
  vercel.json
Due: prettier --print-width=72 --write

Start adding environment workflow article
  src/docs/concepts-development/flex-new-environments/index.md
Due: prettier --print-width=72 --write

add a mention of cmspage routing
  src/docs/ftw-content/page-builder/index.md
Due: prettier --print-width=72 --write

add is browser
  src/components/Sidebar/CategoryList.js
Due: prettier --write

enable ssr
  src/components/Sidebar/CategoryList.js
Due: prettier --write

improve isHidden logic
  src/components/Sidebar/CategoryList.js
Due: prettier --write

remove typo
  src/components/ArticlePage/ArticlePage.js
Due: prettier --write

add a mention of cmspage routing (#673)
  src/docs/ftw-content/page-builder/index.md
Due: prettier --print-width=72 --write

Fix non-screenshot related todos
  src/components/CarouselTxnProcessUX/CarouselTxnProcessUX.js
  src/docs/concepts-transactions/transaction-process/index.md
  src/docs/design-toolkit/02-what-are-user-journeys/index.md
  src/docs/design-toolkit/user-journey-saunatime/content-creation-journey.png
  src/docs/design-toolkit/user-journey-saunatime/discovery-journey.png
  src/docs/design-toolkit/user-journey-saunatime/index.md
  src/docs/design-toolkit/user-journey-saunatime/transaction-process.png
  src/docs/design-toolkit/user-journey-sneakertime/index.md
  src/docs/design-toolkit/user-journey-sneakertime/sneakertime_listing_creation_journey.png
  src/docs/design-toolkit/user-journey-sneakertime/sneakertime_search_journey.png
  src/docs/design-toolkit/user-journey-sneakertime/sneakertime_transaction_journey.png
  src/docs/design-toolkit/user-journey-yogatime/Yogatime_Listing_Creation_Journey.png
  src/docs/design-toolkit/user-journey-yogatime/Yogatime_Search_Journey.png
  src/docs/design-toolkit/user-journey-yogatime/Yogatime_Transaction_Journey.png
  src/docs/design-toolkit/user-journey-yogatime/index.md
  src/docs/design-toolkit/your-user-journey-a-guide/index.md
  src/docs/howto-transaction-process/enable-time-based-bookings/index.md
  src/docs/tutorial-branding/change-default-locations/auckland-in-default-locations.png
  src/docs/tutorial-branding/change-default-locations/default-search-locations.png
  src/docs/tutorial-branding/change-default-locations/index.md
  src/docs/tutorial-branding/first-edit/index.md
  src/docs/tutorial-branding/first-edit/marketplace-color-changed.png
  src/docs/tutorial-transaction-process/create-transaction-process/index.md
Due: prettier --write, prettier --print-width=72 --write

Remove obsolete tutorial article
  src/config-site-structure.js
  src/docs/ftw-introduction/ftw-customization-checklist/index.md
  src/docs/tutorial-branding/change-default-locations/index.md
  src/docs/tutorial-branding/implement-amenities-filter/console-amenities-public-data.png
  src/docs/tutorial-branding/implement-amenities-filter/default-amenities-filter.png
  src/docs/tutorial-branding/implement-amenities-filter/index.md
  src/docs/tutorial-branding/implement-amenities-filter/updated-amenities-filter.png
  src/docs/tutorial/introduction/index.md
Due: prettier --write, prettier --print-width=72 --write

Fix wording based on PR comments
  src/docs/ftw-introduction/introducing-ftw-x/index.md
  src/docs/ftw-legacy/legacy-overview/index.md
  src/docs/howto-transaction-process/change-transaction-process-in-ftw/index.md
Due: prettier --print-width=72 --write

Proofread introduction and tutorial
  src/docs/introduction/development-skills/index.md
  src/docs/introduction/getting-started-with-ftw-daily/index.md
  src/docs/introduction/getting-started-with-integration-api/index.md
  src/docs/introduction/how-to-launch/index.md
  src/docs/introduction/introducing-flex/index.md
  src/docs/introduction/is-flex-right-for-you/index.md
  src/docs/tutorial-branding/change-default-locations/index.md
  src/docs/tutorial-branding/change-images/biketribe-background-image.png
  src/docs/tutorial-branding/change-images/cottagedays-background-image.png
  src/docs/tutorial-branding/change-images/index.md
  src/docs/tutorial-branding/deploy-to-render/index.md
  src/docs/tutorial-branding/first-edit/index.md
  src/docs/tutorial-branding/modify-landing-page/default-landing-page.png
  src/docs/tutorial-branding/modify-landing-page/index.md
  src/docs/tutorial-branding/modify-landing-page/landing-page-full-update.png
  src/docs/tutorial-branding/modify-landing-page/landing-page-image-update.png
  src/docs/tutorial-branding/modify-listing-extended-data/index.md
  src/docs/tutorial-branding/working-with-microcopy/index.md
  src/docs/tutorial-transaction-process/add-email-notification/index.md
  src/docs/tutorial-transaction-process/create-transaction-process/index.md
  src/docs/tutorial-transaction-process/customize-pricing/index.md
  src/docs/tutorial-transaction-process/use-protected-data-in-emails/index.md
Due: prettier --print-width=72 --write

Update transaction process tutorial
  src/docs/tutorial-transaction-process/create-transaction-process/cottage-days-booking-process.png
  src/docs/tutorial-transaction-process/create-transaction-process/cottagedays-daily-booking-process.png
  src/docs/tutorial-transaction-process/create-transaction-process/index.md
  src/docs/tutorial-transaction-process/create-transaction-process/new-process-microcopy-keys.png
  src/docs/tutorial-transaction-process/create-transaction-process/new-process-microcopy-strings.png
  src/docs/tutorial-transaction-process/create-transaction-process/updated-process.png
Due: prettier --print-width=72 --write

Start proofreading concepts articles
  src/docs/concepts-listings/how-the-search-works/index.md
  src/docs/concepts-payments/how-payment-intents-work/index.md
  src/docs/concepts-payments/how-sca-works/index.md
  src/docs/concepts-payments/payment-methods-overview/index.md
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/concepts-payments/solving-payout-problems/index.md
  src/docs/concepts-payments/using-stored-payment-cards/index.md
  src/docs/concepts-pricing-and-commissions/commissions-and-monetizing-your-platform/index.md
  src/docs/concepts-transactions/change-transaction-process/index.md
  src/docs/concepts-transactions/privileged-transitions/index.md
  src/docs/concepts-transactions/transaction-process/index.md
  src/docs/concepts-users-and-authentication/social-logins-and-sso/index.md
  src/docs/concepts-users-and-authentication/users-and-authentication-in-flex/index.md
  src/docs/operator-guides-concepts/concepts/concepts.md
Due: prettier --print-width=72 --write

Finish proofreading Concepts articles
  src/docs/concepts-api-sdk/authentication-api/index.md
  src/docs/concepts-api-sdk/marketplace-api-integration-api/index.md
  src/docs/concepts-development/applications/index.md
  src/docs/concepts-development/console-overview/index.md
  src/docs/concepts-development/content-management/index.md
  src/docs/concepts-development/flex-new-environments/index.md
  src/docs/concepts-development/headless-content-management/index.md
  src/docs/concepts-development/microcopy/index.md
  src/docs/concepts-extended-data/extended-data-introduction/index.md
  src/docs/concepts-integrations/integrations/index.md
  src/docs/concepts-messages/email-notifications/index.md
Due: prettier --print-width=72 --write

udpate readme and remove netlify from gatsby config
  _redirects
  docs/overview.md
  gatsby-config.js
  gatsby-node.js
  package.json
Due: prettier --write, prettier --print-width=72 --write

Update index.md
  src/docs/operator-guides/feature-gallery/index.md
Due: prettier --print-width=72 --write

changing folder names
  src/docs/operator-guides/feature-knowledge-base/index.md
Due: prettier --print-width=72 --write

Create index.md
  src/docs/operator-guides-concepts/feature-knowledge-base/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/operator-guides-concepts/feature-knowledge-base/index.md
Due: prettier --print-width=72 --write

Path conditions:
  prettier --write: (((any of: src/**/*.js) or (any of: gatsby-config.js)) or (any of: gatsby-node.js)) or (any of: gatsby-browser.js)
  prettier --print-width=72 --write: (any of: src/**/*.md) or (any of: docs/**/*.md)
