Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

Add new how-to category
  src/config-site-structure.js
Due: prettier --write

Update article blog how-to
  src/docs/howto-content/article-blog/button-ui.png
  src/docs/howto-content/article-blog/call-to-action-UI.png
  src/docs/howto-content/article-blog/create-page-modal.png
  src/docs/howto-content/article-blog/index.md
  src/docs/howto-content/article-blog/share-custom.png
  src/docs/howto-content/article-blog/share-default.png
Due: prettier --print-width=72 --write

Extend glossary
  src/docs/concepts-development/content-management/index.md
Due: prettier --print-width=72 --write

Modify the use of 'image assets' terminology in tutorial
  _redirects
  src/config-site-structure.js
  src/docs/tutorial-branding/change-image-assets/index.md
Due: prettier --write, prettier --print-width=72 --write

Add first thoughts on article collection how-to
  src/docs/howto-content/article-blog/index.md
Due: prettier --print-width=72 --write

Expand article library how-to guide
  src/docs/ftw-content/page-builder/index.md
  src/docs/howto-content/article-blog/index.md
Due: prettier --print-width=72 --write

add ftw page builder initial structure
  src/docs/ftw-content/page-builder/index.md
Due: prettier --print-width=72 --write

Add screenshots
  src/docs/concepts-development/content-management/copy-to-production.png
  src/docs/concepts-development/content-management/index.md
  src/docs/concepts-development/content-management/view-page.png
  src/docs/tutorial-branding/change-image-assets/cottagedays-background-image.png
  src/docs/tutorial-branding/change-image-assets/index.md
Due: prettier --print-width=72 --write

Update page asset schema article
  src/docs/references/page-schema/index.md
  src/docs/references/page-schema/page-asset-schema.json
  src/docs/references/page-schema/page-schema-context.png
Due: prettier --print-width=72 --write

Add Content management section to Features
  src/docs/operator-guides/features/index.md
Due: prettier --print-width=72 --write

Update redirects and site structure
  src/config-site-structure.js
  src/docs/concepts-development/content-management/index.md
  src/docs/concepts-development/headless-content-management/console-change.png
  vercel.json
Due: prettier --write, prettier --print-width=72 --write

Expand page schema reference
  src/docs/references/page-schema/index.md
  src/docs/references/page-schema/internal-button-cta.png
  src/docs/references/page-schema/page-schema-context.png
Due: prettier --print-width=72 --write

Remove comments from code examples and add full schema as link
  src/docs/references/page-schema/page-schema.json
Due: none

Expand concepts article
  src/docs/concepts-development/content-management/copy-to-production.png
  src/docs/concepts-development/content-management/index.md
  src/docs/concepts-development/content-management/view-page.png
Due: prettier --print-width=72 --write

Remove comments from page schema article
  src/docs/references/page-schema/index.md
Due: prettier --print-width=72 --write

Add section example images to concepts article
  src/docs/concepts-development/content-management/content-model-landing-page.png
  src/docs/concepts-development/content-management/content_modeling.png
  src/docs/concepts-development/content-management/index.md
  src/docs/concepts-development/content-management/pages-article-section.png
  src/docs/concepts-development/content-management/pages-carousel-section.png
  src/docs/concepts-development/content-management/pages-columns-section.png
  src/docs/concepts-development/content-management/pages-features-section.png
Due: prettier --print-width=72 --write

add guide on how to use the options prop
  src/docs/howto-content/options-prop/example1.png
  src/docs/howto-content/options-prop/index.md
  src/docs/howto-content/options-prop/left-aligned.png
  src/docs/howto-content/options-prop/vscode-sc.png
  src/docs/howto-content/options-prop/vscode-sc2.png
Due: prettier --print-width=72 --write

Fix wording
  src/docs/howto-content/article-blog/index.md
Due: prettier --print-width=72 --write

Explain carousel section
  src/docs/concepts-development/content-management/index.md
  src/docs/howto-content/article-blog/articles-sections.png
  src/docs/howto-content/article-blog/index.md
Due: prettier --print-width=72 --write

Expand article guide
  src/docs/howto-content/article-blog/articles-sections.png
  src/docs/howto-content/article-blog/index.md
Due: prettier --print-width=72 --write

Add landing page tutorial
  src/config-site-structure.js
  src/docs/tutorial-branding/change-images/cottagedays-background-image.png
  src/docs/tutorial-branding/change-images/cottagedays-favicon.png
  src/docs/tutorial-branding/change-images/index.md
  src/docs/tutorial-branding/change-images/saunatime-favicon.png
  src/docs/tutorial-branding/change-images/saunatimeTwitter-600x314.jpg
  src/docs/tutorial-branding/first-edit/marketplace-color-changed.png
  src/docs/tutorial-branding/modify-landing-page/default-landing-page.png
  src/docs/tutorial-branding/modify-landing-page/default-pages.png
  src/docs/tutorial-branding/modify-landing-page/index.md
  src/docs/tutorial-branding/modify-landing-page/landing-page-block-content.png
  src/docs/tutorial-branding/modify-landing-page/landing-page-full-update.png
  src/docs/tutorial-branding/modify-landing-page/landing-page-image-inputs.png
  src/docs/tutorial-branding/modify-landing-page/landing-page-image-update.png
  src/docs/tutorial-branding/modify-landing-page/landing-page-sections.png
  src/docs/tutorial-branding/modify-landing-page/lpsh.mp4
  src/docs/tutorial-branding/modify-landing-page/lpsh.ogv
  src/docs/tutorial-branding/modify-landing-page/lpsh.webm
Due: prettier --write, prettier --print-width=72 --write

Add sharing debugger images to article guide
  src/docs/howto-content/article-blog/index.md
  src/docs/howto-content/article-blog/share-custom.png
  src/docs/howto-content/article-blog/share-default.png
Due: prettier --print-width=72 --write

add how pages is rendered in FTW article
  src/docs/ftw-content/page-builder/index.md
Due: prettier --print-width=72 --write

Add internal links to concepts articles
  src/docs/concepts-development/content-management/index.md
  src/docs/concepts-development/headless-content-management/index.md
Due: prettier --print-width=72 --write

Modify ToS and Privacy Policy instructions
  src/docs/operator-guides/free-templates/index.md
Due: prettier --print-width=72 --write

Fix wording in landing page tutorial
  src/docs/tutorial-branding/modify-landing-page/index.md
Due: prettier --print-width=72 --write

Add first ideas of page schema reference article
  src/docs/references/page-schema/index.md
  src/docs/references/page-schema/internal-button-cta.png
Due: prettier --print-width=72 --write

Remove FAQ page tutorial
  src/config-site-structure.js
  src/docs/ftw-content/how-to-add-static-pages-in-ftw/index.md
  src/docs/ftw-introduction/ftw-customization-checklist/index.md
  src/docs/howto-content/article-blog/index.md
  src/docs/references/assets/index.md
  src/docs/tutorial-branding/add-faq-page/faq.png
  src/docs/tutorial-branding/add-faq-page/hello-world.png
  src/docs/tutorial-branding/add-faq-page/index.md
  src/docs/tutorial-branding/customize-amenities-filter/index.md
  src/docs/tutorial-branding/modify-landing-page/index.md
  vercel.json
Due: prettier --write, prettier --print-width=72 --write

Refer to page asset schema
  src/docs/references/page-schema/index.md
Due: prettier --print-width=72 --write

Update landing page tutorial Console screenshots
  src/docs/tutorial-branding/modify-landing-page/default-pages.png
  src/docs/tutorial-branding/modify-landing-page/landing-page-block-content.png
  src/docs/tutorial-branding/modify-landing-page/landing-page-image-inputs.png
  src/docs/tutorial-branding/modify-landing-page/lpsh.mp4
  src/docs/tutorial-branding/modify-landing-page/lpsh.ogv
  src/docs/tutorial-branding/modify-landing-page/lpsh.webm
Due: none

Update static page FTW how-to into SocialMediaPage
  src/docs/ftw-content/how-to-add-static-pages-in-ftw/index.md
Due: prettier --print-width=72 --write

add two new articles
  src/config-site-structure.js
  src/docs/concepts-development/headless-content-management/console-change.png
  src/docs/concepts-development/headless-content-management/data.png
  src/docs/concepts-development/headless-content-management/example-data.png
  src/docs/concepts-development/headless-content-management/formatted.png
  src/docs/concepts-development/headless-content-management/index.md
Due: prettier --write, prettier --print-width=72 --write

Add mention of article library index page into how-to guide
  src/docs/howto-content/article-blog/index.md
Due: prettier --print-width=72 --write

fix markdown syntax for code blocks
  src/docs/ftw-content/page-builder/index.md
Due: prettier --print-width=72 --write

Set glossary titles as linkable
  src/docs/concepts-development/content-management/index.md
Due: prettier --print-width=72 --write

Remove obsolete static page FTW article
  src/config-site-structure.js
  src/docs/ftw-content/how-to-add-static-pages-in-ftw/index.md
Due: prettier --write, prettier --print-width=72 --write

Add info on maintenance mode fallback landing page
  src/docs/ftw-content/page-builder/index.md
  src/docs/ftw-content/page-builder/maintenance-mode.png
Due: prettier --print-width=72 --write

Delete obsolete image
  src/docs/concepts-development/content-management/copy-to-production.png
  src/docs/concepts-development/content-management/index.md
Due: prettier --print-width=72 --write

Add mention of 100 content page limit
  src/docs/concepts-development/content-management/index.md
  src/docs/howto-content/article-blog/index.md
Due: prettier --print-width=72 --write

update ftw pageBuilder documentation
  src/docs/ftw-content/page-builder/index.md
Due: prettier --print-width=72 --write

Path conditions:
  prettier --write: (((any of: src/**/*.js) or (any of: gatsby-config.js)) or (any of: gatsby-node.js)) or (any of: gatsby-browser.js)
  prettier --print-width=72 --write: (any of: src/**/*.md) or (any of: docs/**/*.md)
