Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

.lintstagedrc:

{
    "src/**/*.js": [
        "prettier --write"
    ],
    "gatsby-config.js": [
        "prettier --write"
    ],
    "gatsby-node.js": [
        "prettier --write"
    ],
    "gatsby-browser.js": [
        "prettier --write"
    ],
    "src/**/*.md": [
        "prettier --print-width=72 --write"
    ],
    "docs/**/*.md": [
        "prettier --print-width=72 --write"
    ]
}

remove gtm and import cookiebot directly
  gatsby-config.js
  package.json
  yarn.lock
Due: prettier --write

add better video placeholder and load cookies on render
  gatsby-config.js
  src/components/ArticlePage/MarkdownHtml.js
  src/components/CookieConsent.js
Due: prettier --write

Fix issue with youtube (#819)
  gatsby-config.js
  package.json
  src/components/ArticlePage/MarkdownHtml.js
  src/components/CookieConsent.js
  yarn.lock
Due: prettier --write

Moving spaces to not have them in the link text
  src/components/ArticlePage/MarkdownHtml.js
Due: prettier --write

update user journeys
  src/docs/design-toolkit/01-design-files/index.md
  src/docs/design-toolkit/02-what-are-user-journeys/index.md
  src/docs/design-toolkit/your-user-journey-a-guide/index.md
Due: prettier --print-width=72 --write

update user journeys (#822)
  src/docs/design-toolkit/01-design-files/index.md
  src/docs/design-toolkit/02-what-are-user-journeys/index.md
  src/docs/design-toolkit/your-user-journey-a-guide/index.md
Due: prettier --print-width=72 --write

add mention of number schema
  src/docs/howto-search/manage-search-schemas-with-flex-cli/index.md
Due: prettier --print-width=72 --write

update the log in as user article
  src/config-site-structure.js
  src/docs/howto-users-and-authentication/login-as-user/authentication-flow.png
  src/docs/howto-users-and-authentication/login-as-user/index.md
  src/docs/introduction/start-customizing/index.md
  src/docs/references/events/index.md
  vercel.json
Due: prettier --write, prettier --print-width=72 --write

fix redirect
  vercel.json
Due: none

update the log in as user article (#824)
  src/config-site-structure.js
  src/docs/howto-users-and-authentication/login-as-user/authentication-flow.png
  src/docs/howto-users-and-authentication/login-as-user/index.md
  src/docs/introduction/start-customizing/index.md
  src/docs/references/events/index.md
  vercel.json
Due: prettier --write, prettier --print-width=72 --write

Add clarifications to OIDC proxy article
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
  src/docs/howto-users-and-authentication/setup-oidc-proxy/github-proxy-auth-screen.png
  src/docs/howto-users-and-authentication/setup-oidc-proxy/index.md
Due: prettier --print-width=72 --write

Sso improvements (#817)
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
  src/docs/howto-users-and-authentication/setup-oidc-proxy/github-proxy-auth-screen.png
  src/docs/howto-users-and-authentication/setup-oidc-proxy/index.md
  static/tutorial-assets/github.js
Due: prettier --print-width=72 --write

Add mention of basic auth and REACT_APP_ENV
  src/docs/tutorial-branding/deploy-to-render/index.md
Due: prettier --print-width=72 --write

Add mention of custom code marketplace name to Console article
  src/docs/concepts-development/console-overview/index.md
  src/docs/ftw-hosting/how-to-deploy-ftw-to-heroku/index.md
Due: prettier --print-width=72 --write

Add instructions for updating email notifications to email texts
  src/docs/howto-content/use-translations-in-emails/index.md
Due: prettier --print-width=72 --write

Remove Stripe setup instructions and link to help center
  src/config-site-structure.js
  src/docs/howto-payments/set-up-and-use-stripe/account-active.png
  src/docs/howto-payments/set-up-and-use-stripe/activate-account.png
  src/docs/howto-payments/set-up-and-use-stripe/add-stripe-to-console.png
  src/docs/howto-payments/set-up-and-use-stripe/api-keys.png
  src/docs/howto-payments/set-up-and-use-stripe/bank-number-hk.png
  src/docs/howto-payments/set-up-and-use-stripe/bank-number-iban.png
  src/docs/howto-payments/set-up-and-use-stripe/checkout.png
  src/docs/howto-payments/set-up-and-use-stripe/get-started-with-connect.png
  src/docs/howto-payments/set-up-and-use-stripe/index.md
  src/docs/howto-payments/set-up-and-use-stripe/stripe-add-more-owners-alert.png
  src/docs/howto-payments/set-up-and-use-stripe/stripe-bank-numbers.png
  src/docs/howto-payments/set-up-and-use-stripe/stripe-connect-settings.jpg
  src/docs/howto-payments/set-up-and-use-stripe/stripe-connect-settings.png
  src/docs/howto-payments/set-up-and-use-stripe/stripe-connect.png
  src/docs/howto-payments/set-up-and-use-stripe/stripe-custom-enabled.jpg
  src/docs/howto-payments/set-up-and-use-stripe/stripe-dashboard.png
  src/docs/howto-payments/set-up-and-use-stripe/stripe-get-started.png
  vercel.json
Due: prettier --write, prettier --print-width=72 --write

Remove Facebook and Google SSO setup instructions and link to help center
  src/docs/howto-users-and-authentication/enable-facebook-login/index.md
  src/docs/howto-users-and-authentication/enable-google-login/index.md
Due: prettier --print-width=72 --write

Remove manage articles and redirect to help center
  src/config-site-structure.js
  src/docs/concepts-management/manage-listings/index.md
  src/docs/concepts-management/manage-listings/listing-card.png
  src/docs/concepts-management/manage-overview/index.md
  src/docs/concepts-management/manage-reviews/index.md
  src/docs/concepts-management/manage-reviews/review-card.png
  src/docs/concepts-management/manage-transactions/index.md
  src/docs/concepts-management/manage-transactions/transaction-card.png
  src/docs/concepts-management/manage-users/admin-actions.png
  src/docs/concepts-management/manage-users/index.md
  src/docs/concepts-management/manage-users/user-card.png
  src/ui-texts.json
  vercel.json
Due: prettier --write, prettier --print-width=72 --write

Link from managed Sendgrid instructions to help center
  src/docs/howto-messaging/set-up-outgoing-email-settings/index.md
Due: prettier --print-width=72 --write

Align capitalization on environment names
  src/docs/concepts-api-sdk/rate-limiting/index.md
  src/docs/concepts-development/console-overview/index.md
  src/docs/concepts-development/content-management/index.md
  src/docs/concepts-development/flex-environments/index.md
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/ftw-content/hosted-microcopy/index.md
  src/docs/ftw-hosting/how-to-deploy-ftw-to-production/index.md
  src/docs/howto-messaging/set-up-outgoing-email-settings/index.md
  src/docs/howto-payments/stripe-connect-platform-review/index.md
  src/docs/references/assets/index.md
  src/docs/tutorial-branding/configuration/index.md
Due: prettier --print-width=72 --write

Add mention of only supporting a single payment intent per transaction
  src/docs/references/transaction-process-actions/index.md
Due: prettier --print-width=72 --write

Expand instructions to add Stripe in custom app
  src/docs/concepts-development/flex-environments/index.md
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/howto-payments/set-up-and-use-stripe/index.md
  src/docs/howto-payments/set-up-and-use-stripe/stripe-test-data.png
  src/docs/howto-payments/set-up-and-use-stripe/stripe_dev_key_console.png
  src/docs/howto-payments/stripe-connect-platform-review/index.md
  vercel.json
Due: prettier --print-width=72 --write

Update sidebar order and article title
  src/config-site-structure.js
  src/docs/howto-payments/set-up-and-use-stripe/index.md
Due: prettier --write, prettier --print-width=72 --write

Expand instructions to add Stripe in custom app (#825)
  src/config-site-structure.js
  src/docs/concepts-development/flex-environments/index.md
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/howto-payments/set-up-and-use-stripe/index.md
  src/docs/howto-payments/set-up-and-use-stripe/stripe-test-data.png
  src/docs/howto-payments/set-up-and-use-stripe/stripe_dev_key_console.png
  src/docs/howto-payments/stripe-connect-platform-review/index.md
  vercel.json
Due: prettier --write, prettier --print-width=72 --write

Add mentions of Console-based user types
  src/docs/concepts-extended-data/user-extended-data/index.md
  src/docs/howto-users-and-authentication/extend-user-data-in-template/index.md
Due: prettier --print-width=72 --write

Fix broken links
  src/docs/design-toolkit/02-what-are-user-journeys/index.md
  src/docs/design-toolkit/your-user-journey-a-guide/index.md
Due: prettier --print-width=72 --write

Add new error message for troubleshooting login as user
  src/docs/howto-users-and-authentication/login-as-user/index.md
Due: prettier --print-width=72 --write

Add new error message for troubleshooting login as user (#828)
  src/docs/howto-users-and-authentication/login-as-user/index.md
Due: prettier --print-width=72 --write

Update images in copy assets tutorial
  src/docs/tutorial-branding/copy-assets/assets_in_dev.png
  src/docs/tutorial-branding/copy-assets/copy_changes_to.png
Due: none

Update images in copy assets tutorial (#829)
  src/docs/tutorial-branding/copy-assets/assets_in_dev.png
  src/docs/tutorial-branding/copy-assets/copy_changes_to.png
Due: none

Remove Sharetribe CLI instructions for toggling listing approval
  src/docs/concepts-listings/requiring-approval/index.md
Due: prettier --print-width=72 --write

Remove Sharetribe CLI instructions for toggling listing approval (#830)
  src/docs/concepts-listings/requiring-approval/index.md
Due: prettier --print-width=72 --write

Update access control concepts articles
  src/docs/concepts-listings/requiring-approval/listing-approval-toggle.png
  src/docs/concepts-users-and-authentication/user-permissions/current_user_effectivePermissionSet.png
  src/docs/concepts-users-and-authentication/user-permissions/current_user_effectivePermissionSet_allow.png
  src/docs/concepts-users-and-authentication/user-permissions/current_user_permissions_attribute.png
  src/docs/concepts-users-and-authentication/user-permissions/edit-user-permissions.png
  src/docs/concepts-users-and-authentication/user-permissions/index.md
  src/docs/concepts-users-and-authentication/user-permissions/publish-listings-permissions-toggle.png
  src/docs/concepts-users-and-authentication/user-permissions/user-publish-listings-checkbox.png
  src/docs/concepts-users-and-authentication/user-permissions/users-view-permissions.png
Due: prettier --print-width=72 --write

Update headings and sidebar ordering
  src/config-site-structure.js
  src/docs/concepts-users-and-authentication/user-permissions/index.md
Due: prettier --write, prettier --print-width=72 --write

add link to developer blog
  src/components/Sidebar/CategoryList.js
Due: prettier --write

add link to developer blog (#832)
  src/components/Sidebar/CategoryList.js
Due: prettier --write

Update changed Stripe link to payment methods guide
  src/docs/concepts-payments/payment-methods-overview/index.md
Due: prettier --print-width=72 --write

Update changed Stripe link to payment methods guide (#833)
  src/docs/concepts-payments/payment-methods-overview/index.md
Due: prettier --print-width=72 --write

Clarify that Apple private relay is not supported by default
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --print-width=72 --write
