Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

.lintstagedrc:

{
    "src/**/*.js": [
        "prettier --write"
    ],
    "gatsby-config.js": [
        "prettier --write"
    ],
    "gatsby-node.js": [
        "prettier --write"
    ],
    "gatsby-browser.js": [
        "prettier --write"
    ],
    "src/**/*.md": [
        "prettier --print-width=72 --write"
    ],
    "docs/**/*.md": [
        "prettier --print-width=72 --write"
    ]
}

Update Zapier guide
  src/docs/howto-events/set-up-and-use-zapier/index.md
Due: prettier --print-width=72 --write

Update intro article name and visual
  src/docs/introduction/introducing-flex/index.md
  src/docs/introduction/introducing-flex/sharetribe-customer-architecture.png
  vercel.json
Due: prettier --print-width=72 --write

Fix comment TODOs
  src/components/LandingPage/LandingPage.js
  src/docs/tutorial/introduction/index.md
  src/ui-texts.json
Due: prettier --write, prettier --print-width=72 --write

Update logo
  src/components/Topbar/Logo.js
  src/components/Topbar/Topbar.js
Due: prettier --write

Update page schema to not require block id and section id
  src/docs/references/page-schema/index.md
  src/docs/references/page-schema/page-asset-schema.json
Due: prettier --print-width=72 --write

Remove obsolete Biketribe references
  src/components/CarouselPublicExtendedData/CarouselPublicExtendedData.js
  src/components/CarouselTxnProcessUX/CarouselTxnProcessUX.js
  src/docs/concepts-extended-data/extended-data-introduction/index.md
  src/docs/concepts-transactions/transaction-process/index.md
  src/docs/introduction/introducing-template/index.md
Due: prettier --write, prettier --print-width=72 --write

remove version banner
  src/components/MainLayout.js
  src/components/VersionBanner/VersionBanner.js
  src/components/index.js
Due: prettier --write

Update video call link
  src/docs/design-toolkit/your-user-journey-a-guide/index.md
Due: prettier --print-width=72 --write

Remove operator guide links
  src/config-site-structure.js
  src/docs/concepts-availability/inventory-management/index.md
  src/docs/concepts-availability/manage-seats/index.md
  src/docs/concepts-development/content-management/index.md
  src/docs/concepts-management/manage-listings/index.md
  src/docs/concepts-transactions/change-transaction-process/index.md
  src/docs/concepts-transactions/transaction-process/index.md
  src/docs/ftw-content/page-builder/index.md
  src/docs/ftw-introduction/01-how-to-customize-ftw/index.md
  src/docs/ftw-introduction/ftw-customization-checklist/index.md
  src/docs/ftw-introduction/introducing-ftw-x/index.md
  src/docs/introduction/development-skills/index.md
  src/docs/introduction/introducing-flex/index.md
Due: prettier --write, prettier --print-width=72 --write

Update full page schema
  src/docs/references/page-schema/index.md
  src/docs/references/page-schema/page-asset-schema.json
Due: prettier --print-width=72 --write

Start adding customize intro article
  src/config-site-structure.js
  src/docs/introduction/introducing-template/index.md
  src/docs/introduction/start-customizing/index.md
Due: prettier --write, prettier --print-width=72 --write

Fix redirects and links
  src/components/LandingPage/LandingPage.js
  src/components/Plan.js
  src/config-site-structure.js
  src/docs/concepts-development/microcopy/index.md
  src/docs/concepts-development/sitemap/index.md
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/concepts-messages/messages/index.md
  src/docs/ftw-content/page-builder/index.md
  src/docs/ftw-introduction/01-how-to-customize-ftw/index.md
  src/docs/ftw-introduction/ftw-customization-checklist/index.md
  src/docs/introduction/development-skills/index.md
  src/docs/introduction/getting-started-with-ftw-daily/index.md
  src/docs/references/events/index.md
  vercel.json
Due: prettier --write, prettier --print-width=72 --write

Add Flex disclaimer to Zapier article
  src/docs/concepts-development/flex-environments/index.md
  src/docs/howto-events/set-up-and-use-zapier/index.md
Due: prettier --print-width=72 --write

Reword and expand on customize intro
  src/docs/introduction/start-customizing/index.md
Due: prettier --print-width=72 --write

Fix dev slack name
  src/components/ArticlePage/Footer.js
Due: prettier --write

Fix SDK name
  src/docs/introduction/start-customizing/index.md
Due: prettier --print-width=72 --write

Fix API name in auth flow image
  src/docs/concepts-users-and-authentication/social-logins-and-sso/auth-flow.png
Due: none

Reword ingress
  src/docs/introduction/start-customizing/index.md
Due: prettier --print-width=72 --write

Clarify bullet structure
  src/docs/introduction/start-customizing/index.md
Due: prettier --print-width=72 --write

Add customize intro article (#769)
  src/config-site-structure.js
  src/docs/introduction/introducing-template/index.md
  src/docs/introduction/start-customizing/index.md
Due: prettier --write, prettier --print-width=72 --write

Fix renamed repo links
  src/docs/concepts-api-sdk/rate-limiting/index.md
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/concepts-messages/messages/index.md
  src/docs/concepts-payments/how-payment-intents-work/index.md
  src/docs/concepts-payments/off-session-payments/index.md
  src/docs/concepts-payments/payment-methods-overview/index.md
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/concepts-transactions/transaction-process/index.md
  src/docs/ftw-configuration/hosted-and-local-configurations/index.md
  src/docs/howto-events/like-feature/index.md
  src/docs/howto-events/reacting-to-events/index.md
  src/docs/howto-payments/enable-payment-intents-in-ftw/index.md
  src/docs/howto-transaction-process/edit-transaction-process-with-flex-cli/index.md
  src/docs/introduction/getting-started-with-integration-api/index.md
  src/docs/references/events/index.md
  src/docs/references/stock/index.md
  src/docs/tutorial-transaction-process/create-transaction-process/index.md
Due: prettier --print-width=72 --write

Fix a useless redirect
  src/docs/concepts-development/flex-environments/index.md
Due: prettier --print-width=72 --write

Fix renamed repo links (#772)
  src/docs/concepts-api-sdk/rate-limiting/index.md
  src/docs/concepts-messages/email-notifications/index.md
  src/docs/concepts-messages/messages/index.md
  src/docs/concepts-payments/how-payment-intents-work/index.md
  src/docs/concepts-payments/off-session-payments/index.md
  src/docs/concepts-payments/payment-methods-overview/index.md
  src/docs/concepts-payments/payments-overview/index.md
  src/docs/concepts-transactions/transaction-process/index.md
  src/docs/ftw-configuration/hosted-and-local-configurations/index.md
  src/docs/howto-events/like-feature/index.md
  src/docs/howto-events/reacting-to-events/index.md
  src/docs/howto-payments/enable-payment-intents-in-ftw/index.md
  src/docs/howto-transaction-process/edit-transaction-process-with-flex-cli/index.md
  src/docs/introduction/getting-started-with-integration-api/index.md
  src/docs/references/events/index.md
  src/docs/references/stock/index.md
  src/docs/tutorial-transaction-process/create-transaction-process/index.md
Due: prettier --print-width=72 --write

add mention of asset cdn base url
  src/docs/ftw-configuration/ftw-env/index.md
Due: prettier --print-width=72 --write

fix typo
  src/docs/howto-listing/extend-listing-data-in-ftw/index.md
Due: prettier --print-width=72 --write

add mention of asset cdn base url (#773)
  src/docs/ftw-configuration/ftw-env/index.md
  src/docs/howto-listing/extend-listing-data-in-ftw/index.md
Due: prettier --print-width=72 --write

update redirects
  vercel.json
Due: none

add a banner that links to help center
  src/components/MainLayout.js
  src/components/VersionBanner/VersionBanner.js
  src/components/index.js
Due: prettier --write

add a banner that links to help center (#774)
  src/components/MainLayout.js
  src/components/VersionBanner/VersionBanner.js
  src/components/index.js
Due: prettier --write

Add mention of includeForListingTypes attribute
  src/docs/howto-listing/extend-listing-data-in-ftw/index.md
Due: prettier --print-width=72 --write

Add mention of includeForListingTypes attribute (#775)
  src/docs/howto-listing/extend-listing-data-in-ftw/index.md
Due: prettier --print-width=72 --write

Add Reo tracking script
  gatsby-ssr.js
Due: none

Add Reo tracking script (#776)
  gatsby-ssr.js
Due: none
