Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

Fix comment syntax
  src/docs/howto-payments/how-to-integrate-3rd-party-payment-gateway/index.md
Due: prettier --print-width=72 --write

Add a note on Console configurable currency
  src/docs/ftw-configuration/how-to-set-up-currency-in-ftw/index.md
Due: prettier --print-width=72 --write

Fix a helper example in remove Stripe article
  src/docs/howto-payments/removing-stripe/index.md
Due: prettier --print-width=72 --write

Fix a helper example in remove Stripe article (#794)
  src/docs/howto-payments/removing-stripe/index.md
Due: prettier --print-width=72 --write

Fix function name in description
  src/docs/howto-payments/removing-stripe/index.md
Due: prettier --print-width=72 --write

Fix function name in description (#795)
  src/docs/howto-payments/removing-stripe/index.md
Due: prettier --print-width=72 --write

Update Favorites guide to add topbar link
  src/docs/tutorial-listings/favorite-bikes/biketribe-favorites-page-with-topbar.png
  src/docs/tutorial-listings/favorite-bikes/biketribe-usernav-favorites.png
  src/docs/tutorial-listings/favorite-bikes/console-add-topbar-link.png
  src/docs/tutorial-listings/favorite-bikes/index.md
Due: prettier --print-width=72 --write

add information on hosting mode
  src/docs/ftw-hosting/how-to-deploy-ftw-to-production/index.md
  src/docs/tutorial-branding/deploy-to-render/index.md
Due: prettier --print-width=72 --write

highlight links in banners
  src/components/Banner.js
Due: prettier --write

highlight links in banners
  package.json
  src/components/Banner.js
  yarn.lock
Due: prettier --write

remove unused imports
  src/components/Banner.js
Due: prettier --write

Highlight links (#801)
  package.json
  src/components/Banner.js
  yarn.lock
Due: prettier --write

add a mention of marketplace name env var in deploy to render article
  src/docs/tutorial-branding/deploy-to-render/index.md
Due: prettier --print-width=72 --write

add a mention of marketplace name env var in deploy to render article (#807)
  src/docs/tutorial-branding/deploy-to-render/index.md
Due: prettier --print-width=72 --write

upgrade to gatsby5
  gatsby-config.js
  package.json
  src/components/Sidebar/Sidebar.js
  src/pages/concepts.js
  src/pages/design-toolkit.js
  src/pages/how-to.js
  src/pages/introduction.js
  src/pages/pilot-day-guides.js
  src/pages/references.js
  src/pages/template.js
  src/pages/tutorial.js
  yarn.lock
Due: prettier --write

add engines to package.json
  package.json
Due: none

clean up warnings
  src/components/ArticleIndexPage/ArticleIndex.js
  src/components/ArticlePage/ArticlePage.js
  src/components/ArticlePage/Footer.js
  src/components/Breadcrumb.js
  src/components/CarouselPublicExtendedData/CarouselPublicExtendedData.js
  src/components/GlobalStyle.js
  src/components/LandingPage/LandingPage.js
  src/components/OperatorGuidesPage/OperatorGuidesArticleIndex.js
  src/components/OperatorGuidesPage/OperatorGuidesPage.js
  src/components/Topbar/Search.js
  src/components/Topbar/Topbar.js
  src/components/index.js
  src/config-site-structure.js
  src/pages/pilot-day-guides.js
  src/ui-texts.json
Due: prettier --write

upgrade to gatsby5 (#808)
  gatsby-config.js
  package.json
  src/components/ArticleIndexPage/ArticleIndex.js
  src/components/ArticlePage/ArticlePage.js
  src/components/ArticlePage/Footer.js
  src/components/Breadcrumb.js
  src/components/CarouselPublicExtendedData/CarouselPublicExtendedData.js
  src/components/GlobalStyle.js
  src/components/LandingPage/LandingPage.js
  src/components/OperatorGuidesPage/OperatorGuidesArticleIndex.js
  src/components/OperatorGuidesPage/OperatorGuidesPage.js
  src/components/Sidebar/Sidebar.js
  src/components/Topbar/Search.js
  src/components/Topbar/Topbar.js
  src/components/index.js
  src/config-site-structure.js
  src/pages/concepts.js
  src/pages/design-toolkit.js
  src/pages/how-to.js
  src/pages/introduction.js
  src/pages/pilot-day-guides.js
  src/pages/references.js
  src/pages/template.js
  src/pages/tutorial.js
  src/ui-texts.json
  yarn.lock
Due: prettier --write

testing
  src/components/ArticlePage/ArticlePage.js
Due: prettier --write

update a redirect
  vercel.json
Due: none

update all redirects
  vercel.json
Due: none

remove docsearch.js
  package.json
  yarn.lock
Due: none

remove docsearch.js (#811)
  package.json
  yarn.lock
Due: none

update carousel with category data
  src/components/CarouselPublicExtendedData/CarouselPublicExtendedData.js
  src/components/CarouselPublicExtendedData/extended-data-console-view.png
  src/components/CarouselPublicExtendedData/extended-data-details.png
  src/components/CarouselPublicExtendedData/extended-data-frontend-view.png
Due: prettier --write

update category public data key examples
  src/docs/concepts-listings/how-the-search-works/index.md
  src/docs/ftw-analytics/template-sitemap/index.md
  src/docs/howto-migrations/migrating-from-outside-sharetribe/index.md
  src/docs/howto-search/change-search-filters-in-ftw/index.md
  src/docs/howto-search/manage-search-schemas-with-flex-cli/index.md
  src/docs/references/events/index.md
Due: prettier --print-width=72 --write

add mention of marketplace name in heroku article
  src/docs/ftw-hosting/how-to-deploy-ftw-to-heroku/index.md
Due: prettier --print-width=72 --write

add information on google and facebook login env vars
  src/docs/ftw-hosting/how-to-deploy-ftw-to-production/index.md
Due: prettier --print-width=72 --write

Update documentation to explain user field configuration and asset
  src/docs/concepts-extended-data/listing-extended-data/index.md
  src/docs/concepts-extended-data/user-extended-data/index.md
  src/docs/howto-listing/extend-listing-data-in-ftw/index.md
  src/docs/howto-users-and-authentication/extend-user-data-in-template/index.md
  src/docs/references/assets/index.md
Due: prettier --print-width=72 --write

Remove obsolete file reference from seats guide
  src/docs/howto-listing/seats/index.md
Due: prettier --print-width=72 --write

Update payout related references
  src/docs/references/transaction-process-actions/index.md
Due: prettier --print-width=72 --write

Add links to Template release v5.0.0
  src/docs/concepts-extended-data/listing-extended-data/index.md
  src/docs/concepts-extended-data/user-extended-data/index.md
  src/docs/howto-listing/extend-listing-data-in-ftw/index.md
  src/docs/howto-users-and-authentication/extend-user-data-in-template/index.md
Due: prettier --print-width=72 --write

Fix broken links
  src/docs/concepts-development/microcopy/index.md
  src/docs/ftw-configuration/how-to-set-up-currency-in-ftw/index.md
  src/docs/howto-payments/how-to-integrate-3rd-party-payment-gateway/index.md
  src/docs/introduction/getting-started-with-ftw-daily/index.md
Due: prettier --print-width=72 --write

Add example to OIDC how-to article
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --print-width=72 --write

Update Apple Sign-in info box in OIDC article
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --print-width=72 --write

Fix marketplace identifying info in migration guide
  src/docs/concepts-extended-data/user-extended-data/index.md
  src/docs/howto-migrations/migrating-from-outside-sharetribe/index.md
  src/docs/howto-payments/how-to-integrate-3rd-party-payment-gateway/index.md
  src/docs/howto-users-and-authentication/extend-user-data-in-template/index.md
Due: prettier --print-width=72 --write

Fix marketplace identifying info in migration guide (#815)
  src/docs/concepts-extended-data/user-extended-data/index.md
  src/docs/howto-migrations/migrating-from-outside-sharetribe/index.md
  src/docs/howto-payments/how-to-integrate-3rd-party-payment-gateway/index.md
  src/docs/howto-users-and-authentication/extend-user-data-in-template/index.md
Due: prettier --print-width=72 --write

Update template styling article
  src/docs/ftw-styling/how-to-customize-ftw-styles/index.md
Due: prettier --print-width=72 --write

Update OIDC proxy article
  src/docs/howto-users-and-authentication/setup-oidc-proxy/index.md
  static/tutorial-assets/github.js
Due: prettier --print-width=72 --write

Consolidate identity provider specific information in OIDC article
  src/docs/howto-users-and-authentication/enable-open-id-connect-login/index.md
Due: prettier --print-width=72 --write

Add troubleshooting tips to OIDC proxy article
  src/docs/howto-users-and-authentication/setup-oidc-proxy/index.md
Due: prettier --print-width=72 --write

Path conditions:
  prettier --write: (((any of: src/**/*.js) or (any of: gatsby-config.js)) or (any of: gatsby-node.js)) or (any of: gatsby-browser.js)
  prettier --print-width=72 --write: (any of: src/**/*.md) or (any of: docs/**/*.md)
