Repository sharetribe/flex-docs: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, prettier --print-width=72 --write

.lintstagedrc:

{
    "src/**/*.js": [
        "prettier --write"
    ],
    "gatsby-config.js": [
        "prettier --write"
    ],
    "gatsby-node.js": [
        "prettier --write"
    ],
    "gatsby-browser.js": [
        "prettier --write"
    ],
    "src/**/*.md": [
        "prettier --print-width=72 --write"
    ],
    "docs/**/*.md": [
        "prettier --print-width=72 --write"
    ]
}

Lots of edits to tutorial articles
  src/config-site-structure.js
  src/docs/the-new-sharetribe/Basic-configuration-configure-commission-and-minimum-listing-price/index.md
  src/docs/the-new-sharetribe/Explore-the-marketplace-sign-up-as-a-new-user/index.md
  src/docs/the-new-sharetribe/Introduction to Rental tutorial/index.md
  src/docs/the-new-sharetribe/basic-configuration-layout/index.md
  src/docs/the-new-sharetribe/explore-the-marketplace-create-your-first-listing/index.md
  src/docs/the-new-sharetribe/explore-the-marketplace-create-your-first-transaction/index.md
  src/docs/the-new-sharetribe/listing-settings-creating-listing-fields/index.md
  src/docs/the-new-sharetribe/listing-settings-customizing-listing-search/index.md
  src/docs/the-new-sharetribe/lsiting-settings-setting-the-right-listing-type/index.md
  src/docs/the-new-sharetribe/static-content-changing-the-marketplace-default-texts/index.md
  src/docs/the-new-sharetribe/static-content-editing-the-footer/index.md
Due: prettier --write, prettier --print-width=72 --write

Initial article
  src/docs/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/01-export-users-link.png
  src/docs/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/02-export-users-sheet.png
  src/docs/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/03-user-descriptions.png
  src/docs/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/04-export-listings-sheet.png
  src/docs/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/05-listing-descriptions.png
  src/docs/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/06-export-transactions-sheet.png
  src/docs/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/07-transaction-descriptions.png
  src/docs/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/08-export-reviews-sheet.png
  src/docs/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/09-review-descriptions.png
  src/docs/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/csv-column-descriptions.numbers
  src/docs/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/index.md
Due: prettier --print-width=72 --write

removing duplicate article
  src/docs/operator-guides-concepts/can-i-trust-that-flex-scales-to-my-needs/index.md
  src/docs/operator-guides-useful-information/Key terms and defintions /index.md
Due: prettier --print-width=72 --write

fixes to category
  src/docs/the-new-sharetribe/How to go Live/index.md
  src/docs/the-new-sharetribe/explore-the-marketplace-create-your-first-transaction/index.md
Due: prettier --print-width=72 --write

fixes
  src/docs/tutorial-rental/basic-configuration-marketplace-branding/index.md
  src/docs/tutorial-rental/listing-settings-setting-the-right-listing-type/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/the-new-sharetribe/static-content-modify-the-landing-page/index.md
Due: prettier --print-width=72 --write

fix broken links
  src/docs/the-new-sharetribe/Basic-configuration-configure-commission-and-minimum-listing-price/index.md
Due: prettier --print-width=72 --write

hide article on index page if published flag is false
  src/components/OperatorGuidesPage/OperatorGuidesArticleIndex.js
Due: prettier --write

Lots of edits to the pilot day tutorial
  src/config-site-structure.js
  src/docs/the-new-sharetribe/Basic-configuration-configure-commission-and-minimum-listing-price/index.md
  src/docs/the-new-sharetribe/Explore-the-marketplace-sign-up-as-a-new-user/index.md
  src/docs/the-new-sharetribe/Introduction to Rental tutorial/index.md
  src/docs/the-new-sharetribe/explore-the-marketplace-create-your-first-listing/index.md
  src/docs/the-new-sharetribe/explore-the-marketplace-create-your-first-transaction/index.md
  src/docs/the-new-sharetribe/listing-settings-creating-listing-fields/index.md
  src/docs/the-new-sharetribe/listing-settings-customizing-listing-search/index.md
  src/docs/the-new-sharetribe/lsiting-settings-setting-the-right-listing-type/index.md
  src/docs/the-new-sharetribe/static-content-changing-the-marketplace-default-texts/index.md
  src/docs/the-new-sharetribe/static-content-editing-the-footer/index.md
  src/docs/the-new-sharetribe/steps-after-tutorial/index.md
  src/docs/tutorial-product/index.md
  src/docs/tutorial-service/index.md
Due: prettier --write, prettier --print-width=72 --write

fix missing noindex tags
  src/docs/the-new-sharetribe/Explore-the-marketplace-sign-up-as-a-new-user/index.md
  src/docs/the-new-sharetribe/explore-the-marketplace-create-your-first-listing/index.md
  src/docs/the-new-sharetribe/explore-the-marketplace-create-your-first-transaction/index.md
  src/docs/the-new-sharetribe/steps-after-tutorial/index.md
Due: prettier --print-width=72 --write

omit the-new-sharetribe from the sitemap
  gatsby-config.js
Due: prettier --write

remove product and service tutorial pages
  src/pages/tutorial-product.js
  src/pages/tutorial-service.js
Due: prettier --write

add missing comma in sitempa configuration
  gatsby-config.js
Due: prettier --write

add noindex to stripe article
  src/docs/the-new-sharetribe/How to setup Stripe /index.md
Due: prettier --print-width=72 --write

hotfix
  src/docs/the-new-sharetribe/Basic-configuration-configure-commission-and-minimum-listing-price/index.md
Due: prettier --print-width=72 --write

hotfix (#705)
  src/docs/the-new-sharetribe/Basic-configuration-configure-commission-and-minimum-listing-price/index.md
Due: prettier --print-width=72 --write

Fixes to tutorial article about landing page
  src/docs/the-new-sharetribe/tutorial-landing-pag/index.md
Due: prettier --print-width=72 --write

First draft of the article
  src/docs/operator-guides-listings/requiring-approval-for-new-listings/01-Console-approve-new-listings.png
  src/docs/operator-guides-listings/requiring-approval-for-new-listings/02-listing-pending-approval-console.png
  src/docs/operator-guides-listings/requiring-approval-for-new-listings/03-approve-listing-console.png
  src/docs/operator-guides-listings/requiring-approval-for-new-listings/04-post-new-listing-as-seller.png
  src/docs/operator-guides-listings/requiring-approval-for-new-listings/05-publish-listing.png
  src/docs/operator-guides-listings/requiring-approval-for-new-listings/06-listing-pending-approval-seller.png
  src/docs/operator-guides-listings/requiring-approval-for-new-listings/index.md
Due: prettier --print-width=72 --write

Remove heading
  src/docs/operator-guides-transactions/default-transaction-process-options/index.md
Due: prettier --print-width=72 --write

Update based on Tom's review
  src/docs/operator-guides-concepts/logging-in-as-user/index.md
Due: prettier --print-width=72 --write

CSV export, listing approval, and login as user articles
  src/docs/pilot-day-guides/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/01-export-users-link.png
  src/docs/pilot-day-guides/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/02-export-users-sheet.png
  src/docs/pilot-day-guides/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/03-user-descriptions.png
  src/docs/pilot-day-guides/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/04-export-listings-sheet.png
  src/docs/pilot-day-guides/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/05-listing-descriptions.png
  src/docs/pilot-day-guides/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/06-export-transactions-sheet.png
  src/docs/pilot-day-guides/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/07-transaction-descriptions.png
  src/docs/pilot-day-guides/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/08-export-reviews-sheet.png
  src/docs/pilot-day-guides/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/09-review-descriptions.png
  src/docs/pilot-day-guides/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/csv-column-descriptions.numbers
  src/docs/pilot-day-guides/operator-guides-concepts/how-to-use-csv-exports-on-sharetribe/index.md
  src/docs/pilot-day-guides/operator-guides-concepts/logging-in-as-user/01-manage-users-login-as-user.png
  src/docs/pilot-day-guides/operator-guides-concepts/logging-in-as-user/02-logged-in-as-user.png
  src/docs/pilot-day-guides/operator-guides-concepts/logging-in-as-user/index.md
  src/docs/pilot-day-guides/operator-guides-listings/requiring-approval-for-new-listings/01-Console-approve-new-listings.png
  src/docs/pilot-day-guides/operator-guides-listings/requiring-approval-for-new-listings/02-listing-pending-approval-console.png
  src/docs/pilot-day-guides/operator-guides-listings/requiring-approval-for-new-listings/03-approve-listing-console.png
  src/docs/pilot-day-guides/operator-guides-listings/requiring-approval-for-new-listings/04-post-new-listing-as-seller.png
  src/docs/pilot-day-guides/operator-guides-listings/requiring-approval-for-new-listings/05-publish-listing.png
  src/docs/pilot-day-guides/operator-guides-listings/requiring-approval-for-new-listings/06-listing-pending-approval-seller.png
  src/docs/pilot-day-guides/operator-guides-listings/requiring-approval-for-new-listings/index.md
Due: prettier --print-width=72 --write

Remove reference to the CLI
  src/docs/operator-guides-listings/requiring-approval-for-new-listings/index.md
Due: prettier --print-width=72 --write

Update index.md
  src/docs/operator-guides-listings/requiring-approval-for-new-listings/index.md
Due: prettier --print-width=72 --write

commiting changes to categories
  src/config-site-structure.js
  src/pages/the-new-sharetribe.js
  src/ui-texts.json
Due: prettier --write

making change to error
  src/config-site-structure.js
Due: prettier --write

changes
  src/config-site-structure.js
  src/ui-texts.json
Due: prettier --write

Update config-site-structure.js
  src/config-site-structure.js
Due: prettier --write

Update ui-texts.json
  src/ui-texts.json
Due: none

changings to tns branding
  src/config-site-structure.js
  src/docs/the-new-sharetribe-branding/how-to-add-good-looking-logos-and-images/background-image.png
  src/docs/the-new-sharetribe-branding/how-to-add-good-looking-logos-and-images/favicon.png
  src/docs/the-new-sharetribe-branding/how-to-add-good-looking-logos-and-images/index.md
  src/docs/the-new-sharetribe-branding/introduction-to-marketplace-images/background-image.png
  src/docs/the-new-sharetribe-branding/introduction-to-marketplace-images/biketribe-social-facebook.png
  src/docs/the-new-sharetribe-branding/introduction-to-marketplace-images/biketribe-social.png
  src/docs/the-new-sharetribe-branding/introduction-to-marketplace-images/favicon.png
  src/docs/the-new-sharetribe-branding/introduction-to-marketplace-images/index.md
  src/docs/the-new-sharetribe-branding/introduction-to-marketplace-images/logo.png
  src/pages/the-new-sharetribe.js
  src/ui-texts.json
Due: prettier --write, prettier --print-width=72 --write
